<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

    <head>
        <title th:text="#{screen.consent.review.header}"></title>

        <script th:src="@{#{webjars.datatables.jquery.datatablesmin.js}}"></script>
        <script th:src="@{#{webjars.datatables.datatables.bootstrapmin.js}}"></script>
        <script type="text/javascript" th:inline="javascript">
            var urls = {
                delete: /*[[@{/consent/deleteConsentDecision}]]*/,
                getConsentDecisions: /*[[@{/consent/getConsentDecisions}]]*/
            };
            var strings = {
                error: /*[[#{screen.consent.review.error}]]*/,
                success: /*[[#{screen.consent.review.success}]]*/,                
                delete: /*[[#{screen.consent.review.delete}]]*/,
                confirm: /*[[#{screen.consent.review.confirm}]]*/,
                yes: /*[[#{screen.consent.review.yes}]]*/,
                no: /*[[#{screen.consent.review.no}]]*/,
                data: {
                    search: /*[[#{screen.consent.review.data.search}]]*/,
                    zerorecords: /*[[#{screen.consent.review.data.zerorecords}]]*/,
                    info: /*[[#{screen.consent.review.data.info}]]*/,
                    infofiltered: /*[[#{screen.consent.review.data.infofiltered}]]*/
                }
            };
            function jqueryReady() {
            head.load(
                    /*[[@{/js/consentReview.js}]]*/
                    );
            };
        </script>
    </head>

    <body id="cas">
        <div layout:fragment="content">
            <link rel="stylesheet" th:href="@{/css/consentReview.css}"/>

            <div id="content">

                <div class=" panel panel-default consentOverview">
                    <div class="panel-heading">
                        <h4 th:utext="#{screen.consent.review.header}"/>                        
                    </div>
                    <div class="panel-body">
                         <div id="loadingMessage">
                            <h3 th:text="#{screen.consent.review.loading}"/>
                        </div>

                        <div id="no-consent-decisions">
                            <h3 th:text="#{screen.consent.review.noconsentdecisions}"/><p/>
                        </div>

                        <div id="consent-decisons">
                            <div id="alertWrapper"></div>
                            <table id="consentDecisions" class="display table table-striped table-hover">
                                <thead/>
                                <tbody>
                                    <tr class="info hidden">
                                        <td class="info" colspan="3">
                                            <div>
                                                <table class="table table-bordered row-detail">
                                                    <tbody>
                                                        <tr>
                                                            <td class="field-label active consent-created-date-label col-3" th:utext="#{screen.consent.review.createddate}"/>
                                                            <td class="created-date"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="field-label active consent-reminder-label col-3" th:utext="#{screen.consent.review.reminder}"></td>
                                                            <td class="consent-reminder">
                                                                <span class="seconds" th:utext="#{screen.consent.review.timeunit.seconds}"/>
                                                                <span class="minutes" th:utext="#{screen.consent.review.timeunit.minutes}"/>
                                                                <span class="hours" th:utext="#{screen.consent.review.timeunit.hours}"/>
                                                                <span class="days" th:utext="#{screen.consent.review.timeunit.days}"/>
                                                                <span class="weeks" th:utext="#{screen.consent.review.timeunit.weeks}"/>
                                                                <span class="months" th:utext="#{screen.consent.review.timeunit.months}"/>
                                                                <span class="years" th:utext="#{screen.consent.review.timeunit.years}"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="field-label active consent-option-label col-3" th:utext="#{screen.consent.review.option}"/>
                                                            <td class="consent-options">
                                                                <span class="attribute-name label label-default" th:utext="#{screen.consent.review.options.attributename}"
                                                                      th:title="#{screen.consent.review.options.desc.attributename}" data-toggle="tooltip" data-placement="bottom"/>
                                                                <span class="attribute-value label label-default" th:utext="#{screen.consent.review.options.attributevalue}"
                                                                      th:title="#{screen.consent.review.options.desc.attributevalue}" data-toggle="tooltip" data-placement="bottom"/>
                                                                <span class="always label label-default" th:utext="#{screen.consent.review.options.always}"
                                                                      th:title="#{screen.consent.review.options.desc.always}" data-toggle="tooltip" data-placement="bottom"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="field-label active consent-attributes-label col-3" th:utext="#{screen.consent.review.attributes}"/>
                                                            <td>
                                                                <table class="table table-striped table-bordered consent-attributes">
                                                                    <thead>
                                                                        <tr>
                                                                            <th th:text="#{screen.consent.review.attribute}"/>
                                                                            <th th:text="#{screen.consent.review.values}"/>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <button type="button" name="logout" id="logout" class="btn btn-primary" th:utext="'<strong>' + #{screen.welcome.button.logout} + '</strong>'"/>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
