<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title th:text="#{cas.login.pagetitle}"></title>
</head>

<body id="cas">
<div layout:fragment="content">
    <div class="box fl-panel" id="login">

        <form method="post" id="fm1" class="fm-v clearfix">
            <div class="row fl-controls-left">
                <label for="username" th:utext="#{screen.welcome.label.netid}"/>
                <input class="required"
                       type="password"
                       id="username"
                       name="username"
                       size="25"
                       tabindex="2"
                       th:accesskey="#{screen.welcome.label.netid.accesskey}"
                       autocomplete="off"/>
                <div>
                    <p/>
                </div>
                <input class="btn-submit" name="_eventId_submit" accesskey="l"
                       th:value="#{screen.welcome.button.login}" tabindex="4" type="submit"/>
            </div>
            <div class="row btn-row">
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            </div>
        </form>
    </div>
</div>
</body>

</html>
