<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.login.pagetitle}">CAS Acceptable Use Policy View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />

</head>   

<body class="login">
    <main role="main" class="container-fluid mt-3 mb-3">
        <div layout:fragment="content" class="row">
            <div id="loginForm"
                 th:if="${@casThymeleafLoginFormDirector.isLoginFormViewable(#vars)}">
                <div th:replace="fragments/loginform :: loginform">
                    <a href="fragments/loginform.html">Login Form goes here</a>
                </div>
            </div>
            <div id="providers" style="display: none;">
                <div th:replace="fragments/loginProviders :: loginProviders">
                    <a href="fragments/loginProviders.html">loginProviders</a>
                </div>
            </div>

            <div id="acceptto" class="col" th:if="${accepttoApplicationId}">
                <div th:replace="fragments/accepttoQRCode :: accepttoQRCode">
                    <a href="fragments/accepttoQRCode.html">accepttoQRCode</a>
                </div>
                <script>
                    $('#loginForm').addClass("col");
                </script>
            </div>

            <script>
                if ($('#list-providers').length) {
                    $('#providers').addClass("col");
                    $('#loginForm').addClass("col");
                    $('#providers').show();
                }
            </script>

        </div>
    </main>
</body>
</html>
