<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title th:text="#{screen.success.header}"></title>
</head>

<body id="cas">
<div layout:fragment="content">
    <div class="alert alert-success">
        <h2 th:utext="#{screen.pm.success.header}"/>
        <p th:utext="#{screen.pm.success.message}"/>

        <div>
            <br/>
            <form method="post" id="form" class="fm-v clearfix" th:action="@{/login}" >
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                <input type="hidden" name="_eventId" value="proceed"/>
                <input class="btn btn-submit" name="continue" accesskey="l"
                       th:value="#{screen.welcome.button.login}" tabindex="4" type="submit"/>
            </form>
        </div>

    </div>
</div>
</body>
</html>
