<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title th:text="#{screen.pm.reset.title}"></title>
</head>

<body id="cas">
<div layout:fragment="content">
    <div class="box fl-panel" id="reset">

        <div>
            <h3 th:utext="#{screen.pm.reset.title}"/>
            <span th:utext="#{screen.pm.reset.instructions}"/>
            <p/><p/>
        </div>
        <form method="post" id="fm1" class="fm-v clearfix">
            <div class="row btn-row">
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                <input type="hidden" name="_eventId" value="findAccount"/>
            </div>
            <div class="row fl-controls-left">
                <label for="username" class="fl-label" th:utext="#{screen.pm.reset.username}"/>
                <input type="text" class="required form-control form-control-lg" id="username" name="username" size="45" tabindex="1"/>
                <div>
                    <br/>
                    <input class="btn btn-submit btn-lg" accesskey="s"
                           th:value="#{screen.pm.button.submit}" tabindex="2" type="submit"/>
                    &nbsp;
                    <input
                            class="btn btn-danger btn-lg"
                            name="cancel"
                            accesskey="c"
                            th:value="#{screen.pm.button.cancel}"
                            type="button"
                            onclick="location.href = location.href;"/>
                </div>
            </div>

        </form>
        <p/>
    </div>

    <script type="text/javascript" th:inline="javascript">
        var i = [[#{screen.welcome.button.loginwip}]]
        $("#fm1").submit(function() {
            $(":submit").attr("disabled", true);
            $(":submit").attr("value", i);
            return true;
        });
    </script>
</div>
</body>
</html>
