<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title th:text="#{screen.pm.reset.title}"></title>
</head>

<body id="cas">
<div layout:fragment="content">
    <div>
        <h2 th:utext="#{screen.pm.reset.qstitle}"/>
        <p th:utext="#{screen.pm.reset.qsmsg(${username})}"/>
        <p/>
        <p/>
    </div>

    <form method="post" id="fm1" class="fm-v clearfix">
        <div class="row btn-row">
            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            <input type="hidden" name="_eventId" value="submit"/>
            <input type="hidden" name="username" th:value="${username}"/>
            <input type="hidden" name="token" th:value="${token}"/>
        </div>
        <div class="row fl-controls-left">

            <table width="100%" th:if="${questionsEnabled}">
                <tr th:each="q : ${questions}">
                    <td th:utext="${q}"></td>
                    <td>
                        <input type="password" class="required" th:name="${'q' + qStat.index}" size="45"/>
                    </td>
                </tr>
            </table>

            <div>
                <br/>
                <input class="btn btn-submit" accesskey="s"
                       th:value="#{screen.pm.button.submit}" tabindex="2" type="submit"/>
            </div>
        </div>

    </form>
</div>
</body>
</html>
