<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title th:text="#{cas.mfa.yubikey.pagetitle}"></title>
</head>

<body id="cas">
<div layout:fragment="content">
    <div class="box fl-panel" id="login">

        <form method="post" id="yubiKeyForm" class="fm-v clearfix" th:object="${credential}">
            <div class="alert alert-info">
                <p th:text="#{cas.mfa.yubikey.authenticate}"/>
            </div>

            <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                <span th:each="err : ${#fields.errors('*')}" th:utext="${err}"/>
            </div>

            <div class="row fl-controls-left">
                <label for="token" class="fl-label" th:utext="#{screen.welcome.label.password}"/>

                <input type="password" class="required" id="token" size="25" tabindex="1"
                       th:field="*{token}"
                       th:accesskey="#{screen.welcome.label.password.accesskey}" autocomplete="off"/>

                <div>
                    <br/>
                    <input class="btn btn-submit" name="_eventId_submit" accesskey="l"
                           th:value="#{screen.welcome.button.login}" tabindex="2" type="submit"/>
                </div>
            </div>
            <div class="row btn-row">
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                <input type="hidden" name="geolocation"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>
