<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title th:text="#{screen.unavailable.header}"></title>

    <script th:inline="javascript">
        /*<![CDATA[*/

        function showErrorDetails() {
            $("#errorMsg").hide();
            $("#errorDetails").empty();
            $("#errorDetails").append("<p><pre style='white-space: pre-wrap;'>" + /*[[${#strings.escapeXml(trace)}]]*/ +"</pre></p>");
        }
        /*]]>*/
    </script>
</head>

<body id="cas">
<div layout:fragment="content">
    <div class="alert alert-danger">
        <h2 th:utext="#{screen.unavailable.heading(${status},${error})}"/>
        <p th:utext="#{screen.unavailable.message}"/>
        <pre id="errorMsg" style="white-space: pre-wrap;" th:text="${'Error: ' + message}"/>
        <p id="errorDetails">
            <button type="button" class="btn btn-shutdown"
                    onclick="showErrorDetails();">View Details
            </button>
        </p>
    </div>
</div>
</body>
</html>
