

<div *ngIf="!isOidc && !isWsFed">
  <mat-card class="tabCard">
    <mat-card-title>
      <h5 i18n>Attribute Release Policy</h5>
    </mat-card-title>
    <div class="cardContent">
      <app-attribute-release-policies></app-attribute-release-policies>
    </div>
  </mat-card>
  <mat-card class="tabCard">
    <mat-card-title>
      <h5 i18n>Attribute Release Options</h5>
    </mat-card-title>
    <div class="cardContent">
      <app-attribute-release-checks></app-attribute-release-checks>
    </div>
  </mat-card>
  <mat-card class="tabCard">
    <mat-card-title>
      <h5 i18n>Attribute Release Consent</h5>
    </mat-card-title>
    <div class="cardContent">
      <app-attribute-release-consent></app-attribute-release-consent>
    </div>
  </mat-card>
  <mat-card class="tabCard">
    <mat-card-title>
      <h5 i18n>Atrribute Value Filters</h5>
    </mat-card-title>
    <div class="cardContent">
      <app-attribute-release-filters></app-attribute-release-filters>
    </div>
  </mat-card>
  <mat-card class="tabCard">
    <mat-card-title>
      <h5>Principal Attribute Repository</h5>
    </mat-card-title>
    <div class="cardContent">
      <app-attribute-release-principal-repo></app-attribute-release-principal-repo>
    </div>
  </mat-card>
</div>


<div *ngIf="isOidc">
  <mat-card class="tabCard">
    <mat-card-title>
      <h5 i18n>Attribute Release Options</h5>
    </mat-card-title>
    <div class="cardContent">
      <div>
        <mat-form-field class="textInput">
          <mat-select multiple
                      i18n-placeholder="services.form.label.oidc.scopes"
                      [placeholder]="messages.services_form_label_oidc_scopes"
                      [(ngModel)]="oidcService.scopes">
            <mat-option *ngFor="let opt of data.formData.oidcScopes" [value]="opt.value">{{ opt.display }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-icon style="font-size: medium"
                  i18n-matTooltip="services.form.tooltip.oidc.scopes"
                  [matTooltip]="messages.services_form_tooltip_oidc_scopes">help
        </mat-icon>
      </div>
    </div>
  </mat-card>
</div>

<div *ngIf="isWsFed">
  <mat-card class="tabCard">
    <mat-card-title>
      <h5 i18n>Attribute Release Options</h5>
    </mat-card-title>
    <div class="cardContent">
      <app-attribute-release-principal-repo></app-attribute-release-principal-repo>
      <app-wsfedattrrelpolicies></app-wsfedattrrelpolicies>
    </div>
  </mat-card>
</div>
