<!-- Rejected Attributes Table-->
<div class="form-group">
    <label for="unauthorizedRedirectUrl" class="col-sm-4" th:inline="text">
        [[#{services.form.label.sas.rejectedattributes}]]
        <i class="fa fa-lg fa-question-circle form-tooltip-icon no-float"
           data-toggle="tooltip"
           data-placement="top"
           th:title="#{services.form.tooltip.sas.rejectedattributes}"></i>
    </label>
    <div class="col-sm-8">
        <!-- Todo: add table -->
        Add table here...

        <!--
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>attribute name</th>
                <th>attribute value</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>blah</td>
                <td>blah</td>
                <td>
                    <button class="btn btn-success"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-danger"><i class="fa fa-minus"></i></button>
                </td>
            </tr>
            <tr>
                <td>blah</td>
                <td>blah</td>
                <td>
                    <button class="btn btn-success"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-danger"><i class="fa fa-minus"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
        -->

<!--
        <table ng-table="vm.tableParams" class="table editable-table" show-filter="true">
            <tr ng-repeat="user in $data">
                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                    {{user.name}}</td>
                <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
                    {{user.age}}</td>
            </tr>
        </table>
-->
    </div>
</div>