<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout(mainContentClass='container-xxl')}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>

    <link rel="stylesheet" type="text/css" th:href="@{#{webjars.highlight.css}}" />
    <script type="text/javascript" th:src="@{#{webjars.highlight.js}}"></script>
</head>

<body id="cas">
<main role="main" class="container-xxl mt-3 mb-3">
    <div layout:fragment="content">
        <script type="text/javascript">
            function jqueryReady() {
                if (window.location.hash) {
                    console.log(`Fragment ${window.location.hash}`)
                    showPanel(window.location.hash);
                } else {
                    showPanel("#divOverview");
                }
            }

            function showPanel(element) {
                $('div.profile-content').hide();
                $(element).show();
            }
        </script>


        <div class="mdc-card card w-lg-100 p-4" style="min-height: 400px">
            <table>
                <tr>
                    <td style="position: fixed;">
                        <div th:replace="fragments/accountprofilenavigation :: navigation">
                            <a href="fragments/accountprofilenavigation.html">Fragment goes here</a>
                        </div>
                    </td>
                    <td width="85%">
                        <div th:replace="fragments/accountprofileoverview :: overview">
                            <a href="fragments/accountprofileoverview.html">Fragment goes here</a>
                        </div>

                        <div th:replace="fragments/accountprofilemfadevices :: mfadevices">
                            <a href="fragments/accountprofilemfadevices.html">Fragment goes here</a>
                        </div>

                        <div th:replace="fragments/accountprofileauditlog :: auditlog">
                            <a href="fragments/accountprofileauditlog.html">Fragment goes here</a>
                        </div>
                        
                        <div th:replace="fragments/accountprofilesecurityquestions :: securityquestions">
                            <a href="fragments/accountprofilesecurityquestions.html">Fragment goes here</a>
                        </div>

                        <div th:replace="fragments/accountprofileapplications :: applications">
                            <a href="fragments/accountprofileapplications.html">Fragment goes here</a>
                        </div>
                        <div th:replace="fragments/accountprofilesessions :: sessions">
                            <a href="fragments/accountprofilesessions.html">Fragment goes here</a>
                        </div>

                        <div th:replace="fragments/accountprofileconsent :: consent">
                            <a href="fragments/accountprofileconsent.html">Fragment goes here</a>
                        </div>
                        
                        <div th:replace="fragments/accountprofileattributes :: attributes">
                            <a href="fragments/accountprofileattributes.html">Fragment goes here</a>
                        </div>
                        
                    </td>
                </tr>
            </table>
        </div>


    </div>
</main>
</body>
</html>
