.classpath
!/.project
.project
.history
.settings
target
test-output/
bin/
out/
*.ipr
*.iml
*.iws
*.orig
.idea/
.DS_Store
.idea
overlays/
pom.xml.versionsBackup
*.log
_site
**/.checkstyle
.gradle/
**/build/
classes
*.jar
*.MF
build/
*.war
