argfile*
.classpath
!/.project
.project
.settings
target
test-output/
bin/
*.ipr
*.iml
*.iws
**/.history
*.orig
.idea/
.DS_Store
.idea
overlays/
pom.xml.versionsBackup
build.xml
*.log
rebel.xml
**/.checkstyle
*.log.gz
node_modules/
gruntfile.js
nodejs
.gradle/
build/
MANIFEST.MF
classes/
*.bin

**/tomcat/
out
ajcore.*
reports

webapp/resources/static/css/*
*.asc
/.nb-gradle/
etc/loadtests/loadtests/**
etc/loadtests/locustfiles/**
etc/loadtests/__pycache__/**
webapp/resources/static/js/*-bundle.js
**/k/
**/dist/
