lombok.log.fieldName=LOGGER
lombok.log.fieldIsStatic=true

lombok.toString.doNotUseGetters=true
lombok.equalsAndHashCode.doNotUseGetters=true
          
lombok.addLombokGeneratedAnnotation = true

config.stopBubbling=true

lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonIgnore
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonProperty
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonCreator

