<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title th:text="#{cas.login.pagetitle}">Passwordless Display View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
    <main role="main" class="container mt-3 mb-3">
        <div layout:fragment="content" id="login" class="mdc-card mdc-card-content w-lg-50 p-4 m-auto">
            <h3>Provide Token</h3>
            <p>Please provide the security token sent to you via email, phone, etc. Note that the token is valid for
                only a brief
                window and upon submission, all other tokens will be invalidated and removed.</p>
            <div class="banner banner-danger mb-2" th:if="${error}">
                <strong>Authentication Failure</strong>
                <p>The provided token could not be verified. It may have been invalidated, removed or expired.</p>
            </div>
            <form method="post" id="fm1" class="d-block" th:action="@{/login}">
                <input type="hidden" name="_eventId_submit" value="LOGIN" />
                <input type="hidden" name="execution" th:value="${flowExecutionKey}" />
                <section class="cas-field my-3 mdc-input-group">
                    <div class="mdc-input-group-field mdc-input-group-field-append">
                        <div class="d-flex caps-check">
                           
                            <label for="token"
                                   class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
                                <input class="mdc-text-field__input pwd"
                                       type="password"
                                       name="token"
                                       id="token"
                                       size="25"
                                       autocomplete="off" required />
                                <span class="mdc-notched-outline">
                                    <span class="mdc-notched-outline__leading"></span>
                                    <span class="mdc-notched-outline__notch">
                                      <span class="mdc-floating-label" th:utext="#{screen.welcome.label.token}">Token</span>
                                    </span>
                                    <span class="mdc-notched-outline__trailing"></span>
                                </span>

                            </label>
                            
                        </div>
                        <div class="mdc-text-field-helper-line caps-warn">
                            <p
                                class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg text-danger">
                                <span th:utext="#{screen.capslock.on}" />
                            </p>
                        </div>
                    </div>
                    <button class="reveal-password mdc-button mdc-button--raised mdc-input-group-append mdc-icon-button"
                        type="button">
                        <i class="mdi mdi-eye reveal-password-icon"></i>
                        <span class="sr-only">Toggle Token</span>
                    </button>
                </section>
                <div class="d-flex">
                    <button class="mdc-button mdc-button--raised" accesskey="l" type="submit">
                        <span class="mdc-button__label" th:text="#{screen.welcome.button.login}">Login</span>
                    </button>
                    <a class="mdc-button mdc-button--outlined" id="cancel" name="cancel" th:href="@{/login}">
                        <span class="mdc-button__label" th:text="#{screen.consent.cancel}">Cancel</span>
                    </a>
                </div>
            </form>
        </div>
    </main>
</body>

</html>
