.casmgmt-form {

    label {
        padding-top: 7px;
    }

    .form-tooltip-icon {
        float: right;
        padding-top: 5px;
        color: @brand-info;
        &:hover {
            color: lighten(@brand-info, 10%);
        }
    }

    .radio-group {
        margin-bottom: 10px;
    }
}
