<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%white(%d{yyyy-MM-dd HH:mm:ss}) %highlight(%-5level) %cyan(%logger{15}) - %msg%n</Pattern>
        </layout>
    </appender>
    <logger name="ch.qos.logback" level="off"/>
    
    <logger name="org.apereo.cas" level="info" />
    <Logger name="PROTOCOL_MESSAGE" level="info" />

    <logger name="org.apereo.inspektr" level="info" />
    <logger name="org.springframework.boot" level="info" />
    <logger name="org.springframework.webflow" level="info"/>

    <logger name="org.springframework.security" level="warn" />
    <logger name="org.springframework.data" level="warn" />
    
    <logger name="com.hazelcast" level="warn" />
    <logger name="org.pac4j" level="warn" />
    <logger name="org.apache.catalina" level="warn" />
    <logger name="org.apache.tomcat" level="warn" />
    <logger name="org.quartz" level="warn"/>
    <logger name="org.thymeleaf" level="warn" />
    <logger name="org.opensaml" level="warn"/>
    <logger name="org.ldaptive" level="warn"/>
    <logger name="org.apache.cxf" level="warn" />
    <logger name="org.apache.http" level="warn" />

    <logger name="org.springframework.security.config.annotation.web.builders" level="error" />
    <Logger name="org.springframework.boot.diagnostics" level="debug"/>

    <root level="warn">
        <appender-ref ref="console" />
    </root>
</configuration>
