<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="fragments/head">
    <title>CAS Dashboard</title>
</head>

<body id="cas">
<div id="container">
    <div th:replace="fragments/logo"/>

    <div id="content">

        <div class="viewDashboard">

            <div class="app-launcher">
                <h2><i class="fa fa-dashboard"></i>CAS Dashboard</h2>
                <ul>
                    <li><a href="/cas/status">Status</a></li>
                    <li><a href="/cas/status/autoconfig">Auto Configuration</a></li>
                    <li><a href="/cas/status/beans">Beans</a></li>
                    <li><a href="/cas/status/mappings">Endpoint Mappings</a></li>
                    <li><a href="/cas/status/configprops">Configuration Properties</a></li>
                    <li><a href="/cas/status/dump">Thread Dump</a></li>
                    <li><a href="/cas/status/env">Environment</a></li>
                    <li><a href="/cas/status/health">Health</a></li>
                    <li><a href="/cas/status/info">Info</a></li>
                    <li><a href="/cas/status/metrics">Metrics</a></li>
                    <li><a href="/cas/status/stats">Statistics Panel</a></li>
                    <li><a href="/cas/status/config">Configuration Panel</a></li>
                    <li><a href="/cas/status/ssosessions">SSO Sessions</a></li>
                </ul>
            </div>
            <div class="app-launcher server-config">
                <h2><i class="fa fa-cogs"></i>Configuration Server</h2>
                <ul class="configserver">
                    <li><a href="/cas/configserver/cas/default">Default Profile</a></li>
                    <li><a href="/cas/configserver/cas/native">Native Profile</a></li>
                </ul>
            </div>

            <div class="server-functions">
                <h2><i class="fa fa-server"></i>Server Functions</h2>
                <ul>
                    <li>
                        <form method="post" action="/cas/status/restart">
                            <button class="btn btn-restart" type="submit"><i class="fa fa-undo"></i>Restart</button>
                        </form>
                    </li>
                    <li>
                        <form method="post" action="/cas/status/refresh">
                            <button class="btn btn-refresh" type="submit"><i class="fa fa-refresh"></i>Refresh</button>
                        </form>
                    </li>
                    <li>
                        <form method="post" action="/cas/status/shutdown">
                            <button class="btn btn-shutdown" type="submit"><i class="fa fa-power-off"></i>Shutdown
                            </button>
                        </form>

                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div th:include="fragments/footer"/>
</div>
<div th:include="fragments/bottom"/>
</body>
</html>
