<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:include="fragments/top"/>

<body id="cas">
<div id="container">
    <div th:include="fragments/logo"/>

    <div id="content">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/cupertino/jquery-ui.css"/>
        <link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.6/integration/jqueryui/dataTables.jqueryui.css" />

        <script type="text/javascript" th:inline="javascript">
            var urls = {
                getConfiguration: /*[[@{/status/env}]]*/
            };
            
            function jqueryReady() {                
                head.load(
                        // Bootstrap Datables CSS
                        "//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css",
                        "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css",
                        "//cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css"
                );

                head.load(
                        // JS Libraries
                        "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js",

                        // Bootstrap Datatables
                        "//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js",
                        "//cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js",
                        /*[[@{/js/viewConfig.js}]]*/ 
                );
            }
        </script>

        <div class="viewConfig">
            <div id="loadingMessage"><h3 th:text="#{cas.viewconfig.loading}" /></div>


            <div id="viewConfigError">
                <h2 th:text="#{cas.viewconfig.errormessage}"></h2>
                <div>
                    <input class="btn btn-success" type="button" onclick="location.reload();" 
                           th:value="#{cas.viewconfig.button.refresh}"/>
                </div>
            </div>

            <div id="view-configuration">
                <div id="alertWrapper"/>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><span class="glyphicon glyphicon-cog" aria-hidden="true"/> 
                            <span th:text="#{cas.viewconfig.pagetitle}" />
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div id="containers-table" class="container-fluid">
                            <div id="msg" style="display:none"/>
                            <table id="viewConfigsTable" class="display table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th th:text="#{cas.viewconfig.table.column.key}" />
                                    <th th:text="#{cas.viewconfig.table.column.value}" />
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <div id="login">
                    <input class="btn-submit" type="button" onclick="location.reload();" 
                           th:value="#{cas.viewconfig.button.refresh}" />
                </div>
            </div>

        </div>
    </div>
    <div th:include="fragments/footer"/>
</div>
</body>
<div th:include="fragments/bottom"/>
</html>
