# Main LDAP context source definition
contextSource.url=ldaps://target.ldap.server
#contextSource.userDn=
#contextSource.password=

# LDAP context source used to test SASL/DIGEST-MD5
saslMd5ContextSource.url=ldaps://target.ldap.server

# Settings for org.jasig.cas.adaptors.ldap.BindLdapAuthenticationHandler
bindAuthHandler.filter=uid=%u
bindAuthHandler.searchBase=dc=yournamespace,dc=edu

# Define test data for bind authentication test
bindTestConfig.existsCredential=testuser
bindTestConfig.existsSuccessPassword=RealPasswordHere
bindTestConfig.existsFailurePassword=BadPassword
bindTestConfig.notExistsCredential=nobody123

# Settings for org.jasig.cas.adaptors.ldap.FastBindLdapAuthenticationHandler
fastBindAuthHandler.filter=uid=%u,ou=people,dc=yournamespace,dc=edu

# Define test data for fast bind authentication test
fastBindTestConfig.existsCredential=testuser
fastBindTestConfig.existsSuccessPassword=RealPasswordHere
fastBindTestConfig.existsFailurePassword=BadPassword
fastBindTestConfig.notExistsCredential=nobody123

# Settings for the
# org.jasig.cas.adaptors.ldap.FastBindLdapAuthenticationHandler
# that handles SASL/DIGEST-MD5 authentication
saslMd5FastBindAuthHandler.filter=%u

# Define test data for fast bind MD5 authentication test
saslMd5FastBindTestConfig.existsCredential=testuser
saslMd5FastBindTestConfig.existsSuccessPassword=RealPasswordHere

# Settings for
# org.jasig.cas.authentication.principal.CredentialsToLDAPAttributePrincipalResolver
ldapResolver.filter=uid=%u
ldapResolver.principalAttributeName=eduPersonPrincipalName
ldapResolver.searchBase=ou=people,dc=yournamespace,dc=edu

# Settings for
# org.jasig.cas.authentication.principal.ResolverTestConfig
# that define the test data for unit test of ldapResolver above
resolverTestConfig.existsCredential="testuser"
resolverTestConfig.existsPrincipal="testuser@yournamespace.edu"
resolverTestConfig.notExistsCredential="nobody123"
resolverTestConfig.tooManyCredential="K*"

