/*@import url(https://fonts.googleapis.com/css?family=Lato);*/
@import url(https://fonts.googleapis.com/css?family=Lato:700,400,300,100);
* {
  box-sizing: border-box; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr,
address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

body {
  font-size: 14px;
  font-family: Verdana, sans-serif;
  line-height: 1.4em;
  background: #eee; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

#container {
  width: 960px;
  margin: 0 auto; }

@media screen and (min-width: 960px) {
  #container {
    width: 960px; } }

@media screen and (min-width: 1280px) {
  #ssosessions-page #container {
    width: 1280px; } }

@media only screen and (max-width: 960px) {
  #container {
    width: 100%; }
  #content {
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; } }

body#cas {
  background: #010203;
  /* Old browsers */ }

a:link, a:visited {
  color: #257bb2; }

a:hover {
  color: #a0b757; }

p {
  margin-bottom: 1.4em; }

header {
  overflow: hidden;
  padding: 20px 0; }

#logo {
  display: block;
  background: url(../images/apereo-logo.png) no-repeat;
  text-indent: -999em;
  float: left;
  height: 100px;
  width: 80%;
  margin-right: 40px;
  border: 0px;
  color: white; }

header h1 {
  float: right;
  width: 119px;
  height: 60px;
  background: url(../images/cas-logo.png) no-repeat;
  text-indent: -999em;
  color: white; }

#content {
  overflow: hidden;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

#msg {
  padding: 20px;
  margin-bottom: 40px; }

#msg.errors {
  border: 1px dotted #BB0000;
  color: #BB0000;
  padding-left: 100px;
  background: url(../images/error.png) no-repeat 20px center; }

#msg.success {
  border: 1px dotted #390;
  color: #390;
  padding-left: 100px;
  background: url(../images/success.png) no-repeat 20px center; }

#msg.info {
  border: 1px dotted #008;
  color: #008;
  padding-left: 100px;
  background: url(../images/info.png) no-repeat 20px center; }

#msg.question {
  border: 1px dotted #390;
  color: #390;
  padding-left: 100px;
  background: url(../images/question.png) no-repeat 20px center; }

#msg.warn {
  border: 1px dotted #960;
  color: #960;
  padding-left: 100px;
  background: #ffbc8f url(../images/info.png) no-repeat 20px center; }

.errors {
  border: 1px dotted #BB0000;
  color: #BB0000;
  padding-left: 100px;
  padding-top: 5px;
  margin-bottom: 5px;
  background: url(../images/error.png) no-repeat 20px center; }

#serviceui.serviceinfo {
  border: 1px dotted #0066FF;
  color: black;
  padding-left: 10px;
  padding-top: 5px; }

#servicedesc {
  vertical-align: middle;
  padding-left: 30px;
  width: 90%; }

/*
 * CAS default overrides
 */
.login #content {
  background: transparent;
  display: table;
  border-radius: 3px;
  padding: 20px 0; }

#login {
  width: 50%;
  padding: 30px;
  background-color: #efefef;
  border-radius: 4px;
  display: table-cell;
  overflow: hidden;
  vertical-align: top; }
#login .login-header {
  text-align: center;
  padding: 20px;
  background-color: #d5d5d5;
  margin: -30px;
  margin-bottom: 10px; }
#login .login-header h2 {
  font-weight: 300;
  color: black;
  font-family: Lato;
  margin-top: 0; }
#login .login-header .fa-circle {
  color: #1490b3; }
#login form > h2 {
  display: none; }
#login .row {
  margin: 20px 0; }
#login label {
  display: block;
  margin-bottom: 2px; }
#login .check label {
  display: inline; }
#login input[type=text], #login input[type=password] {
  font-size: 1.4em;
  padding: 5px;
  width: 100%; }
#login .btn-row {
  text-align: right; }
#login .btn-submit {
  background: #70ba61;
  border: 0;
  padding: 10px 25px;
  font-weight: normal;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 1.25em; }
#login .btn-reset {
  background: #eee;
  padding: 10px 20px;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: none; }
#login .btn-submit:hover, #login .btn-reset:hover {
  cursor: pointer; }
#login .btn-submit:hover {
  background: #7fd36e; }
#login .btn-reset:hover {
  background: #d4d4d4; }

#capslock-on {
  color: firebrick; }

#sidebar {
  width: auto; }

#list-providers ul {
  margin-bottom: 3em; }

#list-languages h3, #list-providers h3 {
  margin-bottom: 1.4em; }

#list-languages ul li, #list-providers ul li {
  list-style: none;
  display: inline-block;
  margin-right: 2em; }

#notices {
  display: table-cell;
  padding-left: 30px;
  width: 50%;
  margin-left: 10px; }
#notices h2 {
  font-size: 1.25em; }
#notices p {
  font-size: 10pt; }
#notices ul.list-group .fa {
  margin-right: 7px; }
#notices #serviceui h2 {
  margin-top: 0; }
#notices .well h3 {
  margin-top: 0; }
#notices .well ul.list-group {
  margin-bottom: 0; }

footer {
  padding: 20px;
  color: white; }

footer a:link, footer a:visited {
  color: white; }

@media only screen and (max-width: 960px) {
  header {
    padding: 20px; }
  #container {
    width: 100%; }
  #content {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; } }

@media only screen and (max-width: 855px) {
  #logo {
    display: none; }
  header h1 {
    font-size: 1em;
    width: 70px;
    height: 40px;
    background-size: 70px 40px; }
  #login {
    float: none;
    width: 100%; }
  #fm1 .row input[type=text],
  #fm1 .row input[type=password] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }
  #fm1 .row .btn-submit {
    outline: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 0;
    background: #70ba61;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 10px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  #fm1 .row .btn-reset {
    display: none; }
  #sidebar {
    margin-top: 20px; }
  #sidebar .sidebar-content {
    padding: 0; } }

/**
 * SSO Sessions Styles
 */
#loadingMessage {
  font-size: 14px; }

#cas-sessions, #no-cas-sessions {
  display: none; }

#no-cas-sessions div {
  margin-top: 2em; }

.ssoSessions #content {
  border-radius: 4px;
  padding: 20px; }

#container-stable {
  margin: 20px 0 20px; }

.ssoSessions .btn-success {
  background: #70ba61;
  border: 0;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.ssoSessions .sorting_desc, .ssoSessions .sorting_asc {
  background-color: rgba(239, 239, 239, 0.8); }

.ssoSessions #removeAllSessionsButton.btn .badge {
  color: #000;
  padding-right: 9px; }

.ssoSessions .adminPanels {
  border-bottom: 1px solid #efefef;
  margin-bottom: 2em;
  margin-top: 1em;
  padding-bottom: 1em; }

.ssoSessions .adminPanels .panel-default > .panel-heading {
  background-color: #fff;
  border-bottom: none; }

.ssoSessions .adminPanels .panel-default > .panel-heading h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20pt; }

.ssoSessions .adminPanels .panel-default > .panel-heading:after {
  position: absolute;
  font-family: FontAwesome;
  top: -5px;
  right: 30px;
  font-size: 70pt;
  color: #153e50;
  opacity: 0.1; }

.adminPanels .users-panel.panel-default > .panel-heading:after {
  content: "\f0c0"; }

.adminPanels .usage-panel.panel-default > .panel-heading:after {
  content: "\f201"; }

.adminPanels .tickets-panel.panel-default > .panel-heading:after {
  content: "\f145"; }

.ssoSessions td.details-control {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 10pt;
  color: #337ab7; }

.ssoSessions td.details-control:after {
  content: "\f067";
  /*content: "\002B"; - thinner plus sign */ }

.ssoSessions tr.shown td.details-control:after {
  content: "\f068";
  /*content: "\002D"; - thinner minus sign */ }

.row-detail-wrapper {
  /*background-color: cornsilk;*/
  background-color: #d9edf7; }

.ssoSessions .row-detail thead {
  display: none; }

.ssoSessions .row-detail {
  /*font-size: 8pt;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.ssoSessions .field-label {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-size: 8pt;*/
  /*font-weight: bold;*/ }

.principal_attributes td:first-child {
  width: 30%; }

table.principal_attributes > tbody > tr > td {
  border-top-color: #E6E6E6; }

.adminPanels .panel-body {
  padding-top: 5px; }

.adminPanels .panel-body span {
  font-family: 'Lato', sans-serif;
  font-size: 30pt;
  font-weight: 100; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

#alertBox {
  display: none; }

.alert-default {
  color: #333;
  background-color: #dedede;
  border-color: #3d3d3d; }

/**
 SB Admin Styles
 */
.huge {
  font-size: 30pt;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

.semi-huge {
  font-size: 18pt;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

/**
 * Statistics View
 */
.statisticsView {
  display: none; }

.statisticsView .progress-meter .background {
  fill: #DFEAFD; }

.statisticsView .progress-meter .foreground {
  fill: #2E7AF9; }

.statisticsView .progress-meter text {
  font-family: 'Lato' sans-serif;
  font-size: 25pt;
  font-weight: 300; }

.statisticsView .progress-meter .text2 {
  font-family: 'Georgia' sans-serif;
  font-size: 10pt; }

.modal {
  display: none; }

/**
 * Runtime Statistics Gauge styles
 */
.statisticsView .runtimeStatistics .background {
  fill: #DFEAFD; }

.statisticsView .runtimeStatistics .foreground {
  fill: #2E7AF9; }

.statisticsView .runtimeStatistics text {
  font-family: 'Lato' sans-serif;
  font-size: 25pt;
  font-weight: 300; }

.statisticsView .runtimeStatistics .text2 {
  font-family: 'Georgia' sans-serif;
  font-size: 10pt; }

#uptime-panel {
  display: none; }

#uptime {
  font-family: 'Lato', sans-serif;
  font-size: 16pt; }

.thread-dump-view {
  height: 600px;
  overflow-y: auto; }

#metricsGauges strong {
  display: block; }

#metricsGauges .panel {
  width: 100%; }

#metricsGauges ul {
  height: auto;
  overflow: hidden; }

#metricsGauges li {
  float: left;
  width: 80px;
  height: 80px;
  margin: 0 0 10px 10px;
  background: #d8d8d8; }

#metricsGauges ul li:nth-child(5n + 1) {
  clear: left; }

.statisticsView .equal, .statisticsView .equal > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto; }

.statisticsView .section {
  margin-bottom: 25px; }

#viewSsoSessions {
  color: white; }

.statisticsView .adminPanels.container-fluid {
  padding-right: 0; }

/**
 * View Configuration Styles
 */
#viewConfigError {
  display: none; }

#view-configuration {
  display: none; }

.viewDashboard h2 {
  font-size: 2rem;
  margin-left: 10px;
  border-bottom: solid 1px #efefef;
  padding-bottom: 5px;
  margin-bottom: 10px; }
.viewDashboard h2 i {
  font-size: 2.3rem; }

.viewDashboard > div {
  clear: both; }

.viewDashboard ul {
  list-style: none;
  margin: 0;
  padding: 0;
  clear: both; }
.viewDashboard ul li {
  list-style: none;
  position: relative; }

.viewDashboard .app-launcher {
  clear: both;
  overflow: auto;
  margin-bottom: 2em; }
.viewDashboard .app-launcher ul li {
  margin: 10px;
  width: 140px;
  height: 140px;
  float: left;
  border: 5px solid #ccc;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  text-align: center;
  background-color: #efefef;
  border-radius: 50%;
  transition: box-shadow 0.5s ease;
  display: table; }
.viewDashboard .app-launcher ul li:hover, .viewDashboard .app-launcher ul li:focus, .viewDashboard .app-launcher ul li:active {
  box-shadow: 0px 0px 20px rgba(20, 144, 179, 0.8);
  border-color: white; }
.viewDashboard .app-launcher ul li a {
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
  transition: font-weight .2s ease-out;
  border-radius: 50%;
  color: #045183; }
.viewDashboard .app-launcher ul li a:hover, .viewDashboard .app-launcher ul li a:focus {
  color: white;
  background-color: #1490b3; }

.viewDashboard .server-functions ul li {
  display: inline-block;
  margin: 10px; }

.viewDashboard .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px; }
.viewDashboard .btn:focus, .viewDashboard .btn.focus, .viewDashboard .btn:active:focus, .viewDashboard .btn:active.focus, .viewDashboard .btn.active:focus, .viewDashboard .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
.viewDashboard .btn:hover, .viewDashboard .btn:focus, .viewDashboard .btn.focus {
  color: #333;
  text-decoration: none; }
.viewDashboard .btn:active, .viewDashboard .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.viewDashboard .btn.disabled, .viewDashboard .btn[disabled],
fieldset[disabled] .viewDashboard .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none; }

.viewDashboard a.btn.disabled,
fieldset[disabled] .viewDashboard a.btn {
  pointer-events: none; }

.viewDashboard .btn-restart {
  color: #fff;
  background-color: #2d872d;
  border-color: #277427; }
.viewDashboard .btn-restart:focus, .viewDashboard .btn-restart.focus {
  color: #fff;
  background-color: #206120;
  border-color: #071407; }
.viewDashboard .btn-restart:hover {
  color: #fff;
  background-color: #206120;
  border-color: #174617; }
.viewDashboard .btn-restart:active, .viewDashboard .btn-restart.active,
.open > .viewDashboard .btn-restart.dropdown-toggle {
  color: #fff;
  background-color: #206120;
  border-color: #174617; }
.viewDashboard .btn-restart:active:hover, .viewDashboard .btn-restart:active:focus, .viewDashboard .btn-restart:active.focus, .viewDashboard .btn-restart.active:hover, .viewDashboard .btn-restart.active:focus, .viewDashboard .btn-restart.active.focus,
.open > .viewDashboard .btn-restart.dropdown-toggle:hover,
.open > .viewDashboard .btn-restart.dropdown-toggle:focus,
.open > .viewDashboard .btn-restart.dropdown-toggle.focus {
  color: #fff;
  background-color: #174617;
  border-color: #071407; }
.viewDashboard .btn-restart:active, .viewDashboard .btn-restart.active,
.open > .viewDashboard .btn-restart.dropdown-toggle {
  background-image: none; }
.viewDashboard .btn-restart.disabled:hover, .viewDashboard .btn-restart.disabled:focus, .viewDashboard .btn-restart.disabled.focus, .viewDashboard .btn-restart[disabled]:hover, .viewDashboard .btn-restart[disabled]:focus, .viewDashboard .btn-restart[disabled].focus,
fieldset[disabled] .viewDashboard .btn-restart:hover,
fieldset[disabled] .viewDashboard .btn-restart:focus,
fieldset[disabled] .viewDashboard .btn-restart.focus {
  background-color: #2d872d;
  border-color: #277427; }
.viewDashboard .btn-restart .badge {
  color: #2d872d;
  background-color: #fff; }

.viewDashboard .btn-refresh {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; }
.viewDashboard .btn-refresh:focus, .viewDashboard .btn-refresh.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d; }
.viewDashboard .btn-refresh:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512; }
.viewDashboard .btn-refresh:active, .viewDashboard .btn-refresh.active,
.open > .viewDashboard .btn-refresh.dropdown-toggle {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512; }
.viewDashboard .btn-refresh:active:hover, .viewDashboard .btn-refresh:active:focus, .viewDashboard .btn-refresh:active.focus, .viewDashboard .btn-refresh.active:hover, .viewDashboard .btn-refresh.active:focus, .viewDashboard .btn-refresh.active.focus,
.open > .viewDashboard .btn-refresh.dropdown-toggle:hover,
.open > .viewDashboard .btn-refresh.dropdown-toggle:focus,
.open > .viewDashboard .btn-refresh.dropdown-toggle.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d; }
.viewDashboard .btn-refresh:active, .viewDashboard .btn-refresh.active,
.open > .viewDashboard .btn-refresh.dropdown-toggle {
  background-image: none; }
.viewDashboard .btn-refresh.disabled:hover, .viewDashboard .btn-refresh.disabled:focus, .viewDashboard .btn-refresh.disabled.focus, .viewDashboard .btn-refresh[disabled]:hover, .viewDashboard .btn-refresh[disabled]:focus, .viewDashboard .btn-refresh[disabled].focus,
fieldset[disabled] .viewDashboard .btn-refresh:hover,
fieldset[disabled] .viewDashboard .btn-refresh:focus,
fieldset[disabled] .viewDashboard .btn-refresh.focus {
  background-color: #f0ad4e;
  border-color: #eea236; }
.viewDashboard .btn-refresh .badge {
  color: #f0ad4e;
  background-color: #fff; }

.viewDashboard .btn-shutdown {
  color: #fff;
  background-color: #c74b47;
  border-color: #bb3d39; }
.viewDashboard .btn-shutdown:focus, .viewDashboard .btn-shutdown.focus {
  color: #fff;
  background-color: #a83733;
  border-color: #5a1d1b; }
.viewDashboard .btn-shutdown:hover {
  color: #fff;
  background-color: #a83733;
  border-color: #8d2e2b; }
.viewDashboard .btn-shutdown:active, .viewDashboard .btn-shutdown.active,
.open > .viewDashboard .btn-shutdown.dropdown-toggle {
  color: #fff;
  background-color: #a83733;
  border-color: #8d2e2b; }
.viewDashboard .btn-shutdown:active:hover, .viewDashboard .btn-shutdown:active:focus, .viewDashboard .btn-shutdown:active.focus, .viewDashboard .btn-shutdown.active:hover, .viewDashboard .btn-shutdown.active:focus, .viewDashboard .btn-shutdown.active.focus,
.open > .viewDashboard .btn-shutdown.dropdown-toggle:hover,
.open > .viewDashboard .btn-shutdown.dropdown-toggle:focus,
.open > .viewDashboard .btn-shutdown.dropdown-toggle.focus {
  color: #fff;
  background-color: #8d2e2b;
  border-color: #5a1d1b; }
.viewDashboard .btn-shutdown:active, .viewDashboard .btn-shutdown.active,
.open > .viewDashboard .btn-shutdown.dropdown-toggle {
  background-image: none; }
.viewDashboard .btn-shutdown.disabled:hover, .viewDashboard .btn-shutdown.disabled:focus, .viewDashboard .btn-shutdown.disabled.focus, .viewDashboard .btn-shutdown[disabled]:hover, .viewDashboard .btn-shutdown[disabled]:focus, .viewDashboard .btn-shutdown[disabled].focus,
fieldset[disabled] .viewDashboard .btn-shutdown:hover,
fieldset[disabled] .viewDashboard .btn-shutdown:focus,
fieldset[disabled] .viewDashboard .btn-shutdown.focus {
  background-color: #c74b47;
  border-color: #bb3d39; }
.viewDashboard .btn-shutdown .badge {
  color: #c74b47;
  background-color: #fff; }
