.bs-hide {
    display: none;
}

label.mdc-text-field {
    margin-bottom: 0;
}

.reveal-password {
    margin-left: 0.375rem;
}

.mdc-input-group-field, .mdc-text-field {
    width: 100%;
}

.text-small {
    font-size: 80%;
}

.caps-warn {
    display: none;
}

.caps-on .caps-warn {
    display: block;
}

.mdc-checkbox__background {
    display: none;
}

#duo_iframe {
    width: 100%;
    min-width: 304px;
    height: 330px;
    border: none;
    padding: 0;
    margin: 0;
}