<div>
  <md-form-field class="textInput">
    <input mdInput
           i18n-placeholder="services.form.label.informationUrl"
           [placeholder]="messages.services_form_label_informationUrl"
           [(ngModel)]="data.service.informationUrl">
  </md-form-field>
  <md-icon style="font-size: medium"
           i18n-mdTooltip="services.form.tooltip.informationUrl"
           [mdTooltip]="messages.services_form_tooltip_informationUrl">help
  </md-icon>
</div>

<div>
  <md-form-field class="textInput">
    <input mdInput
           i18n-placeholder="services.form.label.privacyUrl"
           [placeholder]="messages.services_form_label_privacyUrl"
           [(ngModel)]="data.service.privacyUrl">
  </md-form-field>
  <md-icon style="font-size: medium"
           i18n-mdTooltip="services.form.tooltip.privacyUrl"
           [mdTooltip]="messages.services_form_tooltip_privacyUrl">help
  </md-icon>
</div>
