<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:component-scan base-package="org.jasig.cas" />
    <context:component-scan base-package="org.pac4j.springframework.web" />
    <mvc:annotation-driven />
    
    <!-- 
    Security Context Configuration 
    -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/callback*" />
            <mvc:exclude-mapping path="/logout*" />
            <mvc:exclude-mapping path="/authorizationFailure.html" />
            <ref bean="casManagementSecurityInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 
    Audit Context Configuration 
    -->
    <aop:aspectj-autoproxy/>
    <util:map id="auditActionResolverMap">
        <entry key="DELETE_SERVICE_ACTION_RESOLVER">
            <ref bean="deleteServiceActionResolver" />
        </entry>
        <entry key="SAVE_SERVICE_ACTION_RESOLVER">
            <ref bean="saveServiceActionResolver" />
        </entry>
    </util:map>

    <util:map id="auditResourceResolverMap">
        <entry key="DELETE_SERVICE_RESOURCE_RESOLVER">
            <ref bean="deleteServiceResourceResolver" />
        </entry>
        <entry key="SAVE_SERVICE_RESOURCE_RESOLVER">
            <ref bean="saveServiceResourceResolver" />
        </entry>
    </util:map>
    
    <!--
    CAS Core Context Configuration
    -->
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
    <alias name="anyAuthenticationPolicy" alias="authenticationPolicy" />
    <alias name="defaultTicketRegistry" alias="ticketRegistry" />
    <alias name="ticketGrantingTicketExpirationPolicy" alias="grantingTicketExpirationPolicy" />
    <alias name="acceptAnyAuthenticationPolicyFactory" alias="authenticationPolicyFactory" />
    <alias name="defaultPrincipalFactory" alias="principalFactory" />
    <alias name="defaultAuthenticationTransactionManager" alias="authenticationTransactionManager" />
    <alias name="defaultPrincipalElectionStrategy" alias="principalElectionStrategy" />
    <util:map id="authenticationHandlersResolvers"/>
    <util:list id="authenticationMetadataPopulators" />
    <util:list id="monitorsList" />
    <util:map id="uniqueIdGeneratorsMap"/>
    <util:list id="serviceFactoryList" />
</beans>
