<?xml version="1.0" encoding="UTF-8"?>
<configuration>
        <!-- First appender: Standard output -->
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
                </encoder>
        </appender>

        <!-- Replace name with the client's actual package name.
             For our package, level will be set to DEBUG.
             Everything else will use whatever is set in the root level.
             We will be logging everything in our package to both
             STDOUT and FILE appenders. -->
        <logger name="ThreadAwareSecurityManager" level="DEBUG" additivity="false">
                <appender-ref ref="STDOUT" />
        </logger>

        <logger name="STANDARD_OUT" level="DEBUG" additivity="false">
                <appender-ref ref="STDOUT" />
        </logger>

        <logger name="STANDARD_ERROR" level="DEBUG" additivity="false">
                <appender-ref ref="STDOUT" />
        </logger>

        <!-- Level of everything else is set to INFO -->
        <root level="DEBUG">
                <appender-ref ref="STDOUT" />
        </root>
</configuration>