<?xml version="1.0" encoding="UTF-8" ?>
<Configuration shutdownHook="disable">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d %p [%c] - &lt;%m&gt;%n}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apereo" level="error"/>
        <Logger name="org.apache.http" level="warn"/>

        <!-- Required for test coverage on statements that execute conditionally on debug -->
        <Logger name="org.apereo.cas.authentication.policy" level="warn" additivity="false"/>

        <Root level="off">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
