<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.login.pagetitle}">Passwordless Display View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" id="login">
        <div class="alert alert-info">
            <strong>Provide Token</strong>
            <p>
                Please provide the security token sent to you via email, phone, etc. Note that the token is valid for only a brief window and
                upon submission, all other tokens will be invalidated and removed.</p>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" th:if="${error}">
            <strong>Authentication Failure</strong>
            <p>The provided token could not be verified. It may have been invalidated, removed or expired.</p>
        </div>
        <form method="post" id="fm1" class="fm-v clearfix" th:action="@{/login}">

            <section class="form-group">
                <label for="token">Token:</label>
                <div class="input-group">
                    <input class="form-control required pwd"
                           type="password"
                           id="token"
                           name="token"
                           size="25"
                           tabindex="2"
                           autocomplete="off"
                           required/>
                    <span class="input-group-btn">
                        <button class="btn btn-default reveal-password" type="button">
                            <i class="fa fa-eye reveal-password-icon reveal-password-icon" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </section>
            <div>
                <p/>
            </div>

            <input class="btn btn-submit" accesskey="l" th:value="#{screen.welcome.button.login}" tabindex="4" type="submit"/>
            &nbsp;
            <a class="btn btn-warning" id="cancel" name="cancel" th:href="@{/login}">Cancel</a>
            <input type="hidden" name="_eventId_submit" value="LOGIN"/>

            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
        </form>
    </div>
</main>
</body>

</html>
