<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title th:text="#{screen.pm.reset.title}">Reset Password Verify Questions View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
    <main role="main" class="container mt-3 mb-3">
        <div layout:fragment="content" class="mdc-card">
            <div class="p-4">
                <h2 th:utext="#{screen.pm.reset.qstitle}">Answer Security Questions</h2>
                <p th:utext="#{screen.pm.reset.qsmsg(${username})}">Welcome <strong>{0}</strong>. Before you can reset
                    your password, you must answer the following security questions.</p>
            </div>
            <form method="post" id="fm1">
                <div class="p-4">
                    <input type="hidden" name="execution" th:value="${flowExecutionKey}" />
                    <input type="hidden" name="_eventId" value="submit" />
                    <input type="hidden" name="username" th:value="${username}" />
                    <input type="hidden" name="token" th:value="${token}" />

                    <div class="form-group">
                        <table width="100%" th:if="${questionsEnabled}" class="table">
                            <tr th:each="q : ${questions}">
                                <td th:text="${q}">Question text</td>
                                <td>
                                    <div class="mdc-text-field mdc-text-field--outlined">
                                        <input type="password" class="mdc-text-field__input" required
                                            th:name="${'q' + qStat.index}" size="45" />
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button
                                        class="mdc-button mdc-button--raised mdc-card__action mdc-card__action--button mr-2"
                                        accesskey="s" th:attr="data-processing-text=#{screen.welcome.button.loginwip}"
                                        th:value="#{screen.pm.button.submit}" type="submit" value="SUBMIT">
                                        <span class="mdc-button__label"
                                            th:text="#{screen.pm.button.submit}">SUBMIT</span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>

</html>