fieldset {
	border-top:solid 1px #ccc;
	border-bottom:0;
	border-right:0;
	border-left:0;
	margin:0;
	padding:0;
	padding-bottom: 1.5em;
	}
form{
	display: inline;
	}
.accesskey {text-decoration:underline;}	
fieldset div {padding-top:10px;}

legend {color:#066;}

input, select,textarea {
	font-family:monospace;
	font-size:11px;
	margin:0;
	padding:0;
	}

#content .button {
	padding:3px 0px;
	font-size:11px;
	width:11em;
	cursor:pointer;
	}

label {
	margin:0 5px 0 0;
	font-weight:bold;
	cursor:pointer;
	}

.required {background:#ffc;}
.important {color:#b00;font-family:monospace;font-weight:bold;font-size:1.2em;}
.evenrow {background-color:#eee;}

table .appHeadingRow th {
	border-top:5px solid #ccc;
	background-color:#666;
	color:#fff;
	text-align:left;
	padding:0 0 0 2px;
	}


#content .button#add {background:#d0d0d0 url(../images/arrowd.gif) right center  no-repeat scroll;}
#content .button#update {background:#d0d0d0 url(../images/update.gif) right center  no-repeat scroll;margin-top:10px;}
