<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ch.qos.logback" level="off" />
    <logger name="org.springframework.boot.autoconfigure.security" level="info" />
    <logger name="org.springframework.web.client" level="warn" />
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
