<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Web AuthN Login View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
    
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" id="login">
        <div th:replace="fragments/webAuthnLogin :: webAuthnLogin">
            <a href="fragments/webAuthnLogin.html">webAuthnLogin</a>
        </div>
    </div>
</main>
</body>
</html>
