<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Web AuthN Registration View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>

    <script type="text/javascript" th:src="@{#{webjars.text-encoding.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.text-encoding-indexes.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.whatwg-fetch.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.base64.js}}"></script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var appId = /*[[${webauthnApplicationId}]]*/;
        /*]]>*/
    </script>
    <script th:src="@{/js/webauthn/webauthn.js}"></script>

</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" id="login">
    </div>
</main>
</body>
</html>
