<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Licensed to Jasig under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Jasig licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License.  You may obtain a
    copy of the License at the following location:

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!--
      This default ConsoleAppender is used to logger all NON perf4j messages
      to System.out
    -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - &lt;%m&gt;%n"/>
        </layout>
    </appender>

    <appender name="cas-management" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="cas-management.log" />
        <param name="MaxFileSize" value="512KB" />
        <param name="MaxBackupIndex" value="3" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - %m%n"/>
        </layout>
    </appender>

    <!--
        WARNING: Setting the org.springframework logger to DEBUG displays debug information about
        the request parameter values being bound to the command objects.  This could expose your
        password in the logger file.  If you are sharing your logger files, it is recommend you selectively
        apply DEBUG level logging on a an org.springframework.* package level (i.e. org.springframework.dao)
    -->
    <logger name="org.springframework">
        <level value="WARN" />
    </logger>

    <logger name="org.jasig" additivity="true">
        <level value="INFO" />
        <appender-ref ref="cas-management" />
    </logger>

    <logger name="com.github.inspektr.audit.support.Slf4jLoggingAuditTrailManager">
        <level value="INFO" />
        <appender-ref ref="cas-management" />
    </logger>

    <!--
      The root logger sends all logger statements EXCEPT those sent to the perf4j
      logger to System.out.
    -->
    <root>
        <level value="ERROR" />
        <appender-ref ref="console" />
    </root>
</log4j:configuration>
