<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title th:text="#{cas.oauth.confirm.pagetitle}"></title>
</head>

<body id="cas">
    <div layout:fragment="content" class="banner banner-success mdc-card card p-4 m-auto w-lg-66">
        <h2 th:text="#{screen.oauth.confirm.header}" />
        <p th:text="#{screen.oauth.confirm.message(${serviceName})}" />
        <p>
            <a class="mdc-button mdc-button--raised btn btn-primary" id="allow" name="allow" th:href="@{${callbackUrl}}">
                <span class="mdc-button__label" th:text="#{screen.oauth.confirm.allow}">Allow</span>
            </a>
        </p>
    </div>
</body>

</html>