<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Central Authentication Service</title>

        <link rel="stylesheet" th:href="@{#{webjars.fontawesomemin.css}}"/>
        <link rel="stylesheet" th:href="@{${#themes.code('cas.admin.css.file')}}" />

        <script type="text/javascript" th:src="@{#{webjars.jquerymin.js}}"></script>
        <script type="text/javascript" th:src="@{#{webjars.semanticui.semantic.js}}"></script>
        <script type="text/javascript" th:src="@{#{webjars.jqueryui.js}}"></script>
        <script type="text/javascript" th:src="@{#{webjars.jquerycookie.js}}"></script>

        <script th:src="@{#{webjars.bootstrapmin.js}}"></script>

        <script th:src="@{#{webjars.datatables.jquery.datatablesmin.js}}"></script>
        <script th:src="@{#{webjars.datatables.datatables.bootstrapmin.js}}"></script>
        <script th:src="@{#{webjars.mindmup.editable-table.js}}"></script>

        <script th:inline="javascript">
            /*<![CDATA[*/

            var trackGeoLocation = /*[[${trackGeoLocation}]]*/ === "true";

            /*]]>*/
        </script>
    </head>

    <body>
        <div th:replace="fragments/header :: header">
            <a href="fragments/header.html">Header</a> fragment will go here
        </div>


        <main role="main" class="container">
            <div layout:fragment="content" id="content">
                CAS content will go here
            </div>
        </main>

        <div th:replace="fragments/footer :: footer">
            <a href="fragments/footer.html">Footer</a> fragment will go here
        </div>

        <script th:replace="monitoring/fragments/scripts"/>

    </body>
</html>
