<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Central Authentication Service</title>

        <link rel="stylesheet" th:href="@{#{webjars.fontawesomemin.css}}"/>
        <link type="text/css" rel="stylesheet" th:href="@{#{webjars.bootstrapmin.css}}"/>
        <link rel="stylesheet" th:href="@{${#themes.code('admin.custom.css.file')}}" />
        
        <script type="text/javascript" th:src="@{#{webjars.jquerymin.js}}"></script>
        <script type="text/javascript" th:src="@{#{webjars.semanticui.semantic.js}}"></script>
        <script type="text/javascript" th:src="@{#{webjars.jqueryui.js}}"></script>
        <script type="text/javascript" th:src="@{#{webjars.jquerycookie.js}}"></script>

        <script th:src="@{#{webjars.bootstrapmin.js}}"></script>

        <script th:src="@{#{webjars.datatables.jquery.datatablesmin.js}}"></script>
        <script th:src="@{#{webjars.datatables.datatables.bootstrapmin.js}}"></script>
        <script th:src="@{#{webjars.mindmup.editable-table.js}}"></script>

        <script th:inline="javascript">
            /*<![CDATA[*/

            var trackGeoLocation = /*[[${trackGeoLocation}]]*/ === "true";

            /*]]>*/
        </script>
    </head>

    <body>
        <!--/* Standard layout can be mixed with Layout Dialect */-->
        <div id="container" class="container">
            <div th:replace="fragments/logo"/>
            <div layout:fragment="content" id="content" class="clearfix">
                <h1/>
                <p/>
            </div>

            <div th:replace="fragments/footer"/>
        </div>
        <div th:insert="fragments/bottom"/>

    </body>
</html>
