<!-- fragment:keep -->

{% assign min = 1 %}
{% assign max = 999999 %}
{% assign diff = max | minus: min %}

{% assign rbrace = "}" %}
{% assign lbrace = "{" %}

{% assign modules = include.modules | split: "," %}
{% assign excludes = include.excludes | split: "," %}
{% assign includes = include.includes | split: "," %}
{% assign properties = include.properties | split: "," %}
{% assign thirdParty = include.thirdParty | split: "," %}
{% assign thirdPartyExactMatch = include.thirdPartyExactMatch | split: "," %}
{% assign thirdPartyStartsWith = include.thirdPartyStartsWith | split: "," %}
{% assign includeRsaKeys = include.includeRsaKeys %}
{% assign forcePropertyTabsOnClick = include.forcePropertyTabsOnClick | default: "false" %}

{% assign casPropertiesRandomNumber = include.properties
    | append: include.id 
    | default: include.modules
    | default: include.thirdParty
    | default: include.thirdPartyStartsWith
    | default: include.thirdPartyExactMatch
    | append: include.includes
    | append: include.excludes
    | remove: "-"
    | remove: "."
    | remove: ","
    | remove: "[0]"
    | remove: "[]"
    | truncate: 80, '' %}

<p>The following settings and properties are available from the CAS configuration catalog:</p>

{% if forcePropertyTabsOnClick == "true" %}
<script>
    function enablePropertiesTab{{ casPropertiesRandomNumber }}(link) {
        // console.log(link);
        let id = new URL(link.href).hash;
        console.log(`Tab link selected ${id}`);
        $("#casPropertiesTabContent{{casPropertiesRandomNumber}} .properties-tab").removeClass("show").removeClass("active");
        $(`.modal-body ${id}`).addClass("show").addClass("active");
        $(`.modal-body ${id} table tr`).css("display", "block");
    }

    window.addEventListener('load', (event) => {
        // console.log('Loaded page for configuration properties {{ casPropertiesRandomNumber }} ');
        $("ul#navPillsMenus{{ casPropertiesRandomNumber }}").css("display", "")
            .show().addClass("show").addClass("active");

        setTimeout(() => {
            let selector = "ul#navPillsMenus{{ casPropertiesRandomNumber }} li a:visible:first";
            console.log(`Activating link ${selector}: ${$(selector)}`);
            $(selector).show().addClass("show").addClass("active");
        }, 1000);
    });
</script>
{% endif %}

<ul {% if forcePropertyTabsOnClick == "true" %} style="display:none;"  {% endif %}
    class='nav nav-tabs' id="navPillsMenus{{ casPropertiesRandomNumber }}">

    <li class='nav-item'>
        <a class='nav-link active'
            id="linkRequiredProperties{{ casPropertiesRandomNumber }}"
            data-bs-toggle='tab'
            {% if forcePropertyTabsOnClick == "true" %}onclick="javascript:enablePropertiesTab{{ casPropertiesRandomNumber }}(this);" {% endif %}
            href='#requiredProperties{{ casPropertiesRandomNumber }}'>Required</a>
    </li>
    <li class='nav-item'>
        <a class='nav-link'
            id="linkOptionalProperties{{ casPropertiesRandomNumber }}"
            data-bs-toggle='tab'
            {% if forcePropertyTabsOnClick == "true" %}onclick="javascript:enablePropertiesTab{{ casPropertiesRandomNumber }}(this);" {% endif %}
            href='#optionalProperties{{ casPropertiesRandomNumber }}'>Optional</a>
    </li>

    <li class='nav-item' id='navSigningEncryptionProperties{{ casPropertiesRandomNumber }}'>
        <a class='nav-link'
            id="linkSigningEncryption{{ casPropertiesRandomNumber }}"
            data-bs-toggle='tab'
            {% if forcePropertyTabsOnClick == "true" %}onclick="javascript:enablePropertiesTab{{ casPropertiesRandomNumber }}(this);" {% endif %}
            href='#signingEncryptionProperties{{ casPropertiesRandomNumber }}'>Signing & Encryption</a>
    </li>

    <li class='nav-item' id='navRdbmsProperties{{ casPropertiesRandomNumber }}'>
        <a class='nav-link'
            id="linkRdbms{{ casPropertiesRandomNumber }}"
            data-bs-toggle='tab'
            {% if forcePropertyTabsOnClick == "true" %}onclick="javascript:enablePropertiesTab{{ casPropertiesRandomNumber }}(this);" {% endif %}
            href='#rdbmsProperties{{ casPropertiesRandomNumber }}'>Hibernate & JDBC</a>
    </li>

    <li class='nav-item' id='navEmailProperties{{ casPropertiesRandomNumber }}'>
        <a class='nav-link'
            id="linkEmail{{ casPropertiesRandomNumber }}"
            data-bs-toggle='tab'
            {% if forcePropertyTabsOnClick == "true" %}onclick="javascript:enablePropertiesTab{{ casPropertiesRandomNumber }}(this);" {% endif %}
            href='#emailProperties{{ casPropertiesRandomNumber }}'>Email Servers</a>
    </li>

    <li class='nav-item' id='navLdapProperties{{ casPropertiesRandomNumber }}'>
        <a class='nav-link'
            id="linkLdap{{ casPropertiesRandomNumber }}"
            data-bs-toggle='tab'
            {% if forcePropertyTabsOnClick == "true" %}onclick="javascript:enablePropertiesTab{{ casPropertiesRandomNumber }}(this);" {% endif %}
            href='#ldapProperties{{ casPropertiesRandomNumber }}'>LDAP & Active Directory</a>
    </li>

    <li class='nav-item' id='navAuthnPredicateProperties{{ casPropertiesRandomNumber }}'>
        <a class='nav-link'
            id="linkAuthnPredicate{{ casPropertiesRandomNumber }}"
            data-bs-toggle='tab'
            {% if forcePropertyTabsOnClick == "true" %}onclick="javascript:enablePropertiesTab{{ casPropertiesRandomNumber }}(this);" {% endif %}
            href='#authnPredicateProperties{{ casPropertiesRandomNumber }}'>Authentication</a>
    </li>

    <li class='nav-item' id='navPasswordEncoderProperties{{ casPropertiesRandomNumber }}'>
        <a class='nav-link'
            id="linkPasswordEncoder{{ casPropertiesRandomNumber }}"
            data-bs-toggle='tab'
            {% if forcePropertyTabsOnClick == "true" %}onclick="javascript:enablePropertiesTab{{ casPropertiesRandomNumber }}(this);" {% endif %}
            href='#passwordEncoderProperties{{ casPropertiesRandomNumber }}'>Password Encoding</a>
    </li>

    <li class='nav-item' id='navPrincipalTransformationProperties{{ casPropertiesRandomNumber }}'>
        <a class='nav-link'
            id="linkPrincipalTransformation{{ casPropertiesRandomNumber }}"
            data-bs-toggle='tab'
            onclick="javascript:enablePropertiesTab{{ casPropertiesRandomNumber }}(this);"
            href='#principalTransformationProperties{{ casPropertiesRandomNumber }}'>Principal Transformation</a>
    </li>

    <li class='nav-item' id='navPasswordPolicyProperties{{ casPropertiesRandomNumber }}'>
        <a class='nav-link'
            id="linkPasswordPolicy{{ casPropertiesRandomNumber }}"
            data-bs-toggle='tab'
            onclick="javascript:enablePropertiesTab{{ casPropertiesRandomNumber }}(this);"
            href='#passwordPolicyProperties{{ casPropertiesRandomNumber }}'>Password Policy</a>
    </li>

    {% if thirdParty.size > 0 or thirdPartyExactMatch.size > 0 or thirdPartyStartsWith.size > 0 %}
    <li class='nav-item'>
        <a class='nav-link'
            id="linkThirdPartyProperties{{ casPropertiesRandomNumber }}"
            data-bs-toggle='tab'
            onclick="javascript:enablePropertiesTab{{ casPropertiesRandomNumber }}(this);"
            href='#thirdPartyProperties{{ casPropertiesRandomNumber }}'>Third Party</a>
    </li>
    {% endif %}

    {% unless include.disableNotes == "true" %} 
    <li class='nav-item'>
        <a class='nav-link'
            onclick="javascript:enablePropertiesTab{{ casPropertiesRandomNumber }}(this);"
            id="linkNotes{{ casPropertiesRandomNumber }}"
            data-bs-toggle='tab'
            href='#notes{{ casPropertiesRandomNumber }}'>Notes</a>
    </li>
    {% endunless %}
</ul>

{% assign signingEncryptionEnabled = false %}
{% assign optionalSettingsFound = false %}
{% assign requiredSettingsFound = false %}
{% assign rdbmsSettingsFound = false %}
{% assign emailSettingsFound = false %}
{% assign ldapSettingsFound = false %}
{% assign authnPredicateSettingsFound = false %}
{% assign passwordEncoderSettingsFound = false %}
{% assign principalTransformationSettingsFound = false %}
{% assign passwordPolicySettingsFound = false %}

{% assign textAreaRequiredProperties = blank %}
{% assign textAreaOptionalProperties = blank %}
{% assign textAreaCryptoProperties = blank %}

<div class='tab-content clearfix' id="casPropertiesTabContent{{casPropertiesRandomNumber}}">


<div class='tab-pane properties-tab fade in active show' id='requiredProperties{{ casPropertiesRandomNumber }}'>
    <i style="vertical-align: sub;" class="fas fa-info-circle"></i>
    <sub>
        The configuration settings listed below are tagged as <u><i>Required</i></u> in the CAS configuration metadata. This flag indicates that the presence of the setting may be needed to activate or affect the behavior of the CAS feature and generally should be reviewed, possibly owned and adjusted. If the setting is assigned a default value, you do not need to strictly put the setting in your copy of the configuration, but should review it nonetheless to make sure it matches your deployment expectations.
    </sub>
    <br><p />

    <p/>
        
    <table class="cas-datatable properties {{ paginatedClass }}" id='tableRequiredProperties{{ casPropertiesRandomNumber }}'>
    <thead><tr><th></th></tr></thead>
    <tbody>

        {% for module in modules %}
            {% for cfg in site.data[siteDataVersion][module] %}
                {% assign configBlock = cfg[1] %}

                {% for config in configBlock %}
                    {% if config.required == true %}

                        {% assign foundExcluded = false %}
                        {% for ex in excludes %}
                            {% if config.name contains ex %}
                                {% assign foundExcluded = true %}
                            {% endif %}
                        {% endfor %}
                        {% if includes.size > 0 and foundExcluded == false %}
                            {% assign foundIncluded = false %}
                            {% for inc in includes %}
                                {% if config.name contains inc %}
                                    {% assign foundIncluded = true %}
                                {% endif %}
                            {% endfor %}
                            {% if foundIncluded == false %}
                                {% assign foundExcluded = true %}
                            {% endif %}
                        {% endif %}

                        {% unless foundExcluded == true %}
                            {% assign signingEncryptionCollected = false %}
                            {% if config.name contains ".crypto" %}
                                {% assign signingEncryptionEnabled = true %}
                                {% assign signingEncryptionCollected = true %}
                            {% endif %}
                            {% if config.name contains ".jpa" or config.name contains ".jdbc" %}
                                {% assign rdbmsSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".mail" %}
                                {% assign emailSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".ldap" %}
                                {% assign ldapSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".credential-criteria" %}
                                {% assign authnPredicateSettingsFound = true %}
                            {% endif %}

                            {% if config.name contains ".password-encoder" %}
                                {% assign passwordEncoderSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".principal-transformation" %}
                                {% assign principalTransformationSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".password-policy" %}
                                {% assign passwordPolicySettingsFound = true %}
                            {% endif %}


                            {% assign requiredSettingsFound = true %}
                            {% assign textAreaRequiredProperties = textAreaRequiredProperties
                                | append: "# "
                                | append: config.shortDescription | strip_html
                                | append: "&#13;&#10;"
                                | append: "# "
                                | append: config.name | replace: "[]", "[0]"
                                | append: "="
                                | append: config.defaultValue
                                | append: "&#13;&#10;"
                                | append: "&#13;&#10;" %}

                                {% capture renderedProperties %}{% include casproperty.html
                                    name=config.name
                                    owner=config.owner
                                    defaultValue=config.defaultValue
                                    description=config.description
                                    duration=config.duration
                                    expressionLanguage=config.expressionLanguage
                                    deprecationLevel=config.deprecationLevel
                                    deprecationReplacement=config.deprecationReplacement %}{% endcapture %}
                                {{ renderedProperties | markdownify }}

                                {% if signingEncryptionCollected == true %}
                                {% assign textAreaCryptoProperties = textAreaCryptoProperties | append: renderedProperties %}
                                {% endif %}
                        {% endunless %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}


        {% for prop in properties %}
            {% for module in site.data[siteDataVersion] %}
                {% assign moduleEntry = module[1] %}
                {% for cfg in moduleEntry %}
                    {% assign configBlock = cfg[1] %}

                    {% for config in configBlock %}
                        {% if config.required == true and config.name contains prop %}

                            {% assign foundExcluded = false %}
                            {% for ex in excludes %}
                                {% if config.name contains ex %}
                                    {% assign foundExcluded = true %}
                                {% endif %}
                            {% endfor %}

                            {% if includes.size > 0 and foundExcluded == false %}
                                {% assign foundIncluded = false %}
                                {% for inc in includes %}
                                    {% if config.name contains inc %}
                                        {% assign foundIncluded = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if foundIncluded == false %}
                                    {% assign foundExcluded = true %}
                                {% endif %}
                            {% endif %}
        
                            {% unless foundExcluded == true %}
                                {% assign signingEncryptionCollected = false %}
                                {% if config.name contains ".crypto" %}
                                    {% assign signingEncryptionEnabled = true %}
                                    {% assign signingEncryptionCollected = true %}
                                {% endif %}
                                {% if config.name contains ".jpa" or config.name contains ".jdbc" %}
                                    {% assign rdbmsSettingsFound = true %}
                                {% endif %}
                                {% if config.name contains ".mail" %}
                                    {% assign emailSettingsFound = true %}
                                {% endif %}
                                {% if config.name contains ".ldap" %}
                                    {% assign ldapSettingsFound = true %}
                                {% endif %}
                                {% if config.name contains ".credential-criteria" %}
                                    {% assign authnPredicateSettingsFound = true %}
                                {% endif %}
                                {% if config.name contains ".password-encoder" %}
                                    {% assign passwordEncoderSettingsFound = true %}
                                {% endif %}
                                {% if config.name contains ".principal-transformation" %}
                                    {% assign principalTransformationSettingsFound = true %}
                                {% endif %}
                                {% if config.name contains ".password-policy" %}
                                    {% assign passwordPolicySettingsFound = true %}
                                {% endif %}

                                {% assign requiredSettingsFound = true %}
                                {% assign textAreaRequiredProperties = textAreaRequiredProperties
                                    | append: "# "
                                    | append: config.shortDescription | strip_html
                                    | append: "&#13;&#10;"
                                    | append: "# "
                                    | append: config.name | replace: "[]", "[0]"
                                    | append: "="
                                    | append: config.defaultValue
                                    | append: "&#13;&#10;"
                                    | append: "&#13;&#10;" %}

                                    {% capture renderedProperties %}{% include casproperty.html
                                        name=config.name
                                        owner=config.owner
                                        defaultValue=config.defaultValue
                                        description=config.description
                                        duration=config.duration
                                        expressionLanguage=config.expressionLanguage
                                        deprecationLevel=config.deprecationLevel
                                        deprecationReplacement=config.deprecationReplacement %}{% endcapture %}
                                    {{ renderedProperties | markdownify }}
                                    {% if signingEncryptionCollected == true %}
                                    {% assign textAreaCryptoProperties = textAreaCryptoProperties | append: renderedProperties %}
                                    {% endif %}
                            {% endunless %}

                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}

    </tbody>
    </table>

    <textarea style="position:absolute; left: -10000px;"
        id="copyAreaRequiredProperties{{ casPropertiesRandomNumber }}">{{ textAreaRequiredProperties }}</textarea>
</div>

<div class='tab-pane properties-tab fade in' id='optionalProperties{{ casPropertiesRandomNumber }}'>

    <i style="vertical-align: sub;" class="fas fa-info-circle"></i>
    <sub>
        The configuration settings listed below are tagged as <u><i>Optional</i></u> in the CAS configuration metadata. This
        flag indicates that the presence of the setting
        is not immediately necessary in the end-user CAS configuration, because a default value is assigned or
        the activation of the feature is not conditionally controlled by the setting value. You should only include this field in your
        configuration if you need to modify the default value.
    </sub>
    <br><p />

    <table class="cas-datatable properties {{ paginatedClass }}" id='tableOptionalProperties{{ casPropertiesRandomNumber }}'>
    <thead><tr><th></th></tr></thead>
    <tbody>

        {% for module in modules %}
            {% for cfg in site.data[siteDataVersion][module] %}
                {% assign configBlock = cfg[1] %}

                {% for config in configBlock %}
                    {% unless config.required == true %}

                        {% assign foundExcluded = false %}
                        {% for ex in excludes %}
                            {% if config.name contains ex %}
                                {% assign foundExcluded = true %}
                            {% endif %}
                        {% endfor %}
        
                        {% if includes.size > 0 and foundExcluded == false %}
                            {% assign foundIncluded = false %}
                            {% for inc in includes %}
                                {% if config.name contains inc %}
                                    {% assign foundIncluded = true %}
                                {% endif %}
                            {% endfor %}
                            {% if foundIncluded == false %}
                                {% assign foundExcluded = true %}
                            {% endif %}
                        {% endif %}
        
                        {% unless foundExcluded == true %}
                            {% assign signingEncryptionCollected = false %}
                            {% if config.name contains ".crypto" %}
                                {% assign signingEncryptionEnabled = true %}
                                {% assign signingEncryptionCollected = true %}
                            {% endif %}
                            {% if config.name contains ".jpa" or config.name contains ".jdbc" %}
                                {% assign rdbmsSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".mail" %}
                                {% assign emailSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".ldap" %}
                                {% assign ldapSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".credential-criteria" %}
                                {% assign authnPredicateSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".password-encoder" %}
                                {% assign passwordEncoderSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".principal-transformation" %}
                                {% assign principalTransformationSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".password-policy" %}
                                {% assign passwordPolicySettingsFound = true %}
                            {% endif %}

                            {% assign optionalSettingsFound = true %}
                            {% assign textAreaOptionalProperties = textAreaOptionalProperties
                                | append: "# "
                                | append: config.shortDescription | strip_html
                                | append: "&#13;&#10;"
                                | append: "# "
                                | append: config.name | replace: "[]", "[0]"
                                | append: "="
                                | append: config.defaultValue
                                | append: "&#13;&#10;"
                                | append: "&#13;&#10;" %}
                            {% capture renderedProperties %}{% include casproperty.html
                                name=config.name
                                owner=config.owner
                                defaultValue=config.defaultValue
                                description=config.description
                                duration=config.duration
                                expressionLanguage=config.expressionLanguage
                                deprecationLevel=config.deprecationLevel
                                deprecationReplacement=config.deprecationReplacement %}{% endcapture %}
                            {{ renderedProperties | markdownify }}
                            {% if signingEncryptionCollected == true %}
                            {% assign textAreaCryptoProperties = textAreaCryptoProperties | append: renderedProperties %}
                            {% endif %}
                        {% endunless %}

                    {% endunless %}
                {% endfor %}
            {% endfor %}
        {% endfor %}

        {% for prop in properties %}
            {% for module in site.data[siteDataVersion] %}
                {% assign moduleEntry = module[1] %}
                {% for cfg in moduleEntry %}
                    {% assign configBlock = cfg[1] %}

                    {% for config in configBlock %}
                        {% if config.name contains prop %}
                            {% unless config.required == true %}
                                {% assign foundExcluded = false %}
                                {% for ex in excludes %}
                                    {% if config.name contains ex %}
                                        {% assign foundExcluded = true %}
                                    {% endif %}
                                {% endfor %}

                                {% if includes.size > 0 and foundExcluded == false %}
                                    {% assign foundIncluded = false %}
                                    {% for inc in includes %}
                                        {% if config.name contains inc %}
                                            {% assign foundIncluded = true %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if foundIncluded == false %}
                                        {% assign foundExcluded = true %}
                                    {% endif %}
                                {% endif %}
        
                                {% unless foundExcluded == true %}
                                    {% assign signingEncryptionCollected = false %}

                                    {% if config.name contains ".crypto" %}
                                        {% assign signingEncryptionEnabled = true %}
                                        {% assign signingEncryptionCollected = true %}
                                    {% endif %}

                                    {% if config.name contains ".jpa" or config.name contains ".jdbc" %}
                                        {% assign rdbmsSettingsFound = true %}
                                    {% endif %}
                                    {% if config.name contains ".mail" %}
                                        {% assign emailSettingsFound = true %}
                                    {% endif %}
                                    {% if config.name contains ".ldap" %}
                                        {% assign ldapSettingsFound = true %}
                                    {% endif %}
                                    {% if config.name contains ".credential-criteria" %}
                                        {% assign authnPredicateSettingsFound = true %}
                                    {% endif %}
                                    {% if config.name contains ".password-encoder" %}
                                        {% assign passwordEncoderSettingsFound = true %}
                                    {% endif %}
                                    {% if config.name contains ".principal-transformation" %}
                                        {% assign principalTransformationSettingsFound = true %}
                                    {% endif %}
                                    {% if config.name contains ".password-policy" %}
                                        {% assign passwordPolicySettingsFound = true %}
                                    {% endif %}

                                    {% assign optionalSettingsFound = true %}
                                    {% assign textAreaOptionalProperties = textAreaOptionalProperties
                                        | append: "# "
                                        | append: config.shortDescription | strip_html
                                        | append: "&#13;&#10;"
                                        | append: "# "
                                        | append: config.name | replace: "[]", "[0]"
                                        | append: "="
                                        | append: config.defaultValue
                                        | append: "&#13;&#10;"
                                        | append: "&#13;&#10;" %}
                                    {% capture renderedProperties %}{% include casproperty.html
                                        name=config.name
                                        owner=config.owner
                                        defaultValue=config.defaultValue
                                        description=config.description
                                        duration=config.duration
                                        expressionLanguage=config.expressionLanguage
                                        deprecationLevel=config.deprecationLevel
                                        deprecationReplacement=config.deprecationReplacement %}{% endcapture %}
                                    {{ renderedProperties | markdownify }}
                                    {% if signingEncryptionCollected == true %}
                                    {% assign textAreaCryptoProperties = textAreaCryptoProperties | append: renderedProperties %}
                                    {% endif %}
                                {% endunless %}
                            {% endunless %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}

    </tbody>
    </table>

    <textarea style="position:absolute; left: -10000px;" id="copyAreaOptionalProperties{{ casPropertiesRandomNumber }}">{{ textAreaOptionalProperties }}</textarea>
</div>


{% if thirdParty.size > 0 or thirdPartyExactMatch.size > 0 or thirdPartyStartsWith.size > 0 %}
<div class='tab-pane properties-tab fade in' id='thirdPartyProperties{{ casPropertiesRandomNumber }}'>
    <i style="vertical-align: sub;" class="fas fa-info-circle"></i>
    <sub>
        The configuration settings listed below are tagged as <i>Third Party</i> in the CAS configuration metadata. This flag indicates that the configuration setting is not controlled, owned or managed by the CAS ecosystem, and affects functionality that is offered by a third-party library, such as Spring Boot or Spring Cloud to CAS. For additional info, you might have to visit the third-party source to find more details.
    </sub>
    <br><p />

    {% assign tpsw = include.thirdPartyStartsWith %}
    {% assign tp = include.thirdParty %}
    {% assign tpem = include.thirdPartyExactMatch %}

    {% include thirdpartyproperties.html 
        id=casPropertiesRandomNumber 
        thirdPartyStartsWith=tpsw
        thirdParty=tp 
        thirdPartyExactMatch=tpem 
    %}
</div>
{% endif %}

{% if signingEncryptionEnabled == true %}
<div class='tab-pane properties-tab fade in' id='signingEncryptionProperties{{ casPropertiesRandomNumber }}'>

    <table class="cas-datatable properties" 
            id='tableSigningEncryptionProperties{{ casPropertiesRandomNumber }}'>
        <thead><tr><th></th></tr></thead>
        <tbody>{{ textAreaCryptoProperties }} </tbody>
    </table>

    {% capture signingEncConfig %}{% include {{ version }}/signing-encryption-configuration.md includeRsaKeys=includeRsaKeys %}{% endcapture %}
    {{ signingEncConfig | markdownify }}
</div>
{% endif %}

{% if rdbmsSettingsFound == true %}
<div class='tab-pane properties-tab fade in' id='rdbmsProperties{{ casPropertiesRandomNumber }}'>
    {% capture rdbmsConfig %}{% include {{ version }}/rdbms-configuration.md %}{% endcapture %}
    {{ rdbmsConfig | markdownify }}
</div>
{% endif %}

{% if emailSettingsFound == true %}
<div class='tab-pane properties-tab fade in' id='emailProperties{{ casPropertiesRandomNumber }}'>
    {% capture emailConfig %}{% include {{ version }}/email-notifications-configuration.md %}{% endcapture %}
    {{ emailConfig | markdownify }}
</div>
{% endif %}

{% if ldapSettingsFound == true %}
<div class='tab-pane properties-tab fade in' id='ldapProperties{{ casPropertiesRandomNumber }}'>
    {% capture ldapConfig %}{% include {{ version }}/ldap-configuration.md %}{% endcapture %}
    {{ ldapConfig | markdownify }}
</div>
{% endif %}


{% if passwordEncoderSettingsFound == true %}
<div class='tab-pane properties-tab fade in' id='passwordEncoderProperties{{ casPropertiesRandomNumber }}'>
    {% capture passwordEncoderConfig %}{% include {{ version }}/password-encoding-configuration.md %}{% endcapture %}
    {{ passwordEncoderConfig | markdownify }}
</div>
{% endif %}

{% if passwordPolicySettingsFound == true %}
<div class='tab-pane properties-tab fade in' id='passwordPolicyProperties{{ casPropertiesRandomNumber }}'>
    {% capture passwordPolicyConfig %}{% include {{ version }}/password-policy-configuration.md %}{% endcapture %}
    {{ passwordPolicyConfig | markdownify }}
</div>
{% endif %}

{% if principalTransformationSettingsFound == true %}
<div class='tab-pane properties-tab fade in' id='principalTransformationProperties{{ casPropertiesRandomNumber }}'>
    {% capture principalTransformationConfig %}{% include {{ version }}/principal-transformation-configuration.md %}{% endcapture %}
    {{ principalTransformationConfig | markdownify }}
</div>
{% endif %}


{% if authnPredicateSettingsFound == true %}
<div class="tab-pane properties-tab fade in" id="authnPredicateProperties{{ casPropertiesRandomNumber }}">
    {% capture authnConfig %}{% include {{ version }}/authentication-credential-selection-configuration.md %}{% endcapture %}
    {{ authnConfig | markdownify }}
</div>
{% endif %}

{% unless include.disableNotes == "true" %} 
<div class='tab-pane properties-tab fade in' id='notes{{ casPropertiesRandomNumber }}'>
    {% capture notesConfig %}{% include config-guidelines.md %}{% endcapture %}
    {{ notesConfig | markdownify }}
</div>
{% endunless %}


<script>

    window.addEventListener('load', (event) => {
        {% unless optionalSettingsFound %}
            $("#linkOptionalProperties{{ casPropertiesRandomNumber }}").remove()
        {% endunless %}
        {% unless rdbmsSettingsFound %}
            $("#linkRdbms{{ casPropertiesRandomNumber }}").remove()
        {% endunless %}
        {% unless emailSettingsFound %}
            $("#linkEmail{{ casPropertiesRandomNumber }}").remove()
        {% endunless %}
        {% unless signingEncryptionEnabled %}
            $("#linkSigningEncryption{{ casPropertiesRandomNumber }}").remove()
        {% endunless %}
        {% unless requiredSettingsFound %}
            $("#linkRequiredProperties{{ casPropertiesRandomNumber }}").remove()
        {% endunless %}
        {% unless passwordPolicySettingsFound %}
            $("#linkPasswordPolicy{{ casPropertiesRandomNumber }}").remove()
        {% endunless %}
        {% unless principalTransformationSettingsFound %}
            $("#linkPrincipalTransformation{{ casPropertiesRandomNumber }}").remove()
        {% endunless %}
        {% unless passwordEncoderSettingsFound %}
            $("#linkPasswordEncoder{{ casPropertiesRandomNumber }}").remove()
        {% endunless %}
        {% unless authnPredicateSettingsFound %}
            $("#linkAuthnPredicate{{ casPropertiesRandomNumber }}").remove()
        {% endunless %}
        {% unless ldapSettingsFound %}
            $("#linkLdap{{ casPropertiesRandomNumber }}").remove()
        {% endunless %}

        
        // console.log("Checking for visible link menu in: navPillsMenus{{ casPropertiesRandomNumber }}");
        var id=$("#navPillsMenus{{ casPropertiesRandomNumber }} a:visible:first").prop('id');
        // console.log("Attempting to select tab with id " + id);
        if (id != undefined && id != null) {
            // console.log("Selecting first tab with link id " + id);
            var firstTabEl = document.querySelector("#" + id);
            var firstTab = new bootstrap.Tab(firstTabEl);
            firstTab.show();
            // console.log("Selected tab with link id " + id);
        }

        let c = $("#tableRequiredProperties{{ casPropertiesRandomNumber }} li.property-name code").length;
        if (c <= ROWS) {
            $("#navRequiredProperties{{ casPropertiesRandomNumber }}").closest("table").remove()
            $("#navRequiredPropertiesLeft{{ casPropertiesRandomNumber }}").closest("table").remove()
        }
        c = $("#tableOptionalProperties{{ casPropertiesRandomNumber }} li.property-name code").length;
        if (c <= ROWS) {
            $("#navOptionalProperties{{ casPropertiesRandomNumber }}").closest("table").remove()
            $("#navOptionalPropertiesLeft{{ casPropertiesRandomNumber }}").closest("table").remove()
        }
        c = $("#tableThirdPartyProperties{{ casPropertiesRandomNumber }} li.property-name code").length;
        if (c <= ROWS) {
            $("#navThirdPartyProperties{{ casPropertiesRandomNumber }}").hide();
        }
        
    });
</script>

</div>
