<div id="dev-doc-info" class="alert alert-danger" role="alert">
    <h3>WORKERS AHEAD!</h3>
    <p>You are viewing the <strong>development</strong> documentation for the Apereo CAS server. <strong>The
        functionality presented here <a href="https://github.com/apereo/cas/milestones">is not officially released
            yet</a></strong>.
        This is a work in progress and will be continually updated as development moves forward. To view the
        documentation for a specific Apereo CAS server release, please <a href="/cas/Older-Versions.html">choose an
            appropriate version. </a>
        The release schedule is also <a href="https://github.com/apereo/cas/milestones">available here.</a></p>
</div>
