<header class="hidden-sm-down">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-md-2">
                <a href="{{ relative }}index.html">
                    <img class="undecorated" src="{{ relative }}images/cas_logo.png"/>
                </a>
            </div>
            <div class="col-xs-8 col-md-6">
                <h1>Enterprise Single Sign-On for All</h1>
            </div>
            <div class="hidden-sm-down col-md-4">
                <a id="forkme_banner" href="https://github.com/apereo/cas">View on GitHub</a>
            </div>
            <div id="code-sponsor-widget"></div>
            <script type="text/javascript" src="https://app.codesponsor.io/scripts/ePPi8QUey7wOq6x-lFqDcg?theme=light"></script>
        
        </div>
    </div>
</header>
