<header class="hidden-sm-down">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-md-2">
                <a href="{{ relative }}index.html">
                    <img class="undecorated" src="{{ relative }}images/cas_logo.png"/>
                </a>
            </div>
            <div class="col-xs-8 col-md-6">
                <h1>Single Sign-On for the Web</h1>
            </div>
            <div class="hidden-sm-down col-md-4">
                <a id="forkme_banner" href="https://github.com/apereo/cas">View on GitHub</a>
            </div>
        </div>
    </div>
</header>
