<div id="mobile-nav" class="navbar navbar-cas navbar-static-top hidden-md-up" role="banner">
    <!-- top nav -->
    <div class="navbar-header clearfix">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse">
            <span class="sr-only">Toggle</span>
            <span class="fa fa-bars"></span>
        </button>
        <a href="{{ relative }}index.html" class="navbar-brand logo"><img
                class="undecorated img-responsive" src="{{ relative }}images/cas_logo.png"/></a>
        <h1>Single Sign-On for the Web</h1>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
            <li class="nav-item active"><a href="{{ relative }}index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item"><a href="https://github.com/apereo/cas/releases" class="nav-link">Releases</a>
            </li>
            <li class="nav-item"><a
                href="https://www.google.com/cse/publicurl?cx=017040929083740828958:sqr2hwvrxmg"
                class="nav-link">Search</a></li>
            <li class="nav-item"><a href="{{ relative }}Support.html" class="nav-link">Support</a></li>
            <li class="nav-item"><a href="{{ relative }}Mailing-Lists.html" class="nav-link">Mailing Lists</a></li>
            <li class="nav-item">
                <a class="nav-link" href="{{ relative }}Demos.html">Demos</a>
            </li>
            <li class="nav-item"><a href="{{ relative }}Older-Versions.html" class="nav-link">Versions</a></li>
            <li class="nav-item"><a href="https://apereo.github.io" target="_blank" class="nav-link">Blog</a></li>
        </ul>
    </nav>
    <!-- /top nav -->
</div>
