<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a href="{{ relative }}index.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="https://github.com/apereo/cas/releases" class="nav-link">Downloads</a></li>
                <li class="nav-item"><a href="{{ relative }}Support.html" class="nav-link">Support</a></li>
                <li class="nav-item"><a href="{{ relative }}Mailing-Lists.html" class="nav-link">Mailing Lists</a></li>
                <li class="nav-item"><a href="{{ relative }}Older-Versions.html" class="nav-link">Versions</a></li>
                <li class="nav-item"><a href="{{ relative }}Who-Is-Using-CAS.html" class="nav-link">Who Is Using CAS?</a></li>
                <li class="nav-item"><a href="https://apereo.github.io" target="_blank" class="nav-link">Blog</a></li>
            </ul>
        </div>

    </div>
</nav>
