<div class="navlink">
  <a href="{{ relative }}index.html">Home</a>
</div>
<div class="navlink">
  <a href="https://github.com/apereo/cas/releases">Downloads</a>
</div>
<div class="navlink">
  <a href="https://www.google.com/cse/publicurl?cx=017040929083740828958:sqr2hwvrxmg">Search</a>
</div>
<div class="navlink">
  <a href="{{ relative }}Support.html">Support</a>
</div>
<div class="navlink">
  <a href="{{ relative }}Mailing-Lists.html">Mailing Lists</a>
</div>
<div class="navlink">
  <a href="{{ relative }}Older-Versions.html">Versions</a>
</div>
