<nav class="navbar navbar-static-top navbar-cas hidden-sm-down" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="nav-item active"><a href="{{ relative }}index.html" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="https://github.com/apereo/cas/releases" class="nav-link">Downloads</a>
            </li>
            <li class="nav-item"><a href="https://www.google.com/cse/publicurl?cx=017040929083740828958:sqr2hwvrxmg"
                                    class="nav-link">Search</a></li>
            <li class="nav-item"><a href="{{ relative }}Support.html" class="nav-link">Support</a></li>
            <li class="nav-item"><a href="{{ relative }}Mailing-Lists.html" class="nav-link">Mailing Lists</a></li>
            <li class="nav-item"><a href="{{ relative }}Older-Versions.html" class="nav-link">Versions</a></li>
        </ul>
    </div>
</nav>
