<!--<form action="/cas/search.html" class="navbar-form search-form" role="search">-->
    <div class="input-group add-on">
<!--        <input type="text"
               name="q"
               id="tipue_search_input"
               class="form-control"
               pattern=".{3,}"
               title="At least 3 characters"
               placeholder="Search"
               required />-->
        <input type="text" class="form-control" name="search_input" id="searchField" title="At least 3 characters" placeholder="DocSearch" required>

        <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
        </div>
    </div>
<!--</form>-->
