<div class="column col-md-2 col-sm-3 col-xs-1 sidebar-offcanvas" id="sidebar">
    <ul class="nav hidden-sm-up">
        <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i
                class="fa fa-chevron-left"></i></a></li>
    </ul>

    <ul class="nav hidden-xs-down" id="lg-menu">
        <li id="tableOfContents" class="active hidden-md-up">
            <a data-toggle="collapse" href="#sidebarTableofContents" data-parent="#lg-menu"
               aria-expanded="true" class="collapsed">
                <i class="fa fa-list"></i> Page Contents
                <i class="expand"></i>
            </a>
            <ul class="collapse nav" id="sidebarTableofContents" aria-expanded="false"
                style="height: 0px;"></ul>
        </li>
        <li id="sidebartoc">
            <a data-toggle="collapse"
               href="#sidebarTopics"
               data-parent="#lg-menu"
               aria-expanded="true"
               class="">
                <i class="fa fa-list-alt"></i> Table of Contents
                <i class="expand"></i>
            </a>
        </li>
    </ul>
</div>