<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title th:text="#{cas.oauth.confirm.pagetitle}"></title>
</head>

<body id="cas">
<div layout:fragment="content">
    <div class="alert alert-success">
        <h2 th:text="#{screen.oauth.confirm.header}"/>
        <p th:text="#{screen.oauth.confirm.message(${serviceName})}"/>
        <p>
            <a class="btn btn-success" id="allow" name="allow"
               th:href="@{${callbackUrl}}"
               th:text="#{screen.oauth.confirm.allow}"/>
        </p>
    </div>
</div>
</body>
</html>
