<?xml version="1.0" encoding="UTF-8" ?>
<Configuration shutdownHook="disable">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d %p [%c] - &lt;%m&gt;%n}" />
        </Console>

        <CloudWatchAppender name="CloudWatchAppender"
                            awsLogGroupName="LogGroupName"
                            awsLogStreamName="LogStreamName"
                            awsLogRegionName="us-west-1"
                            credentialAccessKey="test"
                            credentialSecretKey="test"
                            endpoint="http://127.0.0.1:4586"
                            awsLogStreamFlushPeriodInSeconds="1">
            <PatternLayout>
                <Pattern>%5p | %d{ISO8601}{UTC} | %t | %C | %M:%L | %m %ex %n</Pattern>
            </PatternLayout>
        </CloudWatchAppender>
        
    </Appenders>
    <Loggers>
        <Logger name="org.apereo" level="error" additivity="false" />
        <Logger name="org.apereo.cas.logging.CloudWatchAppender" level="trace" additivity="false">
            <AppenderRef ref="CloudWatchAppender"/>
        </Logger>
        <Logger name="com.amazonaws" level="warn" />
        <Root level="off">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
