# This is a template for the credentials.properties file required
# for unit test execution.

# The format of each entry is username=principalID|password|success
# where success is either true for expected successful authentication
# or the class of exception raised on failure.
username1=principal1|credential1|true
username2=principal2|credential2|FailedLoginException
bob=bob@example.com|w0mbatZ|true
