<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.error.page.title.pagenotfound}">Error - Page Not Found</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" class="mdc-card card p-4 w-lg-66 m-auto">
        <h2 th:utext="#{screen.error.page.notfound}">Page Not Found</h2>
        <p th:utext="#{screen.error.page.doesnotexist}">The page you are attempting to access does not exist at the
            moment.</p>
        <a class="mdc-button" th:href="@{/login}">
            <span class="mdc-button__label" th:utext="#{screen.error.page.loginagain}">Login Again</span>
        </a>
    </div>
</main>
</body>
</html>
