<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title th:text="#{screen.pm.forgotusername.title}">Forgot Username Instructions View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
    <main role="main" class="container mt-3 mb-3">
        <div layout:fragment="content" id="reset">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="mdc-card card">
                        <form method="post" id="fm1">
                            <section class="p-4">
                                <h3 th:utext="#{screen.pm.forgotusername.title}">Forgot your username?</h3>
                                <div th:utext="#{screen.pm.forgotusername.instructions}" class="my-4">Please provide
                                    your email address. You will receive an email with your username.</div>

                                <div class="banner banner-danger alert alert-danger alert-dismissible mb-4"
                                    th:if="${flowRequestContext.messageContext.hasErrorMessages()}">
                                    <p th:each="message : ${flowRequestContext.messageContext.allMessages}"
                                        th:utext="${message.text}">Message Text
                                    </p>
                                </div>
                                
                                <input type="hidden" name="execution" th:value="${flowExecutionKey}" />
                                <input type="hidden" name="_eventId" value="findUsername" />
                                <div class="d-flex">
                                    <label for="email" class="mdc-text-field mdc-text-field--outlined control-label">
                                        <span class="mdc-notched-outline">
                                            <span class="mdc-notched-outline__leading"></span>
                                            <span class="mdc-notched-outline__notch">
                                                <span class="mdc-floating-label" th:utext="#{screen.pm.reset.email}">Email</span>
                                            </span>
                                            <span class="mdc-notched-outline__trailing"></span>
                                        </span>
                                        <input class="mdc-text-field__input form-control"
                                               type="text"
                                               name="email"
                                               id="email"
                                               size="45"
                                               autocomplete="off" required />
                                    </label>

                                </div>
                            </section>

                            <span class="mdc-card__actions_actions p-4" th:if="${recaptchaForgotUsernameEnabled}">
                                <div th:replace="fragments/recaptcha :: recaptchaToken" />
                            </span>

                            <div class="mdc-card__actions_actions p-4">
                                <button
                                    class="mdc-button mdc-button--raised btn btn-primary mdc-card__actions_action mdc-card__actions_action--button me-2"
                                    accesskey="s" th:value="#{screen.pm.button.submit}" type="submit" value="SUBMIT">
                                    <span class="mdc-button__label" th:text="#{screen.pm.button.submit}">Submit</span>
                                </button>
                                <button class="mdc-button mdc-button--outline btn btn-outline-secondary mdc-card__actions_action mdc-card__actions_action--button"
                                    name="cancel" accesskey="c" th:value="#{screen.pm.button.cancel}" type="button"
                                    onclick="location.href = location.href;" value="CANCEL">
                                    <span class="mdc-button__label" th:text="#{screen.pm.button.cancel}">CANCEL</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" th:inline="javascript">
            var i = [[#{ screen.welcome.button.loginwip }]];
            $('#fm1').submit(function () {
                $(':submit').attr('disabled', true);
                $(':submit').attr('value', i);
                return true;
            });
        </script>
        </div>
    </main>
</body>

</html>
