[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt = no

[ req_distinguished_name ]
C  = US
ST = CA
O  = Example
CN = service-a

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
URI.1 = spiffe://example.org/ns/payments/sa/service-sample
