<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout(mainContentClass='container-xxl py-3')}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title th:text="#{cas.screen.acct.title}">Account Registration</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/account.css}"/>
</head>

<body id="cas">
<main class="container mt-3 mb-3">
    <div layout:fragment="content" id="content">
        <div th:replace="~{fragments/accountflow :: shell(flow='signup', step=2, steps=4, content=~{::flowContent})}">
            <div th:fragment="flowContent">
                <div th:replace="~{fragments/accountflow :: status(kind='mail', heading=#{cas.screen.acct.title}, message=#{cas.screen.acct.infosent})}"></div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
