@import url(https://fonts.googleapis.com/css?family=Lato:700,400,300,100);

.huge {
  font-size: 30pt;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.semi-huge {
  font-size: 18pt;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
