<div>
  <md-checkbox [(ngModel)]="wsFedOnly" [disabled]="isEmpty(formData.availableAttributes )">
    <ng-container i18n="services.form.label.wsfed.wsFederationOnly">
      {{ messages.services_form_label_wsfed_wsFederationOnly }}
    </ng-container>
  </md-checkbox>
</div>

<div class="panel panel-default" *ngIf="wsFedOnly && !isEmpty(formData.availableAttributes )">
  <md-table [dataSource]="dataSource">

    <ng-container cdkColumnDef="source">
      <md-header-cell *cdkHeaderCellDef>
        <ng-container i18n="services.form.label.attrRelease.policies.sourceAttribute">
          {{ messages.services_form_label_attrRelease_policies_sourceAttribute }}
        </ng-container>
      </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{ row.key }}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="mapped">
      <md-header-cell *cdkHeaderCellDef>
        <ng-container i18n="services.form.label.attrRelease.policies.casAttribute">
          {{ messages.services_form_label_attrRelease_policies_casAttribute }}
        </ng-container>
        <md-icon style="font-size: medium;"
                 i18n-mdTooltip="services.form.tooltip.attrRelease.policies.returnMapped"
                 [mdTooltip]="messages.services_form_tooltip_attrRelease_policies_returnMapped">help
        </md-icon>
      </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <md-select class="form-control"
                   [(ngModel)]="attrPolicy.allowedAttributes[row.key]">
          <md-option *ngFor="let item of selectOptions.wsfedClaimList" [value]="item.name">{{ item.name }}</md-option>
        </md-select>
      </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>

  </md-table>
</div>
