/* IE Pick-a-boo bug fix */
form {height: expression('1%');}

/* Fixes Display: Block issue in IE5.5 and 6x */
div, 
form,
fieldset,
#navlist li a,
td a {height:1px;}

/* Fixes IE problem with fieldset+legend boundaries */
fieldset {position: expression('relative');} 
legend {
	position: expression('absolute'); 
	top: expression('-9px'); /* Fixes IE problem with fieldset+legend boundaries */
	}

/* double float margin bug */
form, 
#navcontainer {display:inline;}

/* button width fix */
button {
	overflow:visible;
	width:1px;
	padding-left:0.5em;
	padding-right:0.5em;
	font-size:1.1em;
	}

/* miscellaneous */
input {margin-left:0;}
ol li {line-height:1.0;}
input.check {width:13px; height:13px;}
span a {display:inline-block;}
label.top {margin-left:0;}
label.ieFix {margin-top:.5em;}
fieldset fieldset {padding-bottom:0;}

* html button {padding:0; width:0; overflow:visible;}
* html .fieldset-inner {padding:1em;}
* html fieldset {position:relative; padding:0; margin:4em 0 0;}

* html legend {margin:0; padding:0; position:relative; top:-0.5em; margin-bottom:-0.5em;}
 td.td7 {width:85px; padding-right:22px !important;}
 div.tableWrapper {xoverflow-y:scroll;}
 * html td.td7 {width:102px; padding-right:5px !important; text-align:left !important;}
 * html table#scrollTable {margin-right:-17px;}
 * html div.tableWrapper {width:auto; height:250px;}

/* Hide from IE5Mac only \*/
#nav-main a span {float:none;}