




table {
	border:0px none;
	border-collapse:collapse;
	empty-cells:show;
	background-color:#fff;
	font-size:1.1em
	}

.large {width:100%;}

th	{
	background:#eee;
	color:#666;
	padding:3px 5px;
	text-align:left;
	font-weight:normal;
	}

td	{
	padding:3px 5px;
	border-bottom:1px solid #eee;
	}

td a {
	padding-left:35px;
	text-decoration: none;
	display:block;
	line-height:32px;
	color:#c1c1c0;
	font-weight:900;
	}
td a.edit {background:#fff url('../../images/services/edit_service.gif') no-repeat left center;}
td a.del {background:#fff url('../../images/services/delete_service.gif') no-repeat left center;}
td a:hover {
	color:#b00;
	}

/* Added by Scott */
.highlightTop {
border-left: 2px solid red;
border-right: 2px solid red;
border-top: 2px solid red;
background-color: grey;
}

.highlightBottom {
border-left: 2px solid red;
border-right: 2px solid red;
border-bottom: 2px solid red;
background-color: grey;
}