.fl-reorderer-instructions{
	background-color:#F5FFB0;
	border:1px solid #FFE390;
	margin:5px;
	padding:10px;
}

.fl-reorderer-instructions strong{
	display:block;
}

.fl-reorderer-movable-default{
	cursor:move;
}

.fl-reorderer-movable-selected{
	background-color:yellow;
}

.fl-reorderer-movable-hover{
	background-color:yellow;
}

.fl-reorderer-movable-dragging{
	background:#ccc;
}

.fl-reorderer-avatar {
	cursor:move;
	list-style-type:none;
	filter:alpha(opacity=75);
	opacity:.75;
}

.fl-reorderer-dropWarning{
	display:none;
	padding:5px 25px;
	color:#fff;opacity:1;
	filter:alpha(opacity=100);
	background:#900 url('../../images/services/error.gif')    
	no-repeat 5px center;
}

.fl-reorderer-verticalLayout .fl-reorderer-dropMarker,.fluid-vertical-order .fl-reorderer-dropMarker{
	background-color:#F00;
	height:0;
	padding:2px 0 0 0;	
	border-width:0;
	margin:-2px 0 0 0;	
	list-style-type:none;	
	font-size:0;	
	line-height:0;	
	overflow:hidden;
}

.fl-reorderer-horizontalLayout .fl-reorderer-dropMarker,.fluid-horizontal-order .fl-reorderer-dropMarker{
	background-color:#F00;	
	padding:0 3px;	
	border-width:0;	
	margin:0 -3px!important;	
	list-style-type:none;	
	overflow:hidden;	
	width:0!important;
}