@import "variables.scss";
@import "mixins";

// This sets a default background color for all btn-social implementations.  The actual provider style will
// override this with their own colors.  This is use as a fallback for unknown social types.
.btn-social {
  background-color: slategray;
  text-transform: capitalize;
}

@import "../vendor/bootstrap-social/bootstrap-social";

// social-button overrides
.btn-social, .btn-social-icon {
  padding-left: 50px;
}
.btn-social > :first-child, .btn-social-icon > :first-child {
  line-height: 38px;
  width: 40px;
}


/**
 * Add in our own custom social colors.
 */
.btn-submit {
  @include btn-social($brand-success);
}

/*
.btn-submit {
  border: 0;
  padding: 10px 25px;
  font-weight: normal;
  font-size: 1.75rem;
}
*/

.btn-cas {
  @include btn-social(#153e50);
}

.btn-saml2 {
  @include btn-social(#cb2027);
}

.btn-oidc {
  @include btn-social(#f7931e);
}
.btn-google2 {
  @include btn-social(#DD4B39);
}
.btn-windows {
  @include btn-social(#2672EC);
}
.btn-wordpress {
  @include btn-social(#eeeeee, #000);
}

// Specific provider overrides
a.btn.btn-wordpress {
  color: #000!important;
}


// Success appears as green
.btn-restart {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Warning appears as orange
.btn-refresh {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-shutdown {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}
