/* You can add global styles to this file, and also import other style files */
@import "main/resources/static/css/cas-management.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
@import "https://cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.menuCell {
  border: 1px solid grey;
  padding: 5px;
  border-radius: 3px;
  width: 90px;
}

.menuCell:hover {
  background: green;
  color:white;
}

.checkCell {
  margin:5px;
}

.textInput.mat-form-field {
  width:500px;
}

.tabCard {
  margin-right:auto;
  margin-left:auto;
  width:650px;
  margin-top:5px
}

.cardContent {
  margin-right:auto;
  margin-left:auto;
  width:550px;
}

