<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body onload="document.acsForm.submit();">
<form name="acsForm" th:action="${originalUrl}" method="post">
<div style="display: none">
    <span th:each="entry : ${parameters}">
         <textarea rows='10' cols='80' th:name="${entry.key}" th:inline="text">[[${entry.value}]]</textarea>
    </span>
</div>
<noscript>
    <p th:text="#{screen.post.response.message(${originalUrl})}"/>
    <p><input type="submit" th:value="#{screen.button.continue}"/></p>
</noscript>
</form>
</body>
</html>

