<!DOCTYPE html>
<html layout:decorator="layout">

<head th:inline="text">
    <title>[[#{screen.success.header}]]</title>
</head>

<body id="cas">
<div layout:fragment="content">
    <div class="alert alert-success">
        <h2 th:utext="#{screen.pm.success.header}"/>
        <p th:utext="#{screen.pm.success.message}"/>

        <div>
            <br/>
            <input
                    class="btn btn-submit btn-block"
                    accesskey="l"
                    th:value="#{screen.welcome.button.login}"
                    type="button"
                    onclick="location.href = location.href;"/>
        </div>

    </div>
</div>
</body>
</html>
