/* --------------- CUSTOM STYLES */
/*
Modals
*/
.huge {
  font-size: 30pt;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.semi-huge {
  font-size: 18pt;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr,
address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-size: 14px;
  font-family: Verdana, sans-serif;
  background-color: #153e50;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:link, a:visited {
  color: #257bb2;
}

a:hover {
  color: #a0b757;
}

a.btn-success:link, a.btn-success:visited, a.btn-success:hover {
  color: white;
}

p {
  margin-bottom: 0.5em;
}

header {
  overflow: hidden;
  padding: 20px 0;
}

header h1 {
  float: right;
  width: 119px;
  height: 60px;
  background: url(../images/cas-logo.png) no-repeat;
  text-indent: -999em;
  color: white;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

#container {
  width: 960px;
  margin: 0 auto;
}

#logo {
  display: block;
  background: url(../images/apereo-logo.png) no-repeat;
  text-indent: -999em;
  float: left;
  height: 100px;
  width: 80%;
  margin-right: 40px;
  border: 0px;
  color: white;
}

#content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

#loadingMessage {
  font-size: 1.4rem;
}

#serviceui.serviceinfo {
  border: 1px dotted #0066FF;
  color: black;
  padding-left: 10px;
  padding-top: 5px;
}

#servicedesc {
  vertical-align: middle;
  padding-left: 30px;
  width: 90%;
}

.modal {
  display: none;
}

@media screen and (min-width: 960px) {
  #container {
    width: 960px;
  }
}

@media screen and (min-width: 1280px) {
  #ssosessions-page #container {
    width: 1280px;
  }
}

@media only screen and (max-width: 960px) {
  header {
    padding: 20px;
  }
  #container {
    width: 100%;
  }
  #content {
    border-radius: 0px;
    padding: 0;
  }
}

@media only screen and (max-width: 855px) {
  #logo {
    display: none;
  }
  header h1 {
    font-size: 1em;
    width: 70px;
    height: 40px;
    background-size: 70px 40px;
  }
  #login {
    float: none;
    width: 100%;
  }
  #fm1 .row input[type=text],
  #fm1 .row input[type=password] {
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #fm1 .row .btn-submit {
    outline: none;
    border: 0;
    background: #70ba61;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 10px 20px;
    border-radius: 3px;
  }
  #fm1 .row .btn-reset {
    display: none;
  }
  #sidebar {
    margin-top: 20px;
  }
  #sidebar .sidebar-content {
    padding: 0;
  }
}

/**
 * Consent Review Styles
 */
@media only screen and (max-width: 855px) {
  #consentDecisions .consent-attributes td, #consentDecisions .consent-attributes th {
    padding: 4px;
  }
}

#consent-decisions, #no-consent-decisions {
  display: none;
}

#no-consent-decisions div {
  margin-top: 2em;
}

#consentDecisions > tbody > tr:not(.info) {
  cursor: pointer;
}

#consentDecisions .created-date .label {
  font-size: 85%;
}

#consentDecisions .service-id {
  word-wrap: break-word;
  word-break: break-all;
}

#consentDecisions .consent-attributes {
  margin-bottom: 0;
}

#consentDecisions tr.info .btn-danger {
  float: right;
  padding: .5em;
  margin: 0 .2em 1em 0;
}

#alertWrapper .btn {
  margin: 1em 1em 0 0;
}

#logout {
  float: right;
  margin: 1em;
}
