/* MESSAGES
 --------------------------------- */
.info, .errors {
	clear:both;
	padding:20px;
	margin:0 0 1em;
    font-weight:bold;
	font-size:1.2em;
	line-height:1.5;
	padding-left:100px;
}

.info ul, .errors ul {list-style:none;}

.info {
	border:1px dotted #390; 
	color:#390; 
	background:#dfa url(../images/info.gif) no-repeat 2em 50%;
}

.errors {
	border:1px dotted #b00;
	color:#b00;
	background:#fed url(../images/error.gif) no-repeat 2em 50%; 
}

/* style for static info boxes */
p.info {
	font-weight:normal;
	background-color:#fff;
	color:#000;
	background:url(../images/info.gif) no-repeat 2em 50%;
	border-color:#fff;
}
