<md-card class="tabCard">
  <md-card-title>
    <h5>OIDC Client Options</h5>
  </md-card-title>
  <div class="cardContent">
    <div>
      <md-input-container class="textInput">
        <input mdInput required
               i18n-placeholder="services.form.label.oidc.jwks"
               [placeholder]="messages.services_form_label_oidc_jwks"
               [(ngModel)]="service.jwks">
      </md-input-container>
      <md-icon style="font-size: medium"
               i18n-mdTooltip="services.form.tooltip.oidc.jwks"
               [mdTooltip]="messages.services_form_tooltip_oidc_jwks">help
      </md-icon>
    </div>

    <div>
      <md-select multiple style="width:400px;padding-top: 25px;padding-bottom: 25px;"
                 i18n-placeholder="services.form.label.oidc.scopes"
                 [placeholder]="messages.services_form_label_oidc_scopes"
                 [(ngModel)]="service.scopes">
        <md-option *ngFor="let opt of selectOptions.oidcScopes"
                   [value]="opt.value">{{ opt.name }}</md-option>
      </md-select>
      <md-icon style="font-size: medium"
               i18n-mdTooltip="services.form.tooltip.oidc.scopes"
               [mdTooltip]="messages.services_form_tooltip_oidc_scopes">help
      </md-icon>
    </div>

    <div>
      <md-input-container class="textInput" *ngIf="service.scopes.indexOf('user_defined') > -1">
        <input mdInput
               placeholder="Enter User Defined values"
               [ngModel]="service.scopes_userdefined"/>
      </md-input-container>
    </div>

    <div>
      <md-checkbox [(ngModel)]="service.signIdToken">
        <ng-container i18n="services.form.label.oidc.signToken">
          {{ messages.services_form_label_oidc_signToken }}
        </ng-container>
        <md-icon style="font-size: medium"
                 i18n-mdTooltip="services.form.tooltip.oidc.signToken"
                 [mdTooltip]="messages.services_form_tooltip_oidc_signToken">help
        </md-icon>
      </md-checkbox>
    </div>

    <div>
      <md-checkbox [(ngModel)]="service.implicit">
        <ng-container i18n="services.form.label.oidc.implicit">
          {{ messages.services_form_label_oidc_implicit }}
        </ng-container>
        <md-icon style="font-size: medium"
                 i18n-mdTooltip="services.form.tooltip.oidc.implicit"
                 [mdTooltip]="messages.services_form_tooltip_oidc_implicit">help
        </md-icon>
      </md-checkbox>
    </div>

    <div>
      <md-checkbox [(ngModel)]="service.encryptIdToken">
        <ng-container i18n="services.form.label.oidc.encrypt">
          {{ messages.services_form_label_oidc_encrypt }}
        </ng-container>
        <md-icon style="font-size: medium"
                 i18n-mdTooltip="services.form.tooltip.oidc.encrypt"
                 [mdTooltip]="messages.services_form_tooltip_oidc_encrypt">help
        </md-icon>
      </md-checkbox>
    </div>

    <div>
      <md-input-container class="textInput">
        <input mdInput required
               i18n-placeholder="services.form.label.oidc.encryptAlg"
               [placeholder]="messages.services_form_label_oidc_encryptAlg"
               [(ngModel)]="service.idTokenEncryptionAlg">
      </md-input-container>
      <md-icon style="font-size: medium"
               i18n-mdTooltip="services.form.tooltip.oidc.encryptAlg"
               [mdTooltip]="messages.services_form_tooltip_oidc_encryptAlg">help
      </md-icon>
    </div>

    <div>
      <md-input-container class="textInput">
        <input mdInput required
               i18n-placeholder="ervices.form.label.oidc.encryptEnc"
               [placeholder]="messages.services_form_label_oidc_encryptEnc"
               [(ngModel)]="service.idTokenEncryptionEncoding">
      </md-input-container>
      <md-icon style="font-size: medium"
               i18n-mdTooltip="services.form.tooltip.oidc.encryptEnc"
               [mdTooltip]="messages.services_form_tooltip_oidc_encryptEnc">help
      </md-icon>
    </div>

    <div *ngIf="service.dynamicallyRegistered">
      <md-input-container class="textInput">
        <input mdInput
               i18n-placeholder="services.form.label.oidc.dynamicDate"
               [placeholder]="messages.services_form_label_oidc_dynamicDate"
               [(ngModel)]="service.dynamicRegistrationDateTime">
      </md-input-container>
      <md-icon style="font-size: medium"
               i18n-mdTooltip="services.form.tooltip.oidc.dynamicDate"
               [mdTooltip]="messages.services_form_tooltip_oidc_dynamicDate">help
      </md-icon>
    </div>
  </div>
</md-card>
