<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout(mainContentClass='container-xxl')}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title th:text="#{cas.login.pagetitle}">CAS Admin UI</title>

    <link rel="stylesheet" type="text/css" th:href="@{#{webjars.highlight.css}}"/>
    <link rel="stylesheet" type="text/css" th:href="@{#{webjars.jqueryui.css}}" />
    
    <script type="text/javascript" th:src="@{#{webjars.highlight.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.chart.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.ace-editor.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.ace-editor-languagetools.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.ace-editor-beautify.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.sweet-alert.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.notyf.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.mermaid.js}}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{#{webjars.sweet-alert.css}}" />
    <link rel="stylesheet" type="text/css" th:href="@{#{webjars.animate.css}}" />
    <link rel="stylesheet" type="text/css" th:href="@{#{webjars.notyf.css}}" />

    <script th:inline="javascript">
        /*<![CDATA[*/
        const casServerPrefix = /*[[${casServerPrefix}]]*/;
        const actuatorEndpoints = /*[[${actuatorEndpoints}]]*/;
        const serviceDefinitions = /*[[${serviceDefinitions}]]*/;
        /*]]>*/
    </script>
    
    <script type="text/javascript" th:src="@{/js/palantir.js}"></script>
</head>

<body>

<main class="container mt-3 mb-3">
    <div layout:fragment="content" id="dashboard" class="d-none">
        <div th:replace="~{fragments/palantir/navigationsidebar :: main}"/>
        <div class="mdc-card p-2 m-1" style="min-height: 100vh;">
            <div th:replace="~{fragments/palantir/dashboardtabs :: main}"/>
            <div th:replace="~{fragments/palantir/servicestab :: main}"/>
            <div th:replace="~{fragments/palantir/systemtab :: main}"/>
            <div th:replace="~{fragments/palantir/ticketstab :: main}"/>
            <div th:replace="~{fragments/palantir/taskstab :: main}"/>
            <div th:replace="~{fragments/palantir/accessstrategytab :: main}"/>
            <div th:replace="~{fragments/palantir/loggerstab :: main}"/>
            <div th:replace="~{fragments/palantir/ssosessionstab :: main}"/>
            <div th:replace="~{fragments/palantir/configurationtab :: main}"/>
            <div th:replace="~{fragments/palantir/persondirectorytab :: main}"/>
            <div th:replace="~{fragments/palantir/authenticationtab :: main}"/>
            <div th:replace="~{fragments/palantir/consenttab :: main}"/>
            <div th:replace="~{fragments/palantir/protocolstab :: main}"/>
            <div th:replace="~{fragments/palantir/throttlestab :: main}"/>
            <div th:replace="~{fragments/palantir/mfatab :: main}"/>
            <div th:replace="~{fragments/palantir/multitenancytab :: main}"/>
        </div>
        <script type="text/javascript" th:src="@{#{webjars.jqueryui.js}}"></script>
    </div>
</main>
</body>
</html>
