<cas:serviceResponse xmlns:cas='http://www.yale.edu/tp/cas'>
    <cas:authenticationSuccess>
        <cas:user>{{principal.id}}</cas:user>{{#pgtIou}}
        <cas:proxyGrantingTicket>{{pgtIou}}</cas:proxyGrantingTicket>{{/pgtIou}}
        {{#proxies.0}}
        <cas:proxies>
        {{#proxies}}
            {{#proxies}}
            <cas:proxy>{{{.}}}</cas:proxy>
            {{/proxies}}
        {{/proxies}}
        </cas:proxies>
        {{/proxies.0}}
    </cas:authenticationSuccess>
</cas:serviceResponse>
