@import 'https://fonts.googleapis.com/css?family=PT+Mono';

#authnEvents {
  .tabsContainer {
    padding: 0 20px;
  }
  .btn .caret {
    margin-left: 5px;
  }
}
.tab-pane {
  padding: 20px 10px;
  border: 1px solid #ddd;
  border-top: none;
}

#container {
  width:100%;
}
