// Todo: Export various sections based on functionality
@import "components/variables";

@import "partials/messages";

@import "components/login";

@import "components/footer";

@import "components/buttons";


html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body>.container {
  padding: 65px 15px 0px;
}

a {
  color: $link-color;
}
.logo {
  width: 80px;
  display: block;
}

header {
  & > .navbar {
    background-color: $navbar-background-color;

    .logo {
      path.cls-1 {
        @if lightness($navbar-background-color) > lightness(#aaa) {
          fill: $cas-primary;
        } @else {
          fill: white;
        }
      }
    }
  }
}
