<span th:fragment="javascript" th:remove="tag">
    <script type="text/javascript" th:src="@{#{webjars.material-components.js}}"></script>
</span>

<span th:fragment="stylesheets" th:remove="tag">
    <link rel="stylesheet" type="text/css" th:href="@{#{webjars.normalize.css}}" />
    <link rel="stylesheet" type="text/css" th:href="@{#{webjars.bootstrap-grid.css}}" />
    <link rel="stylesheet" type="text/css" th:href="@{#{webjars.material-components.css}}" />
    <link rel="stylesheet" type="text/css" th:href="@{#{webjars.mdi-font.css}}" />
    <link rel="stylesheet" type="text/css" th:href="@{#{webjars.dataTables.css}}" />
</span>
