<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Login Sidebar Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
<main class="container mt-3 mb-3">
    <div th:fragment="loginSidePanel" id="loginSidePanel">
        <div class="loginSidePanel-content">

        </div>
    </div>
</main>
</body>

</html>
