<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Login Sidebar Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div th:fragment="logindrawer" id="logindrawer">
        <aside id="app-drawer"
               th:if="${'true' == #strings.defaultString(#themes.code('cas.drawer-menu.enabled'), 'true')}"
               class="mdc-drawer mdc-drawer--dismissible mdc-drawer--modal offcanvas offcanvas-start">
            <div class="mdc-drawer__header offcanvas-header flex-column">
                <h3 class="mdc-drawer__title offcanvas-title" th:text="${#strings.defaultString(#themes.code('cas.theme.name'), 'CAS')}">
                    CAS</h3>
                <h6 class="mdc-drawer__subtitle offcanvas-title"
                    th:text="${#strings.defaultString(#themes.code('cas.theme.description'), 'Central Authentication Service')}">
                    Central Authentication Service</h6>
            </div>
            <div class="mdc-drawer__content offcanvas-body">
                <nav class="mdc-list list-group list-group-flush" th:with="serverprefix=${cas.server.prefix}">
                    <a id="halbrowser"
                       th:href="@{${'/webjars/hal-explorer/index.html#hkey0=Content-Type&hval0=application/json&uri=' + serverprefix + '/actuator'}}"
                       class="mdc-list-item list-group-item list-group-item-action">
                        <i class="mdi mdi-cogs fa fa-cogs"></i>&nbsp;
                        <span class="mdc-list-item__text">HAL Explorer</span>
                    </a>

                    <a th:href="@{/actuator}" class="mdc-list-item list-group-item list-group-item-action">
                        <i class="mdi mdi-cogs fa fa-cogs"></i>&nbsp;
                        <span class="mdc-list-item__text">[[#{cas.login.resources.endpoints}]]</span>
                    </a>
                    <hr class="mdc-list-divider bs-hide"/>
                    <a class="mdc-list-item list-group-item list-group-item-action" href="https://apereo.github.io/cas">
                        <i class="mdi mdi-file-code-outline fas fa-file-code"></i>&nbsp;
                        <span class="mdc-list-item__text">[[#{cas.login.resources.wiki}]]</span>
                    </a>
                    <a class="mdc-list-item list-group-item list-group-item-action" href="https://github.com/apereo/cas/pulls">
                        <i class="mdi mdi-call-merge fas fa-code-branch"></i>&nbsp;
                        <span class="mdc-list-item__text">[[#{cas.login.resources.pulls}]]</span>
                    </a>
                    <a class="mdc-list-item list-group-item list-group-item-action"
                       href="https://apereo.github.io/cas/developer/Contributor-Guidelines.html">
                        <i class="mdi mdi-information fas fa-info-circle"></i>&nbsp;
                        <span class="mdc-list-item__text">[[#{cas.login.resources.contribguide}]]</span>
                    </a>
                    <a class="mdc-list-item list-group-item list-group-item-action" href="https://apereo.github.io/cas/Support.html">
                        <i class="mdi mdi-help-circle fas fa-question-circle"></i>&nbsp;
                        <span class="mdc-list-item__text">[[#{cas.login.resources.support}]]</span>
                    </a>
                    <a class="mdc-list-item list-group-item list-group-item-action" href="https://apereo.github.io/cas/Mailing-Lists.html">
                        <i class="mdi mdi-email-newsletter fas fa-envelope-open-text"></i>&nbsp;
                        <span class="mdc-list-item__text">[[#{cas.login.resources.mailinglist}]]</span>
                    </a>
                    <a class="mdc-list-item list-group-item list-group-item-action" href="https://gitter.im/apereo/cas">
                        <i class="mdi mdi-message-text fas fa-comment-dots"></i>&nbsp;
                        <span class="mdc-list-item__text">[[#{cas.login.resources.chat}]]</span>
                    </a>
                    <a class="mdc-list-item list-group-item list-group-item-action" href="https://apereo.github.io/">
                        <i class="mdi mdi-post fas fa-newspaper"></i>&nbsp;
                        <span class="mdc-list-item__text">[[#{cas.login.resources.blog}]]</span>
                    </a>
                </nav>
            </div>
        </aside>
    </div>
</main>
</body>

</html>

