<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Password Update Form</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
    <link href="../../static/css/account.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main class="container mt-3 mb-3">
    <div id="pwdmain" th:fragment="pwdupdateform">
        <script th:inline="javascript">
            /*<![CDATA[*/

            let policyPattern = /*[[${passwordPolicyPattern}]]*/;
            let passwordStrengthI18n = {
                0: /*[[#{screen.pm.password.strength.0}]]*/,
                1: /*[[#{screen.pm.password.strength.1}]]*/,
                2: /*[[#{screen.pm.password.strength.2}]]*/,
                3: /*[[#{screen.pm.password.strength.3}]]*/,
                4: /*[[#{screen.pm.password.strength.4}]]*/
            };
            let passwordMinimumStrength = 0;

            /*]]>*/

            function generatePassword() {
                let possible = /*[[${passwordPolicyCharacterSet}]]*/;
                let text = '';
                for(let i = 0; i < /*[[${passwordPolicyPasswordLength}]]*/; i++) {
                    text += possible.charAt(Math.floor(Math.random() * possible.length));
                }
                $("#password").val(text);
                $("#confirmedPassword").val(text);
                
                $('#submit').prop('disabled', "");
                document.getElementById("password").dispatchEvent(new Event("keyup"));
            }

        </script>
        <h2 th:utext="${expiredPass}
        ? #{screen.expiredpass.heading(${username})}
        : #{screen.mustchangepass.heading(${username})}">
            Change Password Heading</h2>

        <form id="passwordManagementForm" class="cas-flow-form" th:if="${passwordManagementEnabled}" method="post"
              th:object="${password}">
            <div class="alert alert-danger acct-banner acct-banner-error" role="alert" th:if="${#fields.hasErrors('*')}">
                <i class="mdi mdi-alert-circle-outline" aria-hidden="true"></i>
                <div class="acct-banner-body">
                    <p th:each="err : ${#fields.errors('*')}" th:utext="${err}">Error text</p>
                </div>
            </div>

            <div class="cas-flow-field">
                <label for="password" th:utext="#{screen.pm.enterpsw}">Enter Password:</label>
                <span class="cas-flow-input-row">
                    <input class="acct-input pwd"
                           autocapitalize="none"
                           spellcheck="false"
                           type="password"
                           name="password"
                           id="password"
                           th:field="*{password}"
                           data-caps-check="pwdCapsLockWarning"
                           aria-describedby="password-strength-notes"
                           autocomplete="new-password" required/>
                    <button class="acct-btn acct-btn-icon reveal-password" type="button" aria-pressed="false"
                            th:aria-label="#{screen.pm.password.toggle}" th:title="#{screen.pm.password.toggle}">
                        <i class="mdi mdi-eye reveal-password-icon" aria-hidden="true"></i>
                    </button>
                    <button class="acct-btn acct-btn-icon generate-password" type="button" onclick="generatePassword();"
                            th:aria-label="#{screen.pm.password.generate}" th:title="#{screen.pm.password.generate}">
                        <i class="mdi mdi-auto-fix" aria-hidden="true"></i>
                    </button>
                </span>
                <div th:replace="~{fragments/accountflow :: strengthMeter}"></div>
            </div>

            <div class="cas-flow-field">
                <label for="confirmedPassword" th:utext="#{screen.pm.confirmpsw}">Confirm Password:</label>
                <input class="acct-input pwd"
                       type="password"
                       autocapitalize="none"
                       spellcheck="false"
                       name="confirmedPassword"
                       id="confirmedPassword"
                       th:field="*{confirmedPassword}"
                       data-caps-check="pwdCapsLockWarning"
                       autocomplete="new-password" required/>
            </div>
            <p id="pwdCapsLockWarning" class="cas-flow-caps" role="status" hidden th:utext="#{screen.capslock.on}">CAPSLOCK key is turned on!</p>

            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            <input type="hidden" name="_eventId" value="submit"/>
            <div class="cas-flow-actions">
                <button class="acct-btn acct-btn-primary drop-button"
                        name="submit"
                        th:value="#{screen.pm.button.submit}"
                        th:attr="data-processing-text=#{screen.welcome.button.loginwip}"
                        value="SUBMIT"
                        id="submit"
                        type="submit"
                        disabled>
                    <span class="mdc-button__label" th:text="#{screen.pm.button.submit}">Submit</span>
                </button>
                <a class="acct-btn" th:href="@{/login}" th:text="#{screen.pm.button.cancel}">Cancel</a>
            </div>
        </form>

        <p id="pwddesc" class="cas-flow-intro" th:unless="${passwordManagementEnabled}"
           th:utext="${expiredPass} ? #{screen.expiredpass.message('https://pwd.example.org')} : #{screen.mustchangepass.message('https://pwd.example.org')}">Expired/Must Change Password text</p>

    </div>
</main>
</body>
</html>
