<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>loginProviders Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>
<body>
<main role="main" class="container mt-3 mb-3">
	<div th:fragment="qrLogin" th:remove="tag">
<div class="card bg-light">
            <div class="card-body pb-4">
                <div class="card-title">
                    <div class="text-center">
                        <h3 class="mt-md-0 mt-4">
                            <i class="mdi mdi-qrcode-scan"></i>
                            <span>QR Key</span>
                        </h3>
			<p th:utext="${qrMessage}">Error</p>
			<video id="qrVideo" style="display: none; width: 100%; height: 100%;"></video>
        <button
                class="mdc-button mdc-button--raised"
                name="qrLogin"
                id="qrLogin"
                accesskey="z">
            <span class="mdc-button__label">Click here!</span>
        </button>
		    </div>
		</div>
	    </div>
	</div>
	<script type="text/javascript">

	    // this runs on page load
	    var qrButton = document.getElementById("qrLogin");
	    qrButton.setAttribute("onclick", "startQr()");

	    var qrScannerElem = document.getElementById("qrVideo");
	    var qrCredentialElem = document.getElementById("qrCredential");
	    var loginForm = document.getElementById("fm1");

	    /*<![CDATA[*/
	    //import QrScanner from '[[@{#{webjars.qr-scanner.js}}]]';
	    //QrScanner.WORKER_PATH = '[[@{#{webjars.qr-scanner-worker.js}}]]';

	    var qrScannerPath = '[[@{#{webjars.qr-scanner.js}}]]';
	    var qrScannerWorkerPath = '[[@{#{webjars.qr-scanner-worker.js}}]]';
	    /*]]>*/

	    import(qrScannerPath).then((module) => {
		var QrScanner = module.default;
		QrScanner.WORKER_PATH = qrScannerWorkerPath;
		window.scanner = new QrScanner(qrScannerElem, result => onScan(result));
	    });

	    function onScan(result) {
		console.log('decoded qr:', result);
		qrCredentialElem.value = result;
		HTMLFormElement.prototype.submit.call(loginForm);
	    }
	    
	    function startQr() {
		scanner.start();
	    	var qrScannerElem = document.getElementById("qrVideo");
		qrScannerElem.style.display = "block";
	    	var qrButton = document.getElementById("qrLogin");
	    	qrButton.setAttribute("onclick", "stopQr()");
	    }

	    function stopQr() {
		scanner.stop();
	    	var qrScannerElem = document.getElementById("qrVideo");
		qrScannerElem.style.display = "none";
	    	var qrButton = document.getElementById("qrLogin");
	    	qrButton.setAttribute("onclick", "startQr()");
	    }

	</script>
    </div>
</main>
</body>
</html>
