<script type="text/javascript" th:src="@{#{webjars.es5shim.js}}"></script>
<script type="text/javascript" th:src="@{#{webjars.cssVarsPonyfill.js}}"></script>
<script type="text/javascript" th:src="@{#{webjars.jquery.js}}"></script>
<script type="text/javascript" th:src="@{#{webjars.material-components.js}}"></script>

<span th:remove="tag" th:each="file : ${#strings.arraySplit(#themes.code('cas.standard.js.file'), ',')}">
    <script type="text/javascript" th:src="@{${file}}"></script>
</span>


<script th:inline="javascript">
    if (typeof resourceLoadedSuccessfully === "function") {
        resourceLoadedSuccessfully();
    }
    $(function() {
        cssVars({onlyLegacy: true});
    })
</script>

<script th:replace="fragments/googleanalytics :: ga"></script>
