<head>
    <title th:text="#{management.services.header.apptitle}"/>
    <meta name="version" th:content="${T(org.apereo.cas.util.CasVersion).getVersion()}" />
    <meta name="_csrf" content="${pac4jCsrfToken}"/>
    <meta name="_csrf_header" content="pac4jCsrfToken"/>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{#{webjars.fontawesomemin.css}}"/>
    <link rel="stylesheet" 
          th:href="@{#{webjars.bootstrap-datetimepickermin.css}}"/>

    <link rel="stylesheet" th:href="@{#{webjars.ngtablemin.css}}" />
    <link rel="stylesheet" th:href="@{/css/cas-management.css}" />

    <script type="text/javascript" th:src="@{#{webjars.jquerymin.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.jqueryui.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.bootstrapmin.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.lodashmin.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.angularjsmin.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.angularjs.routemin.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.angularuimin.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.angularuisortable.sortable.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.ngtablemin.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.momentjs.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.knockoutmin.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.bootstrap-datetimepickermin.js}}"></script>
    <script type="text/javascript" th:src="@{/js/app/app-angular.js}"></script>
    <script type="text/javascript" th:src="@{/js/app-jquery.js}"></script>
</head>
