<head>
    <title th:text="#{management.services.header.apptitle}"/>
    <meta name="version" th:content="${T(org.apereo.cas.util.CasVersion).getVersion()}" />
    <meta name="_csrf" content="${pac4jCsrfToken}"/>
    <meta name="_csrf_header" content="pac4jCsrfToken"/>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" 
          th:href="@{//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css}"/>

    <link rel="stylesheet" th:href="@{//cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.min.css}" />
    <link rel="stylesheet" th:href="@{/css/cas-management.css}" />

    <script type="text/javascript" th:src="@{//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular-route.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.13.4/sortable.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js}"></script>
    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js}"></script>
    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/app/app-angular.js}"></script>
    <script type="text/javascript" th:src="@{/js/app-jquery.js}"></script>
</head>
