<div>
  <md-form-field class="textInput">
    <input mdInput
           i18n-placeholder="services.form.label.attrRelease.attrFilter"
           [placeholder]="messages.services_form_label_attrRelease_attrFilter"
           [ngModel]="getPattern()"
           (ngModelChange)="updateFilter($event)"/>
  </md-form-field>
  <md-icon style="font-size: medium"
           i18n-mdTooltip="services.form.tooltip.attrRelease.attrFilter"
           [mdTooltip]="messages.services_form_tooltip_attrRelease_attrFilter">help
  </md-icon>
</div>
