<div>
  <md-table [dataSource]="dataSource">

    <ng-container cdkColumnDef="source">
      <md-header-cell *cdkHeaderCellDef [ngClass]="'nameWidth'">Name</md-header-cell>
      <md-cell *cdkCellDef="let row" [ngClass]="'nameWidth'">
        <md-input-container>
          <input mdInput #text
                 [ngModel]="row.key"
                 (change)="doChange(row,$event.target.value)">
        </md-input-container>
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="mapped">
      <md-header-cell *cdkHeaderCellDef [ngClass]="'valueWidth'">Value</md-header-cell>
      <md-cell *cdkCellDef="let row" [ngClass]="'valueWidth'">
        <md-input-container>
          <input mdInput
                 [ngModel]="data.service.accessStrategy.rejectedAttributes[row.key]"
                 (ngModelChange)="data.service.accessStrategy.rejectedAttributes[row.key] = $event.split(',')">
        </md-input-container>
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="delete">
      <md-header-cell *cdkHeaderCellDef [ngClass]="'actionWidth'"></md-header-cell>
      <md-cell *cdkCellDef="let row" [ngClass]="'actionWidth'">
        <button md-icon-button (click)="delete(row)"><md-icon style="font-size: medium">delete</md-icon></button>
      </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>

  </md-table>
  <div style="height:25px;padding-top: 5px;">
    <button md-mini-fab (click)="addRow()" style="float:right;">+</button>
  </div>
</div>
