<div class="casmgmt-form service-editor form-horizontal" autocomplete="off" id="serviceForm"
      novalidate="novalidate">

  <app-saveformtop (save)="saveForm()"></app-saveformtop>
  <app-alert #alert></app-alert>

  <md-tab-group (selectedIndexChange)="goto($event)">
    <md-tab>
      <ng-template md-tab-label>
          <ng-container i18n>Basics</ng-container>
      </ng-template>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
          <ng-container i18n>Service Type</ng-container>
      </ng-template>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
          <ng-container i18n>Logout</ng-container>
      </ng-template>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
          <ng-container i18n>Access Strategy</ng-container>
      </ng-template>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
          <ng-container i18n>Multifactor Authentication</ng-container>
      </ng-template>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
          <ng-container i18n>Proxy Authentication</ng-container>
      </ng-template>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
          <ng-container i18n>Username Attribute</ng-container>
      </ng-template>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
          <ng-container i18n>Attribute Release</ng-container>
      </ng-template>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
          <ng-container i18n>Properties</ng-container>
      </ng-template>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
          <ng-container>Advanced</ng-container>
      </ng-template>
    </md-tab>
  </md-tab-group>

  <router-outlet name="form"></router-outlet>

</div>
