/*
 * Licensed to Apereo under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Apereo licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License.  You may obtain a
 * copy of the License at the following location:
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
#loggingDashboard {

}
#loggingDashboard .tabsContainer {
    padding: 0 20px;
}
#error-retrieving-data {}

#loggingDashboard .btn .caret {
    margin-left: 5px;
}

#loggersTable td.details-control span {
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 10pt;
    color: #337ab7;
}
#loggersTable td.details-control span:after {
    content: "\f067";
    /*content: "\002B"; - thinner plus sign */
}
#loggersTable tr.shown td.details-control span:after {
    content: "\f068";
    /*content: "\002D"; - thinner minus sign */
}

.tab-pane {
    padding: 20px 10px;
    border: 1px solid #ddd;
    border-top: none;
}
.additive {
    text-align: center;
}
.additive .glyphicon-ok {
    color: #5cb85c;
}
.additive .glyphicon-remove {
    color: #d9534f;
}