// Licensed to Jasig under one or more contributor license
// agreements. See the NOTICE file distributed with this work
// for additional information regarding copyright ownership.
// Jasig licenses this file to you under the Apache License,
// Version 2.0 (the "License"); you may not use this file
// except in compliance with the License.  You may obtain a
// copy of the License at the following location:
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.
#cas {
	#content {
		padding: 10px;
		overflow: hidden;
		
		#msg {
			padding: 20px;
			margin-bottom: 10px;
			h2 {
				font-size: 1.4em;
				margin-bottom: 0.5em;
			}
			
			&.errors {
				border: 1px dotted #BB0000;
				color: #BB0000;
				padding-left: 100px;
				background: url(../images/error.gif) no-repeat 20px center;
			}
			
			&.success {
				border: 1px dotted #390;
				color: #390;
				padding-left: 100px;
				background: url(../images/confirm.gif) no-repeat 20px center;
			}
			
			&.info {
				border: 1px dotted #008;
				color: #008;
				padding-left: 100px;
				background: url(../images/info.gif) no-repeat 20px center;
			}
		}
		
		#login {
			width: 320px;
			float: left;
			margin-right: 20px;
			
			#fm1 {
				padding: 20px;
				background: #eee;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				
				h2 {
					font-size: 1.4em;
					font-weight: normal;
					padding-bottom: 10px;
					margin-bottom: 10px;
					border-bottom: 1px solid #DDDDDD;
				}
				
				.row {
					margin-bottom: 10px;
					.fl-label {
						display: block;
						color: #777777;
					}
					
					input[type=text], input[type=password] {
						padding: 6px;
						-webkit-border-radius: 3px;
						-moz-border-radius: 3px;
						border-radius: 3px;
						border: 1px solid #DDDDDD;
						background: #FFFFDD;
					}
					
					&.check {
						padding-bottom: 10px;
						margin-bottom: 10px;
						border-bottom: 1px solid #DDDDDD;
						color: #777;
						font-size: 11px;
					}
					
					.btn-submit {
						border-width: 2px;
						padding: 3px;
						margin-right: 4px;
					}
					
					.btn-reset {
						border: 0;
						background: none;
						color: #777;
						text-transform: lowercase;
						border-left: 1px solid #ddd;
					}
					
					.btn-submit, .btn-reset {
						&:hover {
							cursor: pointer;
						}
					}
				}
			}
		}
		
		#sidebar {
			width: auto;
			
			
			.sidebar-content {
				padding-left: 20px;
				
				p {
					margin-bottom: 1.4em;
				}
				
				#list-languages {
					ul {
						list-style: none;
						
						li {
							display: inline-block;
							padding: 0px 10px;
							border-right: 1px solid #e2e2e2;
							&:last-child {
								border: 0;
								line-height: 1.4em;
							}
						}
					}
				}
			}
		}	
	}
}

@media only screen and (max-width: 799px) {
	#cas {
		
		#content {
		
			#login {
				float: none;
				width: 100%;
				
				#fm1 {
				
					.row {
						.fl-label {
							margin-left: -10px;
						}
						input[type=text], input[type=password] {
							width: 100%;
							margin-left: -10px;
							padding: 10px;
						}
						
						.btn-submit {
							outline: none;
							-webkit-appearance: none;
							-webkit-border-radius: 0;
							border: 0;
							background: #210F7A;
							color: white;
							font-weight: bold;
							width: 100%;
							padding: 10px 20px;
							-webkit-border-radius: 3px;
							-moz-border-radius: 3px;
							border-radius: 3px;
						}
						
						.btn-reset {
							display: none;
						}
					}
				}
			}
			
			#sidebar {
				margin-top: 20px;
				.sidebar-content {
					padding: 0;
				}
			}
		}
	}
}