<div>
  <md-checkbox [(ngModel)]="service.attributeReleasePolicy.excludeDefaultAttributes">
    <ng-container i18n="services.form.label.attrRelease.excludeDefault">
      {{ messages.services_form_label_attrRelease_excludeDefault }}
    </ng-container>
    <md-icon style="font-size: medium"
             i18n-mdTooltip="services.form.tooltip.attrRelease.excludeDefault"
             [mdTooltip]="messages.services_form_tooltip_attrRelease_excludeDefault">help
    </md-icon>
  </md-checkbox>
</div>

<div>
  <md-checkbox [(ngModel)]="service.attributeReleasePolicy.authorizedToReleaseCredentialPassword">
    <ng-container i18n="services.form.label.attrRelease.releaseCredPassword">
      {{ messages.services_form_label_attrRelease_releaseCredPassword }}
    </ng-container>
    <md-icon style="font-size: medium"
             i18n-mdTooltip="services.form.tooltip.attrRelease.releaseCredPassword"
             [mdTooltip]="messages.services_form_tooltip_attrRelease_releaseCredPassword">help
    </md-icon>
  </md-checkbox>
</div>

<div>
  <md-checkbox [(ngModel)]="service.attributeReleasePolicy.authorizedToReleaseProxyGrantingTicket">
    <ng-container i18n="services.form.label.attrRelease.releaseProxyTicket">
      {{ messages.services_form_label_attrRelease_releaseProxyTicket }}
    </ng-container>
    <md-icon style="font-size: medium"
             i18n-mdTooltip="services.form.tooltip.attrRelease.releaseProxyTicket"
             [mdTooltip]="messages.services_form_tooltip_attrRelease_releaseProxyTicket">help
    </md-icon>
  </md-checkbox>
</div>
