<!--
<div>
  <md-radio-group [(ngModel)]="type" (change)="changeType()">

    <md-radio-button [value]="TYPE.SCRIPT">
      <ng-container i18n="services.form.label.attrRelease.policies.script">
        {{ messages.services_form_label_attrRelease_policies_script }}
      </ng-container>
    </md-radio-button>

    <md-radio-button  [value]="TYPE.GROOVY">
      <ng-container i18n="services.form.label.attrRelease.policies.groovy">
        {{ messages.services_form_label_attrRelease_policies_groovy }}
      </ng-container>
    </md-radio-button>

    <md-radio-button [value]="TYPE.RETURN_ALL">
      <ng-container i18n="services.form.label.attrRelease.policies.returnAll">
        {{ messages.services_form_label_attrRelease_policies_returnAll }}
      </ng-container>
    </md-radio-button>

    <md-radio-button [value]="TYPE.DENY_ALL">
      <ng-container i18n="services.form.label.attrRelease.policies.denyAll">
        {{ messages.services_form_label_attrRelease_policies_denyAll }}
      </ng-container>
    </md-radio-button>

    <md-radio-button [value]="TYPE.RETURN_ALLOWED"  [disabled]="isEmpty( formData.availableAttributes )">
      <ng-container i18n="services.form.label.attrRelease.policies.returnAllowed">
        {{ messages.services_form_label_attrRelease_policies_returnAllowed }}
      </ng-container>
    </md-radio-button>

    <md-radio-button  [value]="TYPE.RETURN_MAPPED" [disabled]="isEmpty( formData.availableAttributes )">
      <ng-container i18n="services.form.label.attrRelease.policies.returnMapped">
        {{ messages.services_form_label_attrRelease_policies_returnMapped }}
      </ng-container>
    </md-radio-button>

    <md-radio-button *ngIf="isSaml" [value]="TYPE.MATCHING" [disabled]="isEmpty( formData.availableAttributes )">
      <ng-container i18n="services.form.label.attrRelease.policies.patternMatching">
        {{ messaes.services_form_label_attrRelease_policies_patternMatching }}
      </ng-container>
    </md-radio-button>

    <md-radio-button *ngIf="isSaml" [value]="TYPE.INCOMMON">
      <ng-container i18n="services.form.label.attrRelease.policies.releaseIncommon">
        {{ messages.services_form_label_attrRelease_policies_releaseInCommon }}
      </ng-container>
    </md-radio-button>

  </md-radio-group>
</div>
-->
<div>
  <md-select style="width:500px;padding-top: 25px;padding-bottom: 25px;"
             placeholder="Policy"
             [(ngModel)]="type"
             (change)="changeType()">
    <md-option *ngFor="let opt of types; let i = index" [value]="opt">
      {{ display[i] }}
    </md-option>
  </md-select>
</div>

<div *ngIf="type == TYPE.SCRIPT">
  <md-input-container class="textInput">
    <input mdInput
           i18n-placeholder="services.form.label.attrRelease.policies.scriptFile"
           [placeholder]="messages.services_form_label_attrRelease_policies_scriptFile"
           [(ngModel)]="service.attributeReleasePolicy.scriptFile">
  </md-input-container>
  <md-icon style="font-size: medium"
           i18n-mdTooltip="services.form.tooltip.attrRelease.policies.scriptFile"
           [mdTooltip]="messages.services_form_tooltip_attrRelease_policies_scriptFile">help
  </md-icon>
</div>

<div *ngIf="type == TYPE.GROOVY">
  <md-input-container class="textInput">
    <input mdInput
           i18n-placeholder="services.form.label.attrRelease.policies.scriptFile"
           [placeholder]="messages.services_form_label_attrRelease_policies_scriptFile"
           [(ngModel)]="service.attributeReleasePolicy.groovyScript">
  </md-input-container>
  <md-icon style="font-size: medium"
           i18n-mdTooltip="services.form.tooltip.attrRelease.policies.scriptFile"
           [mdTooltip]="messages.services_form_tooltip_attrRelease_policies_scriptFile">help
  </md-icon>
</div>

<div *ngIf="type == TYPE.RETURN_ALL || type == TYPE.DENY_ALL || isEmpty( formData.availableAttributes )">
  <ng-container i18n="management.services.service.noAction">
    {{ messages.management_services_service_noAction }}
  </ng-container>
</div>

<div *ngIf="type == TYPE.RETURN_ALLOWED && !isEmpty( formData.availableAttributes )">
  <md-select multiple style="width:400px;padding-top:25px;"
             i18n-placeholder="services.form.label.attrRelease.policies.returnAllowed"
             [placeholder]="messages.services_form_label_attrRelease_policies_returnAllowed"
             [(ngModel)]="service.attributeReleasePolicy.allowedAttributes">
    <md-option *ngFor="let opt of formData.availableAttributes" [value]="opt">
      {{ opt }}
    </md-option>
  </md-select>
  <md-icon style="font-size: medium"
           i18n-mdTooltip="services.form.tooltip.attrRelease.policies.returnAllowed"
           [mdTooltip]="messages.services_form_tooltip_attrRelease_policies_returnAllowed">help
  </md-icon>
</div>

<div *ngIf="type == TYPE.RETURN_MAPPED && !isEmpty( formData.availableAttributes )">
  <app-mappedattributes [attributes]="service.attributeReleasePolicy.allowedAttributes"></app-mappedattributes>
</div>
