<div class="panel panel-default">
  <div class="panel-heading">
    <ng-container i18n="services_form_header_attrPolicy">
      {{ messages.services_form_header_attrPolicy }}
    </ng-container>
  </div>
  <div class="panel-body">
    <div class="radio-group">

      <!-- Filter Policies Radio Button - Return Script -->
      <label class="radio-inline">
        <input type="radio" name="policiesReturnScript" id="policiesRadioScript" value="script"
               [(ngModel)]="serviceData.attrRelease.attrPolicy.type"
               [checked]="serviceData.attrRelease.attrPolicy.type == 'script'" />
        <ng-container i18n="services.form.label.attrRelease.policies.script">
          {{ messages.services_form_label_attrRelease_policies_script }}
        </ng-container>
      </label>

      <!-- Filter Policies Radio Button - Return Groovy Script -->
      <label class="radio-inline">
        <input type="radio" name="policiesReturnGroovy" id="policiesRadioGroovy" value="groovy"
               [(ngModel)]="serviceData.attrRelease.attrPolicy.type"
               [checked]="serviceData.attrRelease.attrPolicy.type == 'groovy'" />
        <ng-container i18n="services.form.label.attrRelease.policies.groovy">
          {{ messages.services_form_label_attrRelease_policies_groovy }}
        </ng-container>
      </label>

      <!-- Filter Policies Radio Button - Return All -->
      <label class="radio-inline">
        <input type="radio" name="policiesReturnAll" id="policiesRadioAll" value="all"
               [(ngModel)]="serviceData.attrRelease.attrPolicy.type"
               [checked]="serviceData.attrRelease.attrPolicy.type == 'all'" />
        <ng-container i18n="services.form.label.attrRelease.policies.returnAll">
          {{ messages.services_form_label_attrRelease_policies_returnAll }}
        </ng-container>
      </label>

      <!-- Filter Policies Radio Button - Return All -->
      <label class="radio-inline">
        <input type="radio" name="policiesReturnAll" id="policiesRadioDeny" value="deny"
               [(ngModel)]="serviceData.attrRelease.attrPolicy.type"
               [checked]="serviceData.attrRelease.attrPolicy.type == 'deny'" />
        <ng-container i18n="services.form.label.attrRelease.policies.denyAll">
          {{ messages.services_form_label_attrRelease_policies_denyAll }}
        </ng-container>
      </label>

      <!-- Filter Policies Radio Button - Return Allowed -->
      <label class="radio-inline">
        <input type="radio" name="policiesReturnAllowed" id="policiesReturnAllowed" value="allowed"
               [(ngModel)]="serviceData.attrRelease.attrPolicy.type"
               [checked]="serviceData.attrRelease.attrPolicy.type == 'allowed'"
               [disabled]="isEmpty( formData.availableAttributes )" />
        <ng-container i18n="services.form.label.attrRelease.policies.returnAllowed">
          {{ messages.services_form_label_attrRelease_policies_returnAllowed }}
        </ng-container>
      </label>

      <!-- Filter Policies Radio Button - Return Allowed -->
      <label class="radio-inline">
        <input type="radio" name="policiesReturnMapped" id="policiesReturnMapped" value="mapped"
               [(ngModel)]="serviceData.attrRelease.attrPolicy.type"
               [checked]="serviceData.attrRelease.attrPolicy.type == 'mapped'"
               [disabled]="isEmpty( formData.availableAttributes )" />
        <ng-container i18n="services.form.label.attrRelease.policies.returnMapped">
            {{ messages.services_form_label_attrRelease_policies_returnMapped }}
        </ng-container>
      </label>

      <!-- Filter Policies Radio Button - Pattern Matching -->
      <label class="radio-inline" *ngIf="serviceData.type=='saml'">
        <input type="radio" name="policiesReturnMapped" id="policiesPatternMatching" value="matching"
               [(ngModel)]="serviceData.attrRelease.attrPolicy.type"
               [checked]="serviceData.attrRelease.attrPolicy.type == 'matching'"
               [disabled]="isEmpty( formData.availableAttributes )" />
        <ng-container i18n="services.form.label.attrRelease.policies.patternMatching">
          {{ messaes.services_form_label_attrRelease_policies_patternMatching }}
        </ng-container>
      </label>

      <!-- Filter Policies Radio Button - Release InCommon -->
      <label class="radio-inline" *ngIf="serviceData.type == 'saml'">
        <input type="radio" name="policiesReleaseInCommon" id="policiesReleaseInCommon" value="incommon"
               [(ngModel)]="serviceData.attrRelease.attrPolicy.type"
               [checked]="serviceData.attrRelease.attrPolicy.type == 'incommon'"/>
        <ng-container i18n="services.form.label.attrRelease.policies.releaseIncommon">
          {{ messages.services_form_label_attrRelease_policies_releaseInCommon }}
        </ng-container>
      </label>
    </div>


    <!-- Attribute Release Policies Return Script Option -->
    <div class="form-group" *ngIf="serviceData.attrRelease.attrPolicy.type == 'script'">
      <label class="col-sm-4" for="scriptFile">
        <span style="float:right">
          <ng-container i18n="services.form.label.attrRelease.policies.scriptFile">
            {{ messages.services_form_label_attrRelease_policies_scriptFile }}
          </ng-container>
          <i i18n-myTooltip="services.form.tooltip.attrRelease.policies.scriptFile"
             [myTooltip]="messages.services_form_tooltip_attrRelease_policies_scriptFile"></i>
        </span>
      </label>

      <div class="col-sm-8">
        <input type="text" autocomplete="off" class="form-control" id="scriptFile"
               [(ngModel)]="serviceData.attrRelease.attrPolicy.scriptFile"/>
      </div>
    </div>


    <!-- Attribute Release Policies Return Groovy Option -->
    <div class="form-group" *ngIf="serviceData.attrRelease.attrPolicy.type == 'groovy'">
      <label class="col-sm-4" for="groovyFile">
        <span style="float:right">
          <ng-container i18n="services.form.label.attrRelease.policies.scriptFile">
            {{ messages.services_form_label_attrRelease_policies_scriptFile }}
          </ng-container>
          <i i18n="services.form.tooltip.attrRelease.policies.scriptFile"
             [myTooltip]="messages.services_form_tooltip_attrRelease_policies_scriptFile"></i>
        </span>
      </label>

      <div class="col-sm-8">
        <input type="text" autocomplete="off" class="form-control" id="groovyFile"
               [(ngModel)]="serviceData.attrRelease.attrPolicy.scriptFile"/>
      </div>
    </div>


    <!-- Attribute Release Policies Return All Option -->
    <div class="well well-sm" *ngIf="serviceData.attrRelease.attrPolicy.type == 'all' || isEmpty( formData.availableAttributes )">
      <ng-container i18n="management.services.service.noAction">
        {{ messages.management_services_service_noAction }}
      </ng-container>
    </div>

    <!-- Attribute Release Policies Return Allowed Option -->
    <div class="form-group" *ngIf="serviceData.attrRelease.attrPolicy.type == 'allowed' && !isEmpty( formData.availableAttributes )">
      <label class="col-sm-3" for="returnAllowed">
        <span style="float:right">
          <ng-container i18n="services.form.label.attrRelease.policies.returnAllowed">
            {{ messages.services_form_label_attrRelease_policies_returnAllowed }}
          </ng-container>
          <i i18n-myTooltip="services.form.tooltip.attrRelease.policies.returnAllowed"
             [myTooltip]="messages.services_form_tooltip_attrRelease_policies_returnAllowed"></i>
        </span>
      </label>
      <div class="col-sm-9">
        <select class="form-control" multiple="true" id="returnedAllowed"
                [(ngModel)]="serviceData.attrRelease.attrPolicy.allowed">
          <option *ngFor="let opt of formData.availableAttributes" [value]="opt">
            {{ opt }}
          </option>
        </select>
      </div>
    </div>

    <!-- Attribute Release Policies Return Mapped Option -->
    <div class="panel panel-default" *ngIf="serviceData.attrRelease.attrPolicy.type == 'mapped' && !isEmpty( formData.availableAttributes )">
      <table id="returnMapTable" class="table table-striped table-hover table-responsive table-condensed" >
        <thead>
        <tr>
          <th class="col-md-4">
            <ng-container i18n="services.form.label.attrRelease.policies.sourceAttribute">
              {{ messages.services_form_label_attrRelease_policies_sourceAttribute }}
            </ng-container>
          </th>
          <th class="col-md-8">
            <ng-container i18n="services.form.label.attrRelease.policies.casAttribute">
              {{ messages.services_form_label_attrRelease_policies_casAttribute }}
            </ng-container>
            <i i18n-myTooltip="services.form.tooltip.attrRelease.policies.returnMapped"
               [myTooltip]="messages.services_form_tooltip_attrRelease_policies_returnMapped"></i>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let mappedValue of formData.availableAttributes">
          <td class="va-middle">{{ mappedValue }}</td>
          <td><input [(ngModel)]="serviceData.attrRelease.attrPolicy.mapped[ mappedValue ]" type="text" class="form-control input-sm" /></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
