/**
 * CSS overrides for the default Pygment files
 */
.highlight pre {
  color: white;
}

.nav-pills .nav-link.active:hover {
  background-color: #272822; 
}  

.nav-pills .nav-link.active {
  background-color: white;
  color: #272822;
}
