/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);


html, body {
  font-family: 'Lato', sans-serif;
}
header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#153e50+0,003380+100 */
  background: #153e50; /* Old browsers */
  background: -moz-linear-gradient(top, #153e50 0%, #003380 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #153e50 0%,#003380 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #153e50 0%,#003380 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #fff;
  padding: 10px;
}

h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}


header h1 {
  font-weight: 300;
  font-size: 16px;
  margin-top: 1rem;
}

header img {
  max-width: 70%;
  height: auto;
}

.cas-docs-container {

  padding-top: 10px;
}

.navbar-toggler {
  margin-left: -10px;
}
.navbar-cas {
  border-radius: 0;
  background-color: #006dc1;
  color: #000;
}
.navbar-cas a {
  color: #fff;
}
.navbar-cas a:hover {
  color: #d3d3d3;
}

.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}

#toolbarIcons {
  display: none;
}


pre {
  width: 94%;
  margin: 0 auto;
  padding: 10px;
  background-color: #f8f8f4;
  border: 1px solid #ececec;
  overflow: auto;
  margin-bottom: 2rem;
}

pre, code {
  color: #296643;
  font-family: "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 12px;
}


footer {
  border-top: 1px solid #333;
  background: #3d664f;
  clear: both;
  padding: 10px;
  color: #f2f2f2;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #43adff;
  text-shadow: #0090ff 0px 0px 2px;
}


/* Extra small devices (portrait phones, less than 34em)*/
/* No media query since this is the default in Bootstrap*/

/* Small devices (landscape phones, 34em and up) */
@media (min-width: 34em) {
  html {
    font-size: 16px;
  }
  header {
    padding: 5px;
  }
  header h1 {
    font-size: 1.5rem;
  }
  header img {
    max-width: 100%;
    height: auto;
  }
  .navbar-toggler {
    margin-left: inherit;
    color: white;
  }
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

/* Medium devices (tablets, 48em and up)*/
@media (min-width: 48em) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.5rem;
  }

  html {
    font-size: 16px;
  }
  header {
    padding: 30px;
  }
  #toolbarIcons {
    display: block;
    float: right;
    text-align: right;
  }
  #toolbarIcons a {
    margin: 2px 5px;
    font-size: 1.25rem;
    color: #999999;
  }
  #toolbarIcons a:hover {
    color: #000000;
  }

/*  .cas-docs-sidebar.affix {
    position: fixed;
    top: 20px;
  }*/
  .cas-docs-sidebar {
    padding-left: 20px;
  }


  #forkme_banner {
    display: block;
    position: absolute;
    top:0;
    right: 10px;
    z-index: 10;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
    font-weight: 300;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-top: -30px;
  }


  /*.cas-docs-sidebar.affix {*/
    /*position: fixed;*/
    /*top: 20px;*/
  /*}*/

/*
  .cas-docs-sidenav.affix {
    top: 0;
  }

  .cas-docs-sidenav.affix-top {
  }

  .cas-docs-sidenav.affix-bottom {
    position: absolute;
  }

  */
  /* sidebar */
  /*
  .bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  */

  /* all links */
  /*
  .cas-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
  }
  */

  /* nested links */
  /*
  .cas-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
  }
  */

  /* active & hover links */
  /*
  .cas-docs-sidebar .nav>.active>a,
  .cas-docs-sidebar .nav>li>a:hover,
  .cas-docs-sidebar .nav>li>a:focus {
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #563d7c;
  }
  */

  /* all active links */
  /*
  .cas-docs-sidebar .nav>.active>a,
  .cas-docs-sidebar .nav>.active:hover>a,
  .cas-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
  }
  */

  /* nested active links */
  /*
  .cas-docs-sidebar .nav .nav>.active>a,
  .cas-docs-sidebar .nav .nav>.active:hover>a,
  .cas-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
  }
  */

  /* hide inactive nested list */
  /*
  .cas-docs-sidebar .nav ul.nav {
    display: none;
  }
  */

  /* show active nested list */
  /*
  .cas-docs-sidebar .nav>.active>ul.nav {
    display: block;
  }
  */


}

/*Large devices (desktops, 62em and up)*/
@media (min-width: 62em) {
  html {
    font-size: 16px;
  }
}

/*Extra large devices (large desktops, 75em and up)*/
@media (min-width: 75em) {

}
