---
---

/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

html, body {
  font-family: 'Lato', sans-serif;
  height: 100%;
}

header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#153e50+0,003380+100 */
  background: #153e50; /* Old browsers */
  background: -moz-linear-gradient(top, #153e50 0%, #003380 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #153e50 0%, #003380 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #153e50 0%, #003380 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #fff;
  padding: 10px;

  h1 {
    font-weight: 300;
    font-size: 16px;
    margin-top: 1rem;
  }

  img {
    max-width: 70%;
    height: auto;
  }
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

.cas-docs-container {
  padding-top: 10px;
  margin-top: 50px;
}

@import "navbar";

#toolbarIcons {
  display: none;
}

@import "syntax-highlighting";

footer {
  border-top: 1px solid #333;
  background: #3d664f;
  clear: both;
  padding: 10px;
  color: #f2f2f2;

  a {
    color: #fff;

    &:hover {
      color: #43adff;
      text-shadow: #0090ff 0 0 2px;
    }
  }

}

.box {
  //bottom: 0; /* increase for footer use */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #333;
}


#main {
  background-color: white;
  padding-left: 0;
  padding-right: 0;
}

.wrapper, .row {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}


.wrapper, .row {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}

.wrapper:before, .wrapper:after {
  content: "";
  display: table;
}

.wrapper:after {
  clear: both;
}


.column {
  height: 100%;
  overflow: auto;
  *zoom: 1;

  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .padding {
    padding: 20px;
  }
}

@import "sidebar";

/* Extra small devices (portrait phones, less than 34em)*/
/* No media query since this is the default in Bootstrap*/

/* Small devices (landscape phones, 34em and up) */
@media (min-width: 34em) {
  html {
    font-size: 16px;
  }

  header {
    padding: 5px;

    h1 {
      font-size: 1.5rem;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

}

/* Medium devices (tablets, 48em and up)*/
@media (min-width: 48em) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  html {
    font-size: 16px;
  }

  header {
    padding: 30px;
  }

  #toolbarIcons {
    display: block;
    float: right;
    text-align: right;

    a {
      margin: 2px 5px;
      font-size: 1.25rem;
      color: #999999;

      &:hover {
        color: #000000;
      }
    }
  }
  .cas-docs-container {
    margin-top: 0;
  }

  .cas-docs-sidebar {
    padding-left: 20px;
  }

  #forkme_banner {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 10;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
    font-weight: 300;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-top: -30px;
  }
}

/*Large devices (desktops, 62em and up)*/
@media (min-width: 62em) {
  html {
    font-size: 16px;
  }
}

/*Extra large devices (large desktops, 75em and up)*/
@media (min-width: 75em) {

}
