<?xml version="1.0" encoding="UTF-8" ?>
<Configuration shutdownHook="disable">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d %p [%c] - &lt;%m&gt;%n}" />
        </Console>

        <!-- Required by CasLoggerFactoryTests. Filename is linked to the test. -->
        <RollingFile name="slf4j" fileName="build/slf4j.log" append="true"
                     filePattern="slf4j-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout pattern="%highlight{%d %p [%c] - %m%n}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

        <CasAppender name="CasAppender">
            <AppenderRef ref="console" />
        </CasAppender>
    </Appenders>
    
    <Loggers>
        <Logger name="org.apereo" level="off" additivity="false" />
        <Logger name="org.apereo.cas.logging.CasAppender" level="trace" additivity="false">
            <AppenderRef ref="CasAppender"/>
        </Logger>
        <Root level="off">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
