@import "variables";
/*
 * CAS default overrides
 */
.login #content {
  background: transparent;
}

#login {
  padding: 30px;
  background-color: #efefef;
  border-radius: 4px;
  overflow: hidden;
  vertical-align: top;

  .login-header {

    text-align: center;
    padding: 20px;
    background-color: #d5d5d5;
    margin: -30px;
    margin-bottom: 10px;

    h2 {
      font-weight: 300;
      color: black;
      font-family: Lato;
      margin-top: 0;
    }

    .fa-stack {
    }

    .fa-circle {
      color: $secondary-color;
    }

  }


  form > h2 {
    display: none;
  }

  .row {
    margin: 20px 0;
  }

  label {
    display: block;
    margin-bottom: 2px;
  }

  .check label {
    display: inline;
  }

  input[type=text], input[type=password] {
    font-size: 1.4em;
    padding: 5px;
    width: 100%;
  }

  .btn-row {
    text-align: center;
  }

  .btn-submit {
    background: #70ba61;
    border: 0;
    padding: 10px 25px;
    font-weight: normal;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 1.25em;
  }

  .btn-reset {
    background: #eee;
    padding: 10px 20px;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    display: none;
  }

  .btn-submit:hover, .btn-reset:hover {
    cursor: pointer;
  }

  .btn-submit:hover {
    background: #7fd36e;
  }

  .btn-reset:hover {
    background: #d4d4d4;
  }

  #fm1 {
    > h2 {
      display: block;
    }
    
    .btn-reset {
      display: inline-block;
    }
  }
  
  
  
}

#capslock-on {
  color: firebrick;
}

#sidebar {
  width: auto;
}

#sidebar-content {
}

#list-providers ul {
  margin-bottom: 3em;

  li {
    margin-bottom: 1em;

    a {
      color: white;
    }
  }
}

#list-languages h3, #list-providers h3 {
  margin-bottom: 1.4em;
}

#list-languages ul li {
  list-style: none;
  display: inline-block;
  margin-right: 2em;
}

#notices {
  h2 {
    font-size: 1.25em;
  }
  
  p {
    font-size: 10pt;
  }

  ul.list-group .fa {
    margin-right: 7px;
  }

  #serviceui {
    h2, h3, h4 {
      margin-top: 0;
    }
  }

  .well {
    h3 {
      margin-top: 0;
      font-size: 1.25em;
    }

    ul.list-group {
      margin-bottom: 0;
    }
  }
}