<div class="attribute-release-policy-container" id="attribute-release-policy-container"
     ng-if="serviceFormCtrl.serviceData.type != 'oidc'">

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title"><span th:remove="tag" th:text="#{services.form.header.attrRelPolicy}"/></h3>
        </div>
        <div class="panel-body">
            <div th:replace="fragments/serviceform/attrrelchecks"/>
            <div th:replace="fragments/serviceform/attrrelfilters"/>
            <div th:replace="fragments/serviceform/attrrelprincipalrepo"/>
        </div>
    </div>

    <div th:replace="fragments/serviceform/attrrelpolicies"/>
</div>


<div class="attribute-release-policy-container" id="attribute-release-policy-container"
     ng-if="serviceFormCtrl.serviceData.type == 'oidc'">

    <div class="well well-sm">
        <span th:remove="tag" th:text="#{management.services.service.noAction}"/>
    </div>
</div>



