<div class="form-group">
    <label class="col-sm-3" for="evalOrder">
        <span th:remove="tag" th:text="#{services.form.label.evalOrder}"/>
        <i class="fa fa-lg fa-question-circle form-tooltip-icon"
           data-toggle="tooltip"
           data-placement="top"
           th:title="#{services.form.tooltip.evalOrder}"></i>
    </label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="evalOrder" ng-model="serviceFormCtrl.serviceData.evalOrder"/>
    </div>
</div>
