<div class="form-group">
    <label class="col-sm-3" for="informationUrl">
        <span th:remove="tag" th:text="#{services.form.label.informationUrl}" />
        <i class="fa fa-lg fa-question-circle form-tooltip-icon"
           data-toggle="tooltip"
           data-placement="top"
           th:title="#{services.form.tooltip.informationUrl}"></i>
    </label>
    <div class="col-sm-9">
        <input type="text" class="form-control" id="informationUrl" ng-model="serviceFormCtrl.serviceData.informationUrl"/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3" for="privacyUrl">
        <span th:remove="tag" th:text="#{services.form.label.privacyUrl}" />
        <i class="fa fa-lg fa-question-circle form-tooltip-icon"
           data-toggle="tooltip"
           data-placement="top"
           th:title="#{services.form.tooltip.privacyUrl}"></i>
    </label>
    <div class="col-sm-9">
        <input type="text" class="form-control" id="privacyUrl" ng-model="serviceFormCtrl.serviceData.privacyUrl"/>
    </div>
</div>
