<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title th:text="#{cas.oauth.confirm.pagetitle}"></title>
</head>

<body id="cas">
<div layout:fragment="content">
    <h2 th:text="#{cas.oauth.device.confirm.header}"/>
    <p th:text="#{cas.oauth.device.confirm.message}"/>
    <p>
    <div class="alert alert-danger" th:if="${error}">
        <span th:utext="#{${'cas.oauth.device.error.' + error}}"/>
    </div>
    <form method="post" id="fm1">
        <div class="form-group">
            <label for="usercode" class="fl-label">Code:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="code-prefix" th:text="${prefix + '-'}">Prefix-</span>
                    <input type="password" class="form-control required" placeholder="code..."
                           name="usercode" id="usercode" size="25" tabindex="1" autocomplete="off"
                           aria-describedby="code-prefix" aria-label="UserCode"/>
                </div>
            </div>
        </div>
        <input class="btn btn-submit" name="submit"
               th:value="#{screen.oauth.confirm.allow}" tabindex="2" type="submit" value="Allow"/>
    </form>
</div>
</body>
</html>
