{{#mavenBuild}}
target/
!.mvn/wrapper/maven-wrapper.jar
{{/mavenBuild}}
{{^mavenBuild}}
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
{{/mavenBuild}}

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


.classpath
!/.project
.project
.settings
target/
.idea/
.DS_Store
.idea
overlays/
.gradle/
build/
bin/
*.iml
*.log
*.log.gz
out/
MANIFEST.MF
