<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.logout.header}">CAS Logout</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content">
        <div class="w-50 m-auto mdc-card card p-4">
            <div class="card-body">
                <h2 class="banner-heading">
                    <i class="mdi mdi-logout fas fa-sign-out-alt"></i>
                    <span th:utext="#{screen.logout.header}">Log Out Successful</span>
                </h2>

                <p class="banner-message" th:utext="#{screen.logout.success}">You have successfully logged out of the Central Authentication
                    Service. You may <a href="login">log in</a> again.</p>
                <p class="banner-message" th:utext="#{screen.logout.security}">For security reasons, exit your web browser.</p>
            </div>
        </div>
    </div>
</main>
</body>
</html>
