<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.logout.header}">Propagate Logout View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
    <script th:inline="javascript">
        /*<![CDATA[*/
        function redirectToApp() {
            window.location = [[${logoutRedirectUrl}]];
        }

        function handleCallback(index, status) {
            if (status == 200) {
                $('#service' + index).addClass('mdi-check').removeClass('mdi-help-circle');
                $('#service' + index).prop('title', 'Logout request was successfully received.');
            } else {
                $('#service' + index).addClass('mdi-alert-circle').removeClass('mdi-help-circle');
                $('#service' + index).prop('title', 'Logout notification could not be sent.');
            }
        }

        /*]]>*/
    </script>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content">
        <div class="alert alert-success">
            <h2 th:utext="#{screen.logout.header}">Logout successful</h2>
            <p th:utext="#{screen.logout.fc.success}">You have successfully logged out of the Central Authentication
                Service. Given single logout is enabled with CAS, \
                the following list of applications are <strong> only notified</strong> to log you out and destroy your
                user session. Remember that this \
                is just a notification, not a guarantee. It is up the application itself to honor these notifications
                and properly take action to log you \
                out.</p>
            <ul style="list-style-type: none;">
                <li th:each="entry,iterStat : ${logoutUrls}">
                    <script type="text/javascript" th:inline="javascript">
                        /*<![CDATA[*/
                        $.ajax({
                            url: [[${entry.key.logoutUrl.toExternalForm()}]],
                            dataType: 'jsonp',
                            async: true,
                            contentType: [[${entry.value.contentType}]]
                            , data: [[${entry.value.message}]]
                            , success: function (data) {
                                var index = [[${iterStat.index}]];
                                handleCallback(index, 200);
                            },
                            error: function (err, textStatus, errorThrown) {
                                var index = [[${iterStat.index}]];
                                console.log(err.status + ' ' + textStatus + ' ' + errorThrown)
                                handleCallback(index, 500);
                            }
                        });
                        /*]]>*/
                    </script>

                    <p>
                        <i class="mdi mdi-help-circle fas fa-question-circle"
                           th:id="${'service'+iterStat.index}" title="Logout request pending..."> </i>
                        <kbd th:text="${entry.key.service.id}">Service id</kbd>
                    </p>
                </li>
            </ul>

            <p th:utext="#{screen.logout.security}">For security reasons, exit your web browser.</p>

            <button type="button" th:if="${logoutRedirectUrl}"
                   class="mdc-button mdc-button--raised btn btn-primary" onclick="redirectToApp();"
                   th:value="${'Go to ' + logoutRedirectUrl}" value="Go to...">
                   <span class="mdc-button__label" th:text="${'Go to ' + logoutRedirectUrl}"></span>
            </button>
            <form th:if="${logoutPostUrl != null && logoutPostData != null}" th:action="${logoutPostUrl}" method="post">
                <span th:each="entry : ${logoutPostData}" th:remove="tag">
                    <input type="hidden" th:name="${entry.key}" th:value="${entry.value}"/>
                </span>
                <button type="submit" class="mdc-button mdc-button--raised">
                    <span class="mdc-button__label" th:text="${'Go to ' + logoutPostUrl}"></span>
                </button>
            </form>
        </div>
    </div>
</main>
</body>
</html>
