<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title>Error - Permission Denied</title>
    <link rel="stylesheet" th:href="@{#{webjars.fontawesome.css}}" />
    <style>
        .prompt {
            font-family: Verdana, sans-serif;
        }
    </style>
</head>

<body id="cas">
<div layout:fragment="content">
    <div class="alert alert-danger">
        <h2 class="prompt">Authorization Denied</h2>
        <div class="prompt">
            <p/>
            <p>We are sorry. You do not have permission to view this page.</p>
            <br/>
            <p><a th:href="@{/login}">Login again</a>. </p>

        </div>
    </div>
</div>
</body>
</html>
