<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title>Error Page Not Found</title>
    <style>
        <link rel="stylesheet" th:href="@{#{webjars.fontawesome.css}}" />
        .prompt {
            font-family: Verdana, sans-serif;
        }
    </style>
</head>

<body id="cas">
<div layout:fragment="content">
    <div class="alert alert-info">
        <h2 class="prompt">Page Not Found</h2>
        <div class="prompt">
            <p/>
            <p>The page you are attempting to access does not exist at the moment.</p>
            <br/>
            <p><a th:href="@{/login}">Login again</a>. </p>
        </div>
    </div>
</div>
</body>
</html>
