<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title>Error Page Not Found</title>
    <style>
        <link rel="stylesheet" th:href="@{#{webjars.fontawesome.css}}" />
        .prompt {
            font-family: Verdana, sans-serif;
        }
    </style>
</head>

<body id="cas">
<div layout:fragment="content">
    <div class="alert alert-info">
        <h2 class="prompt" th:utext="#{screen.error.page.notfound}" />
        <div class="prompt">
            <p/>
            <p th:utext="#{screen.error.page.doesnotexist}" />
            <br/>
            <p><a class="btn btn-success btn-lg" th:href="@{/login}" th:utext="#{screen.error.page.loginagain}" /></p>
        </div>
    </div>
</div>
</body>
</html>
