<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Account Profile</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
    <span th:fragment="auditlog">
        <script type="text/javascript">

            ((material, bootstrap) =>
                document.addEventListener("DOMContentLoaded", () => {
                    $("#auditLogTable").DataTable();
                    let dialogId = "audit-dialog";
                    let dialog = material ?
                        material.dialog.MDCDialog.attachTo(document.getElementById(dialogId)) :
                        new bootstrap.Modal(document.getElementById(dialogId), {});
                    document.getElementsByName("viewAuditEntryDetails").forEach(btn =>
                        btn.addEventListener("click", event => {
                            let caller = event.target || event.srcElement;
                            let json = $(caller).next("span").text().trim();
                            $("#auditEntryDetails").text(json);
                            hljs.highlightAll();
                            dialog[material ? "open" : "show"]();
                            event.preventDefault();
                        }, false));
                }))(window.mdc ? mdc : null, window.bootstrap ? bootstrap : null);
        </script>

        <div class="mdc-dialog modal" id="audit-dialog" role="alertdialog"
             aria-modal="true" aria-labelledby="audit-dialog-title" aria-describedby="audit-dialog-content">
            <div class="mdc-dialog__container w-100 modal-dialog">
                <div class="mdc-dialog__surface mw-100 modal-content">
                    <h1 class="mdc-dialog__title modal-header mt-lg-2" id="audit-dialog-title">
                        Audit Entry Details
                    </h1>
                    <div class="mdc-dialog__content modal-body" id="audit-dialog-content">
                        <p>Here are the details for this audit record entry.</p>
                        <pre><code id="auditEntryDetails" class="border-rounded language-json">Text</code></pre>
                    </div>
                    <footer class="mdc-dialog__actions modal-footer">
                        <button type="button" class="mdc-button mdc-button--outline btn btn-outline-secondary"
                                data-mdc-dialog-action="accept" data-mdc-dialog-button-default data-bs-dismiss="modal">
                            <span class="mdc-button__label">Close</span>
                        </button>
                    </footer>
                </div>
            </div>
            <div class="mdc-dialog__scrim"></div>
        </div>

        <div id="divAuditLog"
             class="profile-content w-100"
             style="display: none;">
            <h2>
                <i class="mdi mdi-account-reactivate fas fa-door-open" aria-hidden="true"></i>
                <span th:utext="#{screen.account.auditlog.title}">Audit Log</span>
            </h2>
            <p th:utext="#{screen.account.auditlog.subtitle}">Examine the CAS audit log here.</p>

            <table id="auditLogTable" class="mdc-data-table__table table table-striped noborder">
                <thead>
                <tr class="mdc-data-table__header-row">
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Activity</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Date</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Resource</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">IP Address</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">User Agent</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col"></th>
                </tr>
                </thead>
                <tbody class="mdc-data-table__content">
                <tr th:each="entry : ${auditLog}" class="mdc-data-table__row">

                    <td class="mdc-data-table__cell"><code th:utext="${entry.actionPerformed}">Value</code></td>
                    <td class="mdc-data-table__cell"
                        th:utext="${#cas.format(entry.whenActionWasPerformed, 'MMMM dd, yyyy')}">Value
                    </td>
                    <td class="mdc-data-table__cell"
                        th:utext="${entry.resourceOperatedUpon}">Value
                    </td>
                    <td class="mdc-data-table__cell" th:utext="${entry.clientInfo.clientIpAddress}">Value</td>
                    <td class="mdc-data-table__cell"
                        th:utext="${entry.clientInfo.userAgent}">Value
                    </td>
                    <td class="mdc-data-table__cell">
                        <button type="button" class="btn btn-link" name="viewAuditEntryDetails">
                            <i class="mdi mdi-account-details fas fa-eye" aria-hidden="true"></i>
                            <span style="display: none" th:utext="${entry.json}" />
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </span>
</body>

</html>
