<div>
  <mat-tab-group [(selectedIndex)]="selectedTab">
    <mat-tab *ngFor="let contact of data.service.contacts;let i = index;" [label]="getTabHeader(contact)">
      <div>
        <mat-form-field class="textInput">
          <input matInput required
                 placeholder="Name" name="name" id="name"
                 [(ngModel)]="contact.name">
        </mat-form-field>
        <mat-icon style="font-size: medium"
                 i18n-matTooltip="contact.name"
                 matTooltip="First and last name of the contact">help
        </mat-icon>
      </div>
      <div>
        <mat-form-field class="textInput">
          <input matInput required
                 placeholder="Email"
                 [(ngModel)]="contact.email">
        </mat-form-field>
        <mat-icon style="font-size: medium"
                 i18n-matTooltip="contact.email"
                 matTooltip="EMail of the contact">help
        </mat-icon>
      </div>
      <div>
        <mat-form-field class="textInput">
          <input matInput
                 placeholder="Phone"
                 [(ngModel)]="contact.phone">
        </mat-form-field>
        <mat-icon style="font-size: medium"
                 i18n-matTooltip="contact.phone"
                 matTooltip="Phone number of the contact">help
        </mat-icon>
      </div>
      <div>
        <mat-form-field class="textInput">
          <input matInput
                 placeholder="Department"
                 [(ngModel)]="contact.department">
        </mat-form-field>
        <mat-icon style="font-size: medium"
                 i18n-matTooltip="contact.department"
                 matTooltip="Department of the contact">help
        </mat-icon>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div style="height:25px;padding-top: 5px;">
    <div style="float:right;padidng:5px">
      <button mat-mini-fab (click)="addContact()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab (click)="deleteContact()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
