<div class="form-group">
  <label class="col-sm-3" for="serviceType">
    <span style="float:right">
      <ng-container i18n="services.form.label.type">
        {{ messages.services_form_label_type }}
      </ng-container>
      <i i18n-myTooltip="services.form.tooltip.type"
        [myTooltip]="messages.services_form_tooltip_type"></i>
    </span>
  </label>
  <div class="col-sm-9">
    <div class="input-group">
      <div class="input-group-addon input-group-required"
           i18n-title="services.form.required"
           [title]="messages.services_form_required">
        <i class="fa fa-exclamation-triangle"></i>
      </div>
      <select class="form-control" id="serviceType" [(ngModel)]="type" (change)="changeType()">
        <option *ngFor="let opt of selectOptions.serviceTypeList" [value]="opt.value">
          {{ opt.name }}
        </option>
      </select>
    </div>
  </div>
</div>

<app-oauthclient *ngIf="oauth(service) || oidc(service)" [service]="service" [selectOptions]="selectOptions" [type]="type"></app-oauthclient>
<app-samlclient *ngIf="saml(service)" [service]="service" [selectOptions]="selectOptions"></app-samlclient>
<app-wsfedclient *ngIf="wsfed(service)" [service]="service" [selectOptions]="selectOptions"></app-wsfedclient>
