<footer class="py-4 d-flex justify-content-center cas-footer">
    <div>
        <style>
            .icon {
                color: rgb(107, 223, 255);
                filter: dropShadow();
            }

            .mdi-twitter::before {  font-size: 82px;  }
            .mdi-youtube::before {  font-size: 82px;  }
        </style>

        <a id="twitter-link" href="http://www.twitter.com/Apereo"><i class="mdi mdi-twitter icon"></i></a>
        <a id="youtube-link" href="http://www.youtube.com/user/Apereo"><i class="mdi mdi-youtube icon"></i></a>
    </div>
</footer>
