<div class="tab-pane" id="2a">
  <p></p>
  <app-servicetype [serviceData]="tabService.serviceData" [selectOptions]="tabService.selectOptions"></app-servicetype>
  <app-oauthclient [serviceData]="tabService.serviceData" [selectOptions]="tabService.selectOptions"></app-oauthclient>
  <app-samlclient [serviceData]="tabService.serviceData" [selectOptions]="tabService.selectOptions"></app-samlclient>
  <app-wsfedclient [serviceData]="tabService.serviceData" [selectOptions]="tabService.selectOptions"></app-wsfedclient>
</div>
