<cas:serviceResponse xmlns:cas='http://www.yale.edu/tp/cas'>
    <cas:authenticationSuccess>
        <cas:user>{{principal.id}}</cas:user>
        {{#pgtIou}}<cas:proxyGrantingTicket>{{pgtIou}}</cas:proxyGrantingTicket>{{/pgtIou}}
        {{#chainedAuthentications.0}}
        <cas:proxies>
            {{#chainedAuthentications}}<cas:proxy>{{principal.id}}</cas:proxy>{{/chainedAuthentications}}
        </cas:proxies>
        {{/chainedAuthentications.0}}
        {{#formattedAttributes.0}}
        <cas:attributes>
            {{#formattedAttributes}}
            {{{.}}}
            {{/formattedAttributes}}
        </cas:attributes>
        {{/formattedAttributes.0}}
    </cas:authenticationSuccess>
</cas:serviceResponse>

