<div style="display:flex;">
  <div style="padding-top: 3px;">
    <mat-icon style="padding-top: 3px;">add_circle</mat-icon>
    <h4 style="display: inline;position: relative;top: -5px;">
      <ng-container i18n="services.form.header.page.editService">
        {{ messages.services_form_header_page_editService }}
      </ng-container>
    </h4>
  </div>
  <div style="flex: 1 1 auto"></div>
  <div>
    <button mat-button (click)="saveFn();">
      <mat-icon>save</mat-icon>
      <ng-container i18n="services.form.button.save">
        {{ messages.services_form_button_save }}
      </ng-container>
    </button>
    <button mat-button (click)="goBack();">
      <mat-icon>cancel</mat-icon>
      <ng-container i18n="services.form.button.cancel">
        {{ messages.services_form_button_cancel }}
      </ng-container>
    </button>
  </div>
</div>
