<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title th:text="#{screen.success.header}">Password Update Success View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
    <main role="main" class="container mt-3 mb-3">
        <div layout:fragment="content" class="mdc-card card p-4 w-lg-66 m-auto">
            <h2 th:utext="#{screen.pm.success.header}">Password Change Successful</h2>
            <p th:utext="#{screen.pm.success.message}">Your account password is successfully updated.</p>

            <form method="post" id="form" class="fm-v clearfix" th:action="@{/login}">
                <input type="hidden" name="execution" th:value="${flowExecutionKey}" />
                <input type="hidden" name="_eventId" value="proceed" />
                <button class="mdc-button mdc-button--raised btn btn-primary me-2" name="continue" accesskey="l" type="submit"
                    value="Login">
                    <span class="mdc-button__label" th:text="#{screen.welcome.button.login}">Log In</span>
                </button>
            </form>
        </div>
    </main>
</body>

</html>