<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout(mainContentClass='container-xxl py-3')}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title th:text="#{screen.pm.reset.title}">Password Reset Error View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/account.css}" />
</head>

<body>
<main class="container mt-3 mb-3">
    <div layout:fragment="content">
        <div th:replace="~{fragments/accountflow :: shell(flow='reset', step=2, steps=5, content=~{::flowContent})}">
            <div th:fragment="flowContent" role="alert">
                <div th:replace="~{fragments/accountflow :: status(kind='error', heading=#{screen.pm.reset.heading}, message=#{screen.pm.reset.message})}"></div>
                <div class="cas-flow-actions">
                    <a class="acct-btn" th:href="@{/login}" th:text="#{screen.account.flow.backtologin}">Back to sign in</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>
