/*
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License.  You may obtain a
 * copy of the License at the following location:
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

body {
  background-color:#d9f5d0;
  margin:0;
  padding:0;
}

#header {
  background-color:#447340;
  background-image:url('images/header-fade.png');
  background-repeat:repeat-x;
  color:#fff;
  font-size:1.3em;
  text-align:center;
}

#page {
  background-image:url('images/bg-fade.png');
  background-repeat:repeat-x;
  padding:50px 0;
}

#content {
  background-color:#fff;
  border-radius:20px;
  border:1px solid #99ba8f;
  margin:0 10%;
  padding:12px;
}

#header .version-number {
  padding-left:0.5em;
}

hr {
  color:#99ba8f;
  background-color:#99ba8f;
  height:1px;
  border:none;
}

.book > div.titlepage:first-child h1.title {
  background-image:url('../media/cas-logo-120x66.png');
  background-repeat:no-repeat;
  background-position:0 3px;
  padding:0 0 0 130px;
  margin:0 auto;
  color:#00516d;
  font-weight:bold;
  font-style:italic;
  font-size:64px;
  width:475px;
}

.chapter > div.titlepage:first-child h2.title {
  font-size:36px;
  font-weight:bold;
  color:#555;
}

div.author, p.copyright {
  text-align:center;
}

h3.author {
  font-size:1.1em;
  display:inline;
  padding-right:8px;
}

.mediaobject {
  overflow:auto;
}

.mediaobject img {
  border:1px solid #ddd;
  display:block;
  margin:0 auto;
}
