<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%c] - &lt;%m&gt;%n"/>
        </Console>
        <RollingFile name="file" fileName="build/samlidp.log" append="true"
                     filePattern="samlidp-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout pattern="%d %p [%c] - %m%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.apereo" level="warn" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.opensaml" level="warn" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="PROTOCOL_MESSAGE" level="warn" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.apache.xml.security" level="off" />
        <Root level="warn">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
