<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title layout:title-pattern="$LAYOUT_TITLE"
        th:text="${#strings.defaultString(#themes.code('cas.theme.name'), 'CAS - Central Authentication Service')}" />
    </title>
    <link rel="stylesheet" type="text/css" href="../static/css/cas.css" th:href="@{${#themes.code('cas.standard.css.file')}}" />

    <link rel="shortcut icon"
        th:href="@{${#strings.defaultString(#themes.code('cas.favicon.file'), '/favicon.ico')}}" />
    <script type="text/javascript" th:src="@{#{webjars.jquery.js}}"></script>
</head>

<body>
    <div class="d-flex justify-content-center">
        <main role="main" id="main-content" class="container-lg py-4">
            <div layout:fragment="content" id="content">
                CAS content will go here
            </div>
        </main>
    </div>

    <script th:replace="fragments/scripts"></script>

</body>

</html>