<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="CAS - Single Sign-On for the Web"/>

    {% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
    {% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
          integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/redmond/jquery-ui.css"/>

    <link rel="stylesheet" type="text/css" media="screen" href="{{ relative }}stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="print" href="{{ relative }}stylesheets/print.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

    <title>{{ page.title }}</title>
</head>

<body>
<div class="wrapper">
    <div class="box">
        <!-- HEADER -->
        {% include header.html %}

        <!-- NAVBAR -->
        {% include navbar.html %}


        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-md-2 hidden-sm-down sidebar" id="pageContents">
                <h2>Page Contents</h2>
                <ul></ul>
            </div>
            <div class="column col-md-8 col-sm-9 col-xs-11" id="main">
                <section>
                    <!-- Mobile Nav-->
                    {% include mobilenavbar.html %}

                    <div id="cas-docs-container" class="container cas-docs-container">

                        <div class="row">
                            <!-- MAIN CONTENT -->
                            <div id="dev-doc-info" class="alert alert-info"><strong>Work in progress</strong>
                                <p>You are viewing the development documentation for the CAS server. <strong>The
                                    functionality presented
                                    here is not officially released yet and may be unstable</strong>.
                                    This is a work in progress and will be continually updated as development makes
                                    progress. To view
                                    the documentation for a specific CAS server version, please <a
                                            href="/cas/Older-Versions.html">choose
                                        an appropriate version.</a></p>
                            </div>

                            <span id="toolbarIcons"></span>
                            {{ content }}
                        </div>
                    </div>
                </section>
            </div>

            <!-- sidebar -->
            {% include sidebar.html %}
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.min.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
        integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
        crossorigin="anonymous"></script>

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<script src="{{ relative }}javascripts/URI.js"></script>
<script src="{{ relative }}javascripts/main.js"></script>

</body>
</html>
