<div>
  <md-input-container class="textInput">
    <input mdInput
           i18n-placeholder="services.form.label.requiredHandlers"
           [placeholder]="messages.services_form_label_requiredHandlers"
           [ngModel]="data.service.requiredHandlers"
           (ngModelChange)="data.service.requiredHandlers = $event.split(',')">
  </md-input-container>
  <md-icon style="font-size: medium"
           i18n-mdTooltip="services.form.tooltip.requiredHandlers"
           [mdTooltip]="messages.services_form_tooltip_requiredHandlers">help
  </md-icon>
</div>
