Flask==3.0.1
gevent==23.9.1
click==8.1.7
geventhttpclient-wheels==1.3.1.dev3
idna==3.7
greenlet==3.0.3
Jinja2==3.1.3
itsdangerous==2.1.2
locust==2.21.0
MarkupSafe==2.1.4
msgpack-python==0.5.6
pyzmq==25.1.2
pip==23.3.2
six==1.16.0
setuptools==69.0.3
requests==2.32.0
Werkzeug==3.0.1
urllib3==2.2.0
