Flask==3.1.1
gevent==24.11.1
click==8.1.7
geventhttpclient-wheels==1.3.1.dev3
idna==3.10
greenlet==3.1.1
Jinja2==3.1.5
itsdangerous==2.2.0
locust==2.32.3
MarkupSafe==3.0.2
msgpack-python==0.5.6
pyzmq==26.2.0
pip==24.3.1
six==1.16.0
setuptools==78.1.1
requests==2.32.4
Werkzeug==3.1.3
urllib3==2.2.3
