.casmgmt-content {
    padding-bottom: 40px;

    .services-table {

        thead {
            background-color: @gray8;
            color: @white;
            font-weight: bold;
        }

        tbody {
            border: 1px solid @gray1;
        }
    }

    .form-padding {
        margin-top: 10px;
    }

    .services-button-group {
        margin-top: 20px;
        padding-top: 20px;
    }

    .services-summary-table {
        td {
            border-top: none;
        }
    }

    .alert {
        padding: 10px 20px;

        .fa {
            padding-top: 7px;
        }

        p {
            margin-bottom: 0;
        }
    }

    h1 {
        color: @color2-dark;
        margin-bottom: 20px;
    }
}