<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title th:text="#{cas.login.pagetitle}">CAS Admin Console</title>
        <link href="/cas/static/style.css" rel="stylesheet" th:remove="tag"/>
    </head>

    <body>         
        <main role="main" class="container mt-3 mb-3">
            <div layout:fragment="content">
                <div class="login mdc-typography">
                    <div id="root" class="d-flex justify-content-center"></div>
                    <script th:src="@{/assets/palantir.es.js}" module></script>
                </div>
            </div>
        </main>
    </body>
</html>
