<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title th:text="#{cas.login.pagetitle}">CAS Admin Console</title>
        <link href="/cas/static/style.css" rel="stylesheet" th:remove="tag"/>
    </head>
    <body class="login mdc-typography">
        <div id="root" class="d-flex justify-content-center">
        </div>
        <script src="/palantir.es.js" module></script>
    </body>
</html>