<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{palantir}">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title th:text="#{cas.login.pagetitle}">CAS Admin Console</title>
    </head>
    <body>         
        <main role="main" class="container mt-3 mb-3">
            <div layout:fragment="content">
                <div class="login mdc-typography">
                    <div id="root" class="d-flex justify-content-center"></div>
                </div>
            </div>
        </main>
    </body>
</html>
