<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title th:text="#{screen.accountdisabled.heading}">CAS Account Disabled View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
    <main class="container mt-3 mb-3">
        <div layout:fragment="content" class="mdc-card card p-4 m-auto w-lg-66">
            <h2 id="view-accountdisabled-heading" th:utext="#{screen.accountdisabled.heading}">This account has been disabled.</h2>
            <span th:remove="tag" th:if="${#cas.isTrue(enableAccountUnlock)}">
                    <p th:utext="#{screen.account.unlock.description}">Please unlock the account.</p>
                    <div th:replace="~{fragments/unlockaccount :: unlock}"></div>
                </span>
            <span th:remove="tag" th:unless="${enableAccountUnlock}">
                    <p th:utext="#{screen.accountdisabled.message}">Please contact the system administrator to regain access.</p>
            </span>
        </div>

    </main>
</body>

</html>
