<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.login.pagetitle}">CAS Admin Login View</title>
    <span th:remove="tag" th:each="file : ${#strings.setSplit(#cas.theme('cas.standard.css.file'), ',')}">
        <link rel="stylesheet" type="text/css" href="../static/css/cas.css" th:href="@{${file}}" />
    </span>
</head>

<body class="login">
<main class="container mt-3 mb-3">
    <div layout:fragment="content" style="box-shadow: none;">
        <section class="col-lg-6 offset-lg-3 col-xs-12">
            <div class="card mdc-card px-3 py-3">
                <form name="fm1" th:action="@{/adminlogin}" method="post">
                    <h3 th:utext="#{screen.welcome.instructions}">Enter your Username and Password</h3>
                    <div th:if="${param.error}" id="errorPanel" role="alert" class="banner banner-danger alert alert-danger banner-dismissible">Invalid credentials.</div>
                    <section class="cas-field my-3 form-group mdc-input-group">
                        <div class="mdc-input-group-field mdc-input-group-field-append">
                            <div class="d-flex caps-check">
                                <label for="username"
                                       class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon control-label">
                                    <span class="mdc-notched-outline">
                                        <span class="mdc-notched-outline__leading"></span>
                                        <span class="mdc-notched-outline__notch">
                                            <span class="mdc-floating-label"
                                                  th:utext="#{screen.welcome.label.netid}">Username</span>
                                        </span>
                                        <span class="mdc-notched-outline__trailing"></span>
                                    </span>
                                    <input class="mdc-text-field__input form-control"
                                           id="username"
                                           name="username"
                                           size="25"
                                           type="text"
                                           th:accesskey="#{screen.welcome.label.password.accesskey}"
                                           autocapitalize="none"
                                           spellcheck="false"
                                           autocomplete="username"/>
                                </label>
                            </div>
                        </div>
                    </section>

                    <section class="cas-field form-group my-3 mdc-input-group caps-check">
                        <div class="mdc-input-group-field mdc-input-group-field-append">
                            <div class="d-flex caps-check">
                                <label for="password"
                                       class="mdc-text-field mdc-text-field--outlined control-label mdc-text-field--with-trailing-icon">
                                    <span class="mdc-notched-outline">
                                        <span class="mdc-notched-outline__leading"></span>
                                        <span class="mdc-notched-outline__notch">
                                            <span class="mdc-floating-label"
                                                  th:utext="#{screen.welcome.label.password}">Username</span>
                                        </span>
                                        <span class="mdc-notched-outline__trailing"></span>
                                    </span>
                                    <input class="mdc-text-field__input form-control pwd" type="password" id="password"
                                           size="25" name="password" th:accesskey="#{screen.welcome.label.password.accesskey}"
                                           autocomplete="off"/>
                                </label>
                                <button class="reveal-password mdc-button mdc-button--raised mdc-input-group-append mdc-icon-button"
                                        tabindex="-1" th:title="#{screen.pm.password.toggle}"
                                        type="button">
                                    <i class="mdi mdi-eye reveal-password-icon" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="mdc-text-field-helper-line caps-warn">
                            <p class="mdc-text-field-helper-text form-text text-small mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg text-danger">
                                <span th:utext="#{screen.capslock.on}"/>
                            </p>
                        </div>
                    </section>

                    <div th:replace="~{fragments/submitbutton :: submitButton (messageKey='screen.welcome.button.login')}"/>
                </form>
            </div>
        </section>
    </div>
</main>
</body>
</html>
