<form class="service-editor form-horizontal" autocomplete="off" id="serviceForm" ng-controller="ServiceFormController as serviceFormCtrl"
      ng-submit="serviceFormCtrl.validateAndSave()">

    <div th:replace="fragments/serviceformsaveformtop" />
    
    <div th:replace="fragments/serviceformalert" />

    <div class="row col-sm-12">
        <div class="col-sm-6">

            <div th:replace="fragments/serviceformenabled" />

            <div th:replace="fragments/serviceformserviceid"/>

            <div th:replace="fragments/serviceformservicename" />

            <div th:replace="fragments/serviceformservicedesc" />

            <div th:replace="fragments/serviceformservicetype" />

            <div th:replace="fragments/serviceformoauthopts" />

            <div th:replace="fragments/serviceformthemeid" />

            <div th:replace="fragments/serviceformlogo" />

            <div th:replace="fragments/serviceformlogout" />

            <div th:replace="fragments/serviceformlogouttypeeval" />

            <div th:replace="fragments/serviceformreqhandlers" />

            <div th:replace="fragments/serviceformaccessstrategy" />
        </div>
        <div class="col-sm-6">
            <div th:replace="fragments/serviceformuidattrs" />

            <div th:replace="fragments/serviceformattrrel" />
            <div th:replace="fragments/serviceformpubkey" />
            <div th:replace="fragments/serviceformproxy" />
        </div>
        <div th:replace="fragments/serviceformsaveform" />
    </div>
</form>
