<div>
  <md-table [dataSource]="dataSource">

    <ng-container cdkColumnDef="source">
      <md-header-cell *cdkHeaderCellDef>
        <ng-container i18n="services.form.label.attrRelease.policies.sourceAttribute">
          {{ messages.services_form_label_attrRelease_policies_sourceAttribute }}
        </ng-container>
      </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{ row.source }}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="mapped">
      <md-header-cell *cdkHeaderCellDef>
        <ng-container i18n="services.form.label.attrRelease.policies.casAttribute">
          {{ messages.services_form_label_attrRelease_policies_casAttribute }}
        </ng-container>
      </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <md-form-field>
          <input mdInput
                 [ngModel]="attributes[row.source]"
                 (ngModelChange)="attributes[row.source] = $event.split(',')">
        </md-form-field>
      </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>

  </md-table>
</div>
