<!DOCTYPE html>
<html layout:decorator="layout">

<head th:inline="text">
    <title>[[#{cas.mfa.googleauth.pagetitle}]]</title>
</head>

<body id="cas">
<div layout:fragment="content">
    <div class="box fl-panel" id="login">
        <h3 th:text="#{screen.authentication.gauth.register}"/>

        <form method="post" id="fm1" class="fm-v clearfix">
            <div class="row fl-controls-left">
                <img th:src="@{/gauth/qrgen(key=${keyUri})}"/>
                <br/>
                <p th:utext="#{screen.authentication.gauth.key(${key.getSecretKey()})}"></p>

                <p>Scratch Codes:
                    <ul>
                        <li th:each="code : ${key.getScratchCodes()}" th:text="${code}"/>
                    </ul>
                </p>
                <input type="hidden" name="_eventId" value="submit"/>
                <input class="btn-submit" name="submit" accesskey="l"
                       th:value="#{screen.welcome.button.register}" tabindex="4" type="submit"/>
            </div>
            <div class="row btn-row">
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>
