<!DOCTYPE html>
<html layout:decorator="layout">

<head th:inline="text">
    <title>[[#{screen.mustchangepass.heading}]]</title>
    <script type="text/javascript" th:src="@{/js/pm.js}"></script>
</head>

<body id="cas">
<div layout:fragment="content">
    <div class="alert alert-info">
        <h2 th:utext="#{screen.mustchangepass.heading}"/>
        <p/>
        <br/>

        <form>
        <p>
        <table>
            <tr>
                <td class="pm">
                    <label for="password">Enter password:</label>
                </td>
                <td class="pm">
                    <input class="required" type="password" id="password"/>
                </td>
            </tr>
            <tr>
                <td class="pm">
                    <label for="confirmpassword">Confirm password:</label>
                </td>
                <td class="pm">
                    <input class="required" type="password" id="confirmpassword"/>
                </td>
            </tr>

        </table>

        <div>
            <br/>
            <meter max="4" id="password-strength-meter"/>
            <p id="password-strength-text"/>
        </div>
        </p>

        <input class="btn btn-success"
               name="submit"
               accesskey="s"
               th:value="#{screen.pm.button.submit}"
               type="submit"/>
            <input
                    class="btn-reset"
                    name="cancel"
                    accesskey="c"
                    th:value="#{screen.pm.button.cancel}"
                    type="button"
                    onclick="location.href = location.href;" />
        </form>
    </div>
</div>
</body>
</html>
