#applicationsTable th {
    resize: horizontal;
    overflow: auto;
}

.ui-tooltip-content {
    color: black;
}

.jqueryui-multiselectmenu {
    background-color: #d7ebf9;
}

.ui-selectmenu-menu {
    overflow-y: "auto";
    overflow-x: hidden;
    max-height: 400px;
}

.ui-widget-overlay {
    background: var(--cas-theme-primary);
    backdrop-filter: blur(6px);
}

.missing-required-field {
    background-color: rgb(255 221 221);
}
