#applicationsTable th {
    resize: horizontal;
    overflow: auto;
}

.ui-tooltip-content {
    color: black;
}

.jqueryui-multiselectmenu {
    background-color: #d7ebf9;
}

.ui-selectmenu-menu {
    overflow-y: "auto";
    overflow-x: hidden;
    max-height: 400px;
}
