<div class="form-group">
    <label class="col-sm-3" for="reqHandler">
        <span th:remove="tag" th:text="#{services.form.label.requiredHandlers}" />
        <i class="fa fa-lg fa-question-circle form-tooltip-icon"
           data-toggle="tooltip"
           data-placement="top"
           th:title="#{services.form.tooltip.requiredHandlers}"></i>
    </label>
    <div class="col-sm-9">
        <input class="form-control noresize" id="reqHandler"  ng-model="serviceFormCtrl.serviceData.reqHandlersStr"></input>
    </div>
</div>
