<mat-card class="tabCard">
  <mat-card-title>
    <h5 i18n>Saml Client - Metadata</h5>
  </mat-card-title>
  <div class="cardContent">
    <app-metadata></app-metadata>
  </div>
</mat-card>

<mat-card class="tabCard">
  <mat-card-title>
    <h5 i18n>SAML Client - Security</h5>
  </mat-card-title>
  <div class="cardContent">
    <app-security></app-security>
  </div>
</mat-card>

<mat-card class="tabCard">
  <mat-card-title>
    <h5 i18n>SAML Client - Optional Fields</h5>
  </mat-card-title>
  <div class="cardContent">
    <app-optional></app-optional>
  </div>
</mat-card>

<mat-card class="tabCard">
  <mat-card-title>
    <h5 i18n>SAML Client - Name ID</h5>
  </mat-card-title>
  <div class="cardContent">
    <app-nameid></app-nameid>
  </div>
</mat-card>

<mat-card class="tabCard">
  <mat-card-title>
    <h5>SAML Attribute Name Formats</h5>
  </mat-card-title>
  <div class="cardContent">
    <app-samlservicespane></app-samlservicespane>
  </div>
</mat-card>
