<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title th:text="#{cas.login.pagetitle}">Gua Display User Graphics View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
    <main role="main" class="container mt-3 mb-3">
        <div layout:fragment="content" id="login" class="d-flex justify-content-center">
            <div class="mdc-card card mdc-card-content w-lg-50 p-4">
                <h2 class="text-center" th:text="${guaUsername}">guaUsername</h2>
                <div id="guaInfo" class="banner banner-danger alert alert-danger d-flex m-4 p-4" role="alert">
                    <i class="mdi mdi-alert-octagon fas fa-exclamation-circle"></i>
                    <strong th:utext="#{screen.gua.confirm.message}">
                        If you do not recognize this image as yours, do NOT continue.</strong>
                </div>

                <div class="d-flex align-items-center flex-column">
                    <div class="my-3">
                        <img id="guaImage" style="width:130px;height:130px;border-radius:20%;
                                box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
                                border: 1px solid #ddd;border-radius: 4px;"
                            th:src="@{'data:image/jpeg;base64,' + ${guaUserImage}}" />
                    </div>
                    <form method="post" id="fm1" class="fm-v clearfix" th:action="@{/login}">
                        <input type="hidden" name="username" th:value="${guaUsername}" />
                        <input type="hidden" name="execution" th:value="${flowExecutionKey}" />
                        <input type="hidden" name="_eventId_submit" value="Continue" />
                        <button class="mdc-button mdc-button--raised btn btn-primary" accesskey="l">
                            <span class="mdc-button__label" th:text="#{screen.button.continue}">Login</span>
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </main>
</body>

</html>
