<div class="well well-lg hidden-xs">
    <h3 th:text="#{cas.login.resources.header}">:</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <a th:href="@{/status/dashboard}" th:inline="text">
                <i class="fa fa-cogs"></i> [[#{cas.login.resources.dashboard}]]
            </a>
        </li>
        <li class="list-group-item" th:if="${attributeConsentEnabled}">
            <a th:href="@{/consentReview}" th:inline="text">
                <i class="fa fa-cogs"></i> [[#{screen.consent.title}]]
            </a>
        </li>
        <li class="list-group-item">
            <a href="http://apereo.github.io/cas" th:inline="text">
                <i class="fa fa-file"></i> [[#{cas.login.resources.wiki}]]
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://github.com/apereo/cas/issues" th:inline="text">
                <i class="fa fa-bug"></i> [[#{cas.login.resources.issuetracker}]]
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://apereo.github.io/cas/Mailing-Lists.html" th:inline="text">
                <i class="fa fa-envelope"></i> [[#{cas.login.resources.mailinglist}]]
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://gitter.im/apereo/cas" th:inline="text">
                <i class="fa fa-commenting-o"></i> [[#{cas.login.resources.chat}]]
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://apereo.github.io/" th:inline="text">
                <i class="fa fa-rss"></i> [[#{cas.login.resources.blog}]]
            </a>
        </li>


    </ul>
</div>
