<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Cookies Notice Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:href="@{${#themes.code('cas.standard.css.file')}}"/>
</head>
<body>

<div th:fragment="cookiesDisabled" id="cookiesDisabled" class="card" style="display: none;">
    <div class="card-body">
        <h5 class="card-title" th:utext="#{screen.cookies.disabled.title}">screen.cookies.disabled.title</h5>
        <p class="card-text" th:utext="#{screen.cookies.disabled.message}">screen.cookies.disabled.message</p>
    </div>
</div>
</body>
</html>
