<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>staticAuthentication Fragment</title>
</head>
<body>
<main role="main" class="container mt-3 mb-3">
    <div th:fragment="staticAuthentication" id="staticAuthentication" class="card" th:if="${staticAuthentication}">
        <div class="card-body">
            <h5 class="card-title" th:utext="#{screen.defaultauthn.title}">screen.defaultauthn.title text</h5>
            <p class="card-text" th:utext="#{screen.defaultauthn.heading}">screen.defaultauthn.heading text</p>
        </div>
    </div>
</main>
</body>
</html>

