<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Login Sidebar Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:href="@{${#themes.code('cas.standard.css.file')}}"/>
</head>
<body>
<main role="main" class="container mt-3 mb-3">
    <div th:fragment="loginsidebar" id="sidebar">
        <div class="sidebar-content">
            <p th:utext="#{screen.welcome.security}">For security reasons, please <a href="logout">log out</a> and exit
                your web browser when you are done accessing \
                services that require authentication!</p>
        </div>
    </div>
</main>
</body>
</html>
