<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Password Update Form</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:href="@{${#themes.code('cas.standard.css.file')}}"/>

    <script th:inline="javascript">
      /*<![CDATA[*/

      var policyPattern = /*[[${policyPattern}]]*/;

      /*]]>*/
    </script>
</head>
<body>
<main role="main" class="container mt-3 mb-3">
    <div class="alert alert-info">
        <h3 th:utext="${expiredPass} ? #{screen.expiredpass.heading} : #{screen.mustchangepass.heading}">Change Password
            Heading</h3>
        <form id="passwordManagementForm" th:if="${passwordManagementEnabled}" method="post" th:object="${password}">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                <span th:each="err : ${#fields.errors('*')}" th:utext="${err}">Error text</span>
            </div>

            <div class="form-group">
                <label for="password" th:utext="#{screen.pm.enterpsw}">Enter Password:</label>&nbsp;
                <input class="form-control" type="password" id="password" th:field="*{password}" required/>
            </div>
            <div class="form-group">
                <label for="confirmedPassword" th:utext="#{screen.pm.confirmpsw}">Confirm Password:</label>&nbsp;
                <input class="form-control" type="password" id="confirmedPassword" th:field="*{confirmedPassword}"
                       required/>
            </div>

            <div class="form-group">
                <div class="progress">
                    <div id="strengthProgressBar" class="progress-bar">progress bar</div>
                </div>
                <p id="password-strength-text"/>
            </div>


            <div class="form-group text-center">
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                <input type="hidden" name="_eventId" value="submit"/>
                <input class="btn btn-submit"
                       name="submit"
                       accesskey="s"
                       th:value="#{screen.pm.button.submit}"
                       value="SUBMIT"
                       id="submit"
                       type="submit"
                       disabled="true"/>
                &nbsp;
                <input
                        class="btn btn-danger"
                        name="cancel"
                        accesskey="c"
                        th:value="#{screen.pm.button.cancel}"
                        value="CANCEL"
                        type="button"
                        onclick="location.href = location.href;"/>
            </div>
        </form>
        <p th:unless="${passwordManagementEnabled}"
           th:utext="${expiredPass} ? #{screen.expiredpass.message} : #{screen.mustchangepass.message}">Expired/Must
            Change Password text</p>
    </div>
</main>
</body>
</html>
