<div class="tab-pane fade in active" id="1a">
  <p></p>
  <app-enabled [service]="tabService.service"></app-enabled>
  <app-serviceid [service]="tabService.service"></app-serviceid>
  <app-servicename [service]="tabService.service"></app-servicename>
  <app-servicedesc [service]="tabService.service"></app-servicedesc>
  <app-themeid [service]="tabService.service"></app-themeid>
  <app-logo [service]="tabService.service"></app-logo>
  <app-linkrefs [service]="tabService.service"></app-linkrefs>
</div>
