<md-card class="tabCard">
  <md-card-title>
    <h5>Basics</h5>
  </md-card-title>
  <div class="cardContent">
    <app-enabled></app-enabled>
    <app-serviceid></app-serviceid>
    <app-servicename></app-servicename>
    <app-servicedesc></app-servicedesc>
    <app-themeid></app-themeid>
  </div>
</md-card>
<md-card class="tabCard">
  <md-card-title>
    <h5>Reference Links</h5>
  </md-card-title>
  <div class="cardContent">
    <app-logo></app-logo>
    <app-linkrefs></app-linkrefs>
  </div>
</md-card>
