<div class="tab-pane fade in active" id="1a">
  <p></p>
  <app-enabled [serviceData]="tabService.serviceData"></app-enabled>
  <app-serviceid [serviceData]="tabService.serviceData"></app-serviceid>
  <app-servicename [serviceData]="tabService.serviceData"></app-servicename>
  <app-servicedesc [serviceData]="tabService.serviceData"></app-servicedesc>
  <app-themeid [serviceData]="tabService.serviceData"></app-themeid>
  <app-logo [serviceData]="tabService.serviceData"></app-logo>
  <app-linkrefs [serviceData]="tabService.serviceData"></app-linkrefs>
</div>
