<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<body>
<span th:fragment="main">
    <div class="attribute-tab w-100 d-none" id="attribute-tab-9">

        <div class="jqueryui-tabs" id="authentication-tabs">
              <ul>
                <li><a id="authenticationhandlers" href="#authenticationhandlers-tab">Authentication Handlers</a></li>
                <li><a id="authenticationpolicies" href="#authenticationpolicies-tab">Authentication Policies</a></li>
                <li class="d-none"><a id="delegatedclients" href="#delegatedclients-tab">External Identity Providers</a></li>
                <li class="d-none"><a id="passwordmanagement" href="#passwordmanagement-tab">Password Management</a></li>
              </ul>


            <div id="authenticationhandlers-tab">
                <table id="authenticationHandlersTable" class="mdc-data-table__table table table-striped noborder">
                    <thead>
                    <tr class="mdc-data-table__header-row">
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Type</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Handler</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">State</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Order</th>
                    </tr>
                    </thead>
                    <tbody class="mdc-data-table__content">
                    </tbody>
                </table>

                <div id="addAuthenticationHandlerDialogFields" style="display:none;">
                    <div th:replace="~{fragments/switchbutton :: switchbutton (id='showAuthnHandlerEditor', label='#Show Configuration', cssClass='always-show pb-2 pt-2', selected=true, dataAttrs='changeEventHandler=toggleAuthnHandlerEditorVisibility')}"/>
                    <div th:replace="~{fragments/switchbutton :: switchbutton (id='showAuthnHandlerAdvancedOptions', label='#Show Advanced Options', cssClass='always-show pb-2 pt-2 pl-2', selected=false, dataAttrs='changeEventHandler=toggleAuthnHandlerAdvancedOptions')}"/>
                    <div th:replace="~{fragments/switchbutton :: switchbutton (id='authnHandlerSubtreeSearch', label='#Subtree Search', selected=true, cssClass='LDAP hide pt-1 pb-1 advanced-option', paramName='subtree-search')}"/>
                    <div th:replace="~{fragments/switchbutton :: switchbutton (id='authnHandlerFollowReferrals', label='#Follow Referrals', cssClass='LDAP hide mt-1 pb-1 advanced-option', paramName='follow-referrals')}"/>
                    <div th:replace="~{fragments/switchbutton :: switchbutton (id='authnHandlerUseStartTls', label='#Use StartTLS', cssClass='LDAP hide mt-1 pb-1 advanced-option', paramName='use-start-tls')}"/>
                    <div th:replace="~{fragments/switchbutton :: switchbutton (id='authnHandlerEnhanceWithEntryResolver', label='#Enhance With Entry Resolver', cssClass='LDAP hide mt-1 pb-1 advanced-option', paramName='enhance-with-entry-resolver')}"/>
                    <div th:replace="~{fragments/switchbutton :: switchbutton (id='authnHandlerCollectDnAttribute', label='#Collect DN Attribute', cssClass='LDAP hide mt-1 pb-1 advanced-option', paramName='collect-dn-attribute')}"/>
                    <div th:replace="~{fragments/switchbutton :: switchbutton (id='authnHandlerAllowMultiplePrincipalAttributeValues', label='#Allow Multiple Principal Attribute Values', cssClass='LDAP hide mt-1 pb-1 advanced-option', paramName='allow-multiple-principal-attribute-values')}"/>
                    <div th:replace="~{fragments/switchbutton :: switchbutton (id='authnHandlerAllowMissingPrincipalAttributeValue', label='#Allow Missing Principal Attribute Value', cssClass='LDAP hide mt-1 pb-1 advanced-option', selected=true, paramName='allow-missing-principal-attribute-value')}"/>
                    <div th:replace="~{fragments/switchbutton :: switchbutton (id='authnHandlerValidateOnCheckout', label='#Validate On Checkout', cssClass='LDAP hide mt-1 pb-1 advanced-option', selected=true, paramName='validate-on-checkout')}"/>
                    <div th:replace="~{fragments/switchbutton :: switchbutton (id='authnHandlerValidatePeriodically', label='#Validate Periodically', cssClass='LDAP hide mt-1 pb-1 advanced-option', selected=true, paramName='validate-periodically')}"/>
                    <div th:replace="~{fragments/switchbutton :: switchbutton (id='authnHandlerFailFast', label='#Fail Fast', cssClass='LDAP hide mt-1 pb-1 advanced-option', selected=true, paramName='fail-fast')}"/>
                </div>
            </div>
            
            <div id="authenticationpolicies-tab">
               <table id="authenticationPoliciesTable" class="mdc-data-table__table table table-striped noborder">
                    <thead>
                    <tr class="mdc-data-table__header-row">
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Policy</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Order</th>
                    </tr>
                    </thead>
                    <tbody class="mdc-data-table__content">
                    </tbody>
                </table>
            </div>


            <div id="delegatedclients-tab">
               <section id="delegatedClientsContainer" class="d-none">
                    <table id="delegatedClientsTable" class="mdc-data-table__table table table-striped noborder">
                        <thead>
                        <tr class="mdc-data-table__header-row">
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Type</th>
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Field</th>
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Value(s)</th>
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col"></th>
                        </tr>
                        </thead>
                        <tbody class="mdc-data-table__content">
                        </tbody>
                    </table>

                    <div class="mdc-dialog modal" id="delegatedClientsSaml2Dialog" role="alertdialog"
                         aria-modal="true" aria-labelledby="delegatedClientsSaml2-title"
                         aria-describedby="dialog-content">
                        <div class="mdc-dialog__container w-100 modal-dialog">
                            <div class="mdc-dialog__surface mw-100 w-75 modal-content min-height-60">
                                <div class="mdc-dialog__content modal-body" id="delegatedClientsSaml2-content">
                                    <div class="ace-editor ace-absolute" id="delegatedClientsSaml2Editor"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mdc-dialog__scrim"></div>
                    </div>
                 </section>
            </div>

            <div id="passwordmanagement-tab">
                <h3 class="mt-2 mb-3">Initiate Password Reset</h3>
                <form id="fmPasswordReset" class="d-block" onsubmit="return false;">
                    <section class="cas-field form-group my-2 mdc-input-group d-flex">
                        <div class="mdc-input-group-field mdc-input-group-field-append w-100">
                            <label for="pmUsername"
                                   class="mdc-text-field mdc-text-field--outlined control-label mdc-text-field--with-trailing-icon">
                                <span class="mdc-notched-outline">
                                    <span class="mdc-notched-outline__leading"></span>
                                    <span class="mdc-notched-outline__notch">
                                        <span class="mdc-floating-label">Username</span>
                                    </span>
                                    <span class="mdc-notched-outline__trailing"></span>
                                </span>
                                <input class="mdc-text-field__input form-control" type="text"
                                       name="pmUsername" id="pmUsername" size="50"
                                       autocomplete="off" required/>
                            </label>
                        </div>
                    </section>
                    <section class="cas-field form-group my-2 mdc-input-group d-flex">
                        <div class="mdc-input-group-field mdc-input-group-field-append w-100">
                            <label for="pmService"
                                   class="mdc-text-field mdc-text-field--outlined control-label mdc-text-field--with-trailing-icon">
                                <span class="mdc-notched-outline">
                                    <span class="mdc-notched-outline__leading"></span>
                                    <span class="mdc-notched-outline__notch">
                                        <span class="mdc-floating-label">Service</span>
                                    </span>
                                    <span class="mdc-notched-outline__trailing"></span>
                                </span>
                                <input class="mdc-text-field__input form-control" type="text"
                                       name="pmService" id="pmService" size="50"
                                       autocomplete="off" required/>
                            </label>
                        </div>
                    </section>
                    <div class="d-flex">
                        <button type="button" name="pmInitiateButton" id="pmInitiateButton" class="mdc-button mdc-button--raised">
                            <span class="mdc-button__label"><i class="mdc-tab__icon mdi mdi-lock-reset" aria-hidden="true"></i>Initiate</span>
                        </button>
                    </div>
                </form>

                <hr/>
                <h3 class="mt-3 mb-3">Password History</h3>
                <form id="fmPasswordHistory" class="d-block" onsubmit="return false;">
                <div class="d-flex align-items-center mb-2" id="pmHistorySearchContainer">
                    <label for="pmHistoryUsername"
                           class="mdc-text-field mdc-text-field--outlined control-label mdc-text-field--with-trailing-icon mr-2">
                        <span class="mdc-notched-outline">
                            <span class="mdc-notched-outline__leading"></span>
                            <span class="mdc-notched-outline__notch">
                                <span class="mdc-floating-label">Username</span>
                            </span>
                            <span class="mdc-notched-outline__trailing"></span>
                        </span>
                        <input class="mdc-text-field__input form-control" type="text"
                               name="pmHistoryUsername" id="pmHistoryUsername" size="40"
                               autocomplete="off" required/>
                    </label>
                </div>
                <button type="button" id="pmFetchHistoryButton" class="mdc-button mdc-button--raised">
                    <span class="mdc-button__label"><i class="mdc-tab__icon mdi mdi-history" aria-hidden="true"></i>Fetch History</span>
                </button>
                </form>
                <table id="pmPasswordHistoryTable" class="mdc-data-table__table table table-striped noborder">
                    <thead>
                    <tr class="mdc-data-table__header-row">
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">ID</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Username</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Password</th>
                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Date</th>
                    </tr>
                    </thead>
                    <tbody class="mdc-data-table__content">
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</span>
</body>
</html>
