<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<body>
<span th:fragment="main">
    <div class="attribute-tab w-100 mdc-data-table table-responsive noborder" id="attribute-tab-0">
            <table id="applicationsTable" class="mdc-data-table__table table table-striped noborder">
                <thead>
                <tr class="mdc-data-table__header-row">
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col"></th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Service</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">URL</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Description</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col"></th>
                </tr>
                </thead>
                <tbody class="mdc-data-table__content">
                </tbody>
            </table>

            <div width="10%">
                <div class="mdc-touch-target-wrapper">
                    <button id="newService" class="mdc-button mdc-button--raised" aria-label="Create">
                        <span class="mdc-button__label"><i class="mdc-tab__icon mdi mdi-plus" aria-hidden="true"></i>New</span>
                    </button>
                    <input type="file" id="serviceFileInput" style="display: none;">
                    <button id="importService" class="mdc-button mdc-button--raised" aria-label="Import">
                         <span class="mdc-button__label"><i class="mdc-tab__icon mdi mdi-file-import" aria-hidden="true"></i>Import</span>
                    </button>
                    <button id="exportAll" class="mdc-button mdc-button--raised" aria-label="Export All">
                         <span class="mdc-button__label"><i class="mdc-tab__icon mdi mdi-file-export" aria-hidden="true"></i>Export</span>
                    </button>
                    <button id="reloadAll" class="mdc-button mdc-button--raised" aria-label="Reload" onclick="fetchServices();">
                         <span class="mdc-button__label"><i class="mdc-tab__icon mdi mdi-refresh" aria-hidden="true"></i>Reload</span>
                    </button>
                </div>
            </div>
        
            <div class="mdc-dialog modal" id="editServiceDialog" role="alertdialog"
                aria-modal="true" aria-labelledby="edit-service-dialog-title" aria-describedby="dialog-content">
                <div class="mdc-dialog__container w-100 modal-dialog">
                    <div class="mdc-dialog__surface mw-100 w-75 modal-content min-height-60">
                        <div class="mdc-dialog__content modal-body" id="edit-service-dialog-content">
                            <div class="ace-editor ace-absolute" id="serviceEditor"></div>
                        </div>
                        <footer class="mdc-dialog__actions modal-footer pr-4">
                            <button id="saveService" type="button"
                                    class="mdc-button mdc-button--raised btn btn-outline-secondary">
                                <span class="mdc-button__label"><i class="mdc-tab__icon mdi mdi-content-save" aria-hidden="true"></i>Save</span>
                            </button>
                            <button type="button" class="mdc-button mdc-button--outline btn btn-outline-secondary"
                                    data-mdc-dialog-action="accept"
                                    data-mdc-dialog-button-default data-bs-dismiss="modal">
                                <span class="mdc-button__label">Close</span>
                            </button>
                        </footer>
                    </div>
                </div>
                <div class="mdc-dialog__scrim"></div>
            </div>
        

            <script type="text/javascript">
                function fetchServices() {
                    $.get(`${casServerPrefix}/actuator/registeredServices`, response => {

                        let applicationsTable = $("#applicationsTable").DataTable();
                        applicationsTable.clear();
                        for (const service of response[1]) {
                            let icon = "mdi-web-box";
                            const serviceClass = service["@class"];
                            if (serviceClass.includes("CasRegisteredService")) {
                                icon = "mdi-alpha-c-box-outline";
                            } else if (serviceClass.includes("SamlRegisteredService")) {
                                icon = "mdi-alpha-s-box-outline";
                            } else if (serviceClass.includes("OAuthRegisteredService")) {
                                icon = "mdi-alpha-o-circle-outline";
                            } else if (serviceClass.includes("OidcRegisteredService")) {
                                icon = "mdi-alpha-o-box-outline";
                            }

                            let serviceDetails = `<span serviceId="${service.id}" title='${service.name}'>${service.name}</span>`;
                            serviceDetails += "<p>";
                            if (service.informationUrl) {
                                serviceDetails += `<a target="_blank" href='${service.informationUrl}'>Information URL</a>`;
                            }
                            if (service.privacyUrl) {
                                serviceDetails += `&nbsp;<a target="_blank" href='${service.privacyUrl}'>Privacy URL</a>`;
                            }

                            let serviceButtons = `
                                 <button type="button" name="editService" href="#" serviceId='${service.id}'
                                        class="mdc-button mdc-button--raised btn btn-link min-width-32x">
                                    <i class="mdi mdi-pencil fas fa-eye min-width-32x" aria-hidden="true"></i>
                                </button>
                                <button type="button" name="deleteService" href="#" serviceId='${service.id}'
                                        class="mdc-button mdc-button--raised btn btn-link min-width-32x">
                                    <i class="mdi mdi-delete fas fa-eye min-width-32x" aria-hidden="true"></i>
                                </button>
                            `;
                            applicationsTable.row.add({
                                0: `<i title='${serviceClass}' class='mdi ${icon}'></i>`,
                                1: `${serviceDetails}`,
                                2: `<span serviceId='${service.id}' class="text-wrap">${service.serviceId}</span>`,
                                3: `<span serviceId='${service.id}' class="text-wrap">${service.description}</span>`,
                                4: `<span serviceId='${service.id}'>${serviceButtons.trim()}</span>`
                            });
                        }
                        applicationsTable.draw();
                        initializeServiceButtons();
                    }).fail((xhr, status, error) => {
                        console.error("Error fetching data:", error);
                    });
                }

                function initializeFooterButtons() {
                    let newServiceButton = document.getElementById("newService");
                    newServiceButton.addEventListener("click", event => {

                        const editServiceDialogElement = document.getElementById("editServiceDialog");
                        let editServiceDialog = window.mdc.dialog.MDCDialog.attachTo(editServiceDialogElement);
                        const editor = initializeAceEditor("serviceEditor");
                        editor.setValue("");
                        editor.gotoLine(1);

                        $(editServiceDialogElement).attr("newService", true);
                        editServiceDialog["open"]();
                        event.preventDefault();
                    }, false);

                    let importServiceButton = document.getElementById("importService");
                    importServiceButton.addEventListener("click", event => {
                        $("#serviceFileInput").click();

                        $("#serviceFileInput").change(event => {
                            const file = event.target.files[0];

                            const reader = new FileReader();
                            reader.readAsText(file);
                            reader.onload = e => {
                                const fileContent = e.target.result;
                                console.log("File content:", fileContent);

                                $.ajax({
                                    url: `${casServerPrefix}/actuator/registeredServices`,
                                    type: "PUT",
                                    contentType: "application/json",
                                    data: fileContent,
                                    success: response => {
                                        console.log("File upload successful:", response);
                                        $("#reloadAll").click();
                                    },
                                    error: (xhr, status, error) => {
                                        console.error("File upload failed:", error);
                                    }
                                });
                            };

                        });

                        event.preventDefault();
                    }, false);

                    let exportServiceButtons = document.getElementsByName("exportService");
                    exportServiceButtons.forEach(exportServiceButton => {
                        exportServiceButton.addEventListener("click", event => {
                            let serviceId = $(exportServiceButton).attr("serviceId");
                            fetch(`${casServerPrefix}/actuator/registeredServices/export/${serviceId}`)
                                .then(response => {
                                    const filename = response.headers.get("filename");
                                    response.blob().then(blob => {
                                        const link = document.createElement("a");
                                        link.href = window.URL.createObjectURL(blob);
                                        link.download = filename;
                                        document.body.appendChild(link);
                                        link.click();
                                        document.body.removeChild(link);
                                    });

                                })
                                .catch(error => console.error("Error fetching file:", error));
                            event.preventDefault();
                        }, false);
                    });

                    let exportAllButton = document.getElementById("exportAll");
                    exportAllButton.addEventListener("click", event => {
                        fetch(`${casServerPrefix}/actuator/registeredServices/export`)
                            .then(response => {
                                const filename = response.headers.get("filename");
                                response.blob().then(blob => {
                                    const link = document.createElement("a");
                                    link.href = window.URL.createObjectURL(blob);
                                    link.download = filename;
                                    document.body.appendChild(link);
                                    link.click();
                                    document.body.removeChild(link);
                                });

                            })
                            .catch(error => console.error("Error fetching file:", error));
                        event.preventDefault();
                    }, false);
                }

                function initializeServiceButtons() {
                    let deleteServiceButtons = document.getElementsByName("deleteService");
                    deleteServiceButtons.forEach(deleteServiceButton => {
                        deleteServiceButton.addEventListener("click", event => {
                            let caller = event.target || event.srcElement;
                            let serviceId = $(caller.parentElement).attr("serviceId");

                            let result = confirm("Are you sure you want to delete this entry?");
                            if (result) {
                                $.ajax({
                                    url: `${casServerPrefix}/actuator/registeredServices/${serviceId}`,
                                    type: "DELETE",
                                    success: response => {
                                        console.log("Resource deleted successfully:", response);
                                        let nearestTr = $(caller).closest("tr");

                                        let applicationsTable = $("#applicationsTable").DataTable();
                                        applicationsTable.row(nearestTr).remove().draw();
                                    },
                                    error: (xhr, status, error) => {
                                        console.error("Error deleting resource:", error);
                                    }
                                });
                            }
                            event.preventDefault();
                        }, false);
                    });

                    let editServiceDialog = window.mdc.dialog.MDCDialog.attachTo(document.getElementById("editServiceDialog"));
                    let editServiceButtons = document.getElementsByName("editService");
                    const editor = initializeAceEditor("serviceEditor");
                    editServiceButtons.forEach(editServiceButton => {
                        editServiceButton.addEventListener("click", event => {
                            let caller = event.target || event.srcElement;

                            let serviceId = $(caller.parentElement).attr("serviceId");
                            $.get(`${casServerPrefix}/actuator/registeredServices/${serviceId}`, response => {
                                const value = JSON.stringify(response, null, 4);
                                editor.setValue(value, -1);
                                editor.gotoLine(1);
                            }).fail((xhr, status, error) => {
                                console.error("Error fetching data:", error);
                            });

                            const editServiceDialogElement = document.getElementById("editServiceDialog");
                            $(editServiceDialogElement).attr("newService", false);
                            editServiceDialog["open"]();
                            event.preventDefault();

                        }, false);
                    });

                    let saveServiceButton = document.getElementById("saveService");
                    saveServiceButton.addEventListener("click", event => {
                        let result = confirm("Are you sure you want to update this entry?");
                        if (result) {
                            const value = editor.getValue();

                            const editServiceDialogElement = document.getElementById("editServiceDialog");
                            const isNewService = $(editServiceDialogElement).attr("newService") === "true";

                            $.ajax({
                                url: `${casServerPrefix}/actuator/registeredServices`,
                                type: isNewService ? "POST" : "PUT",
                                contentType: "application/json",
                                data: value,
                                success: response => {
                                    console.log("Update successful:", response);
                                    editServiceDialog["close"]();
                                    $("#reloadAll").click();
                                },
                                error: (xhr, status, error) => {
                                    console.error("Update failed:", error);
                                }
                            });
                        }
                        event.preventDefault();
                    }, false);
                }
                
                document.addEventListener("DOMContentLoaded", () => {
                    $("#applicationsTable").DataTable({
                        pageLength: 25,
                        autoWidth: false,
                        columnDefs: [
                            {width: "3%", targets: 0},
                            {width: "12%", targets: 1},
                            {width: "17%", targets: 2},
                            {width: "59%", targets: 3},
                            {width: "9%", targets: 4},
                        ],
                        drawCallback: settings => {
                            $("#applicationsTable tr").addClass("mdc-data-table__row");
                            $("#applicationsTable td").addClass("mdc-data-table__cell");
                        }
                    });
                    fetchServices();
                    initializeFooterButtons();
                });
            </script>

        </div>
</span>
</body>
</html>
