<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<body>
<span th:fragment="main">
    <div class="attribute-tab w-100 d-none" id="attribute-tab-3">
        <table id="scheduledTasksTable" class="mdc-data-table__table table table-striped noborder">
            <thead>
            <tr class="mdc-data-table__header-row">
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Task</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Field</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Value</th>
            </tr>
            </thead>
            <tbody class="mdc-data-table__content">
            </tbody>
        </table>
        
    </div>
</span>
</body>
</html>
